<% @page_title = "Doggie Daycare" %>
<% @page_description = "New Description" %>

<!-- <div class="ipage-header opink simple left">
	<div class="inside">
		<h1>Doggie Daycare</h1>
	</div>
</div> -->
<div class="pup-header inline">
	<div class="inside med">
		<div class="full">
			<div class="tbox">
				<h1>Woof Gang Doggie Day Care</h1>
				<h2>Woof Gang Doggie Day Care offers a clean, safe, and fun environment for monitored interaction with other dogs.</h2>
			</div>
		</div>
	</div>
</div>


<div class="services-list">
	<div class="inside med">
		<div class="serve-box dc1">
			<div class="text">
				<h4>You'll Love Woof Gang Doggie Day Care!</h4>
				<p>Our day care programs are staffed with well-trained, dog-lovers who put your pet’s safety above all else.
					We have plenty of room to run around, lots of human attention, and endless canine companionship.
				</p>

				<h4>Dogs Love Woof Gang Doggie Day Care!</h4>
				<p>If you work long hours, Woof Gang Doggie Day Care benefits both you and your pet. Our focus is keeping your dog safe, well, and spoiled!</p>

				<!--

				<p>Stores with Doggie Day Care:<br>
					Woof Gang Bakery & Grooming Boynton Beach<br>
					12393 Hagen Ranch Road<br>
					Boynton Beach, FL 33437<br>
					561-739-8288
				</p> -->

				<!-- <p>*Doggie Day Care is not offered at all of our locations. Contact your local Woof Gang Bakery for up-to-date services.</p> -->
			</div>

			<div class="img-box">
				<%= image_tag('adobe-school.jpg', class: 'img-responsive sb-img') %>
			</div>
		</div>

		<div class="serve-box two">
			<div class="img-box"><%= image_tag('pup-group.png', class: 'img-responsive sb-img') %></div>

			<div class="text">
				<p>
					Woof Gang Doggie Day Care requires an initial screening process to ensure that your dog is fit to join our program.
					Each dog must be spayed or neutered, with up-to-date vaccinations for parvo, bordatella, rabies, and DHLP.
				</p>
				<p>
					During your dog’s initial visit, he/she will be closely watched.
					If your dog meets socialization requirements, and enjoys mixing with other dogs, then chances are they will thrive at doggie daycare.
				</p>
			</div>
		</div>
	</div>
</div>
