<% @page_title = "Doggie Daycare" %>
<% @page_description = "New Description" %>

<div class="ipage-header opink simple left">
	<div class="inside">
		<h1>Doggie Daycare</h1>
	</div>
</div>


<div class="services-list">
	<div class="inside">
		<div class="serve-box daycare">
			<div class="text">
				<h3>Doggie Daycare</h3>

				<p>
					Woof Gang Doggie Day Care offers a clean, safe environment for monitored interaction with other dogs.
					Our programs are staffed with well-trained individuals who put your dog’s safety above all else.
					Our intimate atmosphere provides individual attention that ensures the needs of each pet are always being met.
				</p>

				<p>
					Woof Gang Doggie Day Care requires an initial screening process to ensure that your dog is fit to join our program.
					Your dog must be spayed or neutered, with up-to-date vaccinations for parvo, bordatella, rabies, and DHLP.
					During your dog’s initial visit, he/she will be closely watched.
					If your dog meets socialization requirements, and enjoys mixing with other dogs, then chances are they will thrive at doggie daycare.
				</p>

				<p>
					Dogs love Woof Gang Doggie Day Care. We have room to run around, lots of human attention, and plenty of canine companionship.
					If you work long hours, Woof Gang Doggie Day Care benefits both you and your pet.
					Our focus is keeping your dog safe, well, and spoiled!
				</p>

				<p>Stores with Doggie Day Care:<br>
					Woof Gang Bakery & Grooming Boynton Beach<br>
					12393 Hagen Ranch Road<br>
					Boynton Beach, FL 33437<br>
					561-739-8288
				</p>

				<p>*Doggie Day Care is not offered at all of our locations. Contact your local Woof Gang Bakery for up-to-date services.</p>
			</div>

			<div class="img-box">
				<%= image_tag('pup-line.jpg', class: 'img-responsive sb-img') %>
			</div>
		</div>
	</div>
</div>
