<% @page_title = "Doggie Daycare" %>
<% @page_description = "New Description" %>

<div class="pup-header inline">
	<div class="inside med2">
		<div class="full">
			<div class="tbox">
				<h1>Doggie Day Care</h1>
				<h2>Woof Gang Doggie Day Care offers a clean, safe, and fun environment for monitored interaction with other dogs.</h2>
			</div>
		</div>
	</div>
</div>

<div class="services-list">
	<div class="inside med">
		<div class="serve-box dc1">
			<div class="text">
				<h4>You'll Love Woof Gang Doggie Day Care!</h4>
				<p>Our day care programs are staffed with well-trained, dog-lovers who put your pet’s safety above all else.
					We have plenty of room to run around, lots of human attention, and endless canine companionship.
				</p>

				<h4>Dogs Love Woof Gang Doggie Day Care!</h4>
				<p>If you work long hours, Woof Gang Doggie Day Care benefits both you and your pet. Our focus is keeping your dog safe, well, and spoiled!</p>
			</div>

			<div class="img-box">
				<%= image_tag('bully-school.jpg', class: 'img-responsive sb-img') %>
			</div>
			<div class="bone-border"><%= image_tag('bone.png', class: 'img-responsive icon', alt: '') %></div>
		</div>

		<div class="serve-box two">
			<div class="text">
				<p>
					Woof Gang Doggie Day Care requires an initial screening process to ensure that your dog is fit to join our program.
					Each dog must be spayed or neutered, with up-to-date vaccinations for parvo, bordatella, rabies, and DHLP.
				</p>
				<p>
					During your dog’s initial visit, he/she will be closely watched.
					If your dog meets socialization requirements, and enjoys mixing with other dogs, then chances are they will thrive at doggie daycare.
				</p>
			</div>
			<div class="img-box"><%= image_tag('pup-group.png', class: 'img-responsive sb-img') %></div>
		</div>
	</div>
</div>

<div class="full">
	<div class="inside">
		<div class="disc-banner">
			<div class="text">
				<h4>Doggie Day Care is not offered at all of our locations. Stores offering Doggie Daycare:</h4>
				<p><%= link_to "Woof Gang Bakery & Grooming Boynton Beach", "/locations/woof-gang-bakery-grooming-boynton-beach" %></p>
			</div>
		</div>
	</div>
</div>
