<% @page_title = "Franchise Process" %>
<% @page_description = "New Description" %>
<div id="main" class="sidebar-none sidebar-divider-off"><!-- class="sidebar-none", class="sidebar-left", class="sidebar-right" -->
<div class="main-gradient"></div>

<div class="wf-wrap">
	<div class="wf-container-main">
		<div id="content" class="content" role="main">
			<div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_tta-container" data-vc-action="collapse" data-vc-tta-autoplay="{&quot;delay&quot;:10000}"><div class="vc_general vc_tta vc_tta-tabs vc_tta-color-white vc_tta-style-modern vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-gap-5 vc_tta-tabs-position-left vc_tta-controls-align-left "><div class="vc_tta-tabs-container"><ul class="vc_tta-tabs-list"><li class="vc_tta-tab vc_active" data-vc-tab><a href="#1460300810126-1145d573-57c5" data-vc-tabs data-vc-container=".vc_tta"><i class="vc_tta-icon fa fa-search"></i><span class="vc_tta-title-text">Researching Woof Gang Bakery</span></a></li><li class="vc_tta-tab" data-vc-tab><a href="#1460300810228-8d9614d7-6049" data-vc-tabs data-vc-container=".vc_tta"><i class="vc_tta-icon fa fa-line-chart"></i><span class="vc_tta-title-text">Investment Details: Starting Up a New Woof Gang Bakery</span></a></li><li class="vc_tta-tab" data-vc-tab><a href="#1460303888973-73cab6ff-224a" data-vc-tabs data-vc-container=".vc_tta"><i class="vc_tta-icon fa fa-users"></i><span class="vc_tta-title-text">Purchasing an Existing Woof Gang Bakery</span></a></li><li class="vc_tta-tab" data-vc-tab><a href="#1460304148905-f8fc0aaf-4b6d" data-vc-tabs data-vc-container=".vc_tta"><i class="vc_tta-icon fa fa-paw"></i><span class="vc_tta-title-text">Discovery Day</span></a></li><li class="vc_tta-tab" data-vc-tab><a href="#1460304411238-db453e1d-9e53" data-vc-tabs data-vc-container=".vc_tta"><i class="vc_tta-icon fa fa-graduation-cap"></i><span class="vc_tta-title-text">The Next Steps</span></a></li><li class="vc_tta-tab" data-vc-tab><a href="#1460304792503-54b18394-1a32" data-vc-tabs data-vc-container=".vc_tta"><i class="vc_tta-icon fa fa-flag-checkered"></i><span class="vc_tta-title-text">Grand Opening</span></a></li></ul></div>
			<div class="vc_tta-panels-container"><div class="vc_tta-panels"><div class="vc_tta-panel vc_active" id="1460300810126-1145d573-57c5" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1460300810126-1145d573-57c5" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-search"></i><span class="vc_tta-title-text">Researching Woof Gang Bakery</span></a></h4></div>
			<div class="vc_tta-panel-body"><div class="standard-arrow bullet-top"><p>Am I a good candidate?</p>
			<p>Capitalizing on the Pet Industry’s $64 billion industry, Woof Gang Bakery is an innovative concept seeking franchisees who meet the following criteria:</p>
			<ul>
				<li>Passion for being part of Woof Gang Bakery</li>
				<li>Desire to work and manage your store</li>
				<li>Prior experience owning or managing a business</li>
				<li>Willingness to be involved in day-to-day operations or have an experienced operations partner</li>
				<li>Willingness to follow Woof Gang Bakery training and operational standards</li>
				<li>Primary residence within 10 miles of the store</li>
				<li>Commitment to ethical business practices</li>
				<li>$500,000 net worth</li>
				<li>$100,000 liquidity</li>
			</ul>
			</div>
		</div>
		</div>
			<div class="vc_tta-panel" id="1460300810228-8d9614d7-6049" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1460300810228-8d9614d7-6049" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-line-chart"></i><span class="vc_tta-title-text">Investment Details: Starting Up a New Woof Gang Bakery</span></a></h4></div>
			<div class="vc_tta-panel-body"><div class="standard-arrow bullet-top"><p>The initial franchise fee is $35,000.</p>
			<p>Franchise agreement initial term is 10 years.</p>
			<p>Capital requirements of applicants include:</p>
			<ul>
				<li>$100,000 in liquid, unencumbered cash (cash and securities, not including retirement accounts)</li>
				<li>Additional resources and/or the ability to borrow or acquire the balance needed to open a Woof Gang Bakery</li>
			</ul>
			</div>
			<a href="http://woofgangbakery.com/wp-content/uploads/2016/04/Franchise-Process-Timeline.pdf" class="btn-shortcode dt-btn-l dt-btn default-btn-color default-btn-hover-color default-btn-bg-color default-btn-bg-hover-color pulse animate-element animation-builder" target="_blank" id="dt-btn-1"><i class="fa icon-download-1"></i><span>Download</span></a><div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>

			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>The total cost of investment for one store will be approximately $100,600 &#8211; $179,900, depending on the real estate site selected.</p>
					<p>Franchisees can expect to pay a monthly royalty fee, which is 5% of gross monthly sales. In addition, franchisees will contribute monthly to the National Advertising Fund as follows: 1% of gross monthly sales for annual revenues up to $500,000, or 0.5% of gross monthly sales for annual revenues exceeding $500,000.</p>
					<p>The average time from signing a franchise agreement to opening your doors can be up to four months. Securing a location can be the biggest variable to this time period. We recommend 1,000 to 2,500 square feet for your Woof Gang Bakery. Our stores average 1,488 square feet.</p>
				</div>

			</div>

			<div class="standard-arrow bullet-top"><p>Start-up &amp; initial training support include:</p>
			<ul>
				<li>Site selection</li>
				<li>Lease negotiation</li>
				<li>Layout and design</li>
				<li>Equipment search</li>
			</ul>
			</div>
		</div>
		</div>
			<div class="vc_tta-panel" id="1460303888973-73cab6ff-224a" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1460303888973-73cab6ff-224a" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-users"></i><span class="vc_tta-title-text">Purchasing an Existing Woof Gang Bakery</span></a></h4></div>
			<div class="vc_tta-panel-body"><div class="standard-arrow bullet-top"><p>The purchase of an existing franchise can offer distinct advantages over a startup franchise operation:</p>
			<ul>
				<li>The current revenue stream of an existing franchise has value and provides an advantage versus a brand new franchise.</li>
				<li>Sometimes, a new franchisee brings a fresh enthusiasm and creativity that will translate into additional sales</li>
				<li>An existing franchise is already equipped, staffed, and in operation</li>
				<li>Buying a franchise can save time and may save money</li>
				<li>For those who seek a franchise in a particular geographic area, a franchise resale may be the best option in cases where new franchise territories are limited</li>
			</ul>
			<p>We are happy to let you know of any stores that are currently for sale.</p>
			<p>Please be aware that purchasing an existing store will incur a transfer of ownership fee.</p>
			</div>
		</div>
		</div>
			<div class="vc_tta-panel" id="1460304148905-f8fc0aaf-4b6d" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1460304148905-f8fc0aaf-4b6d" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-paw"></i><span class="vc_tta-title-text">Discovery Day</span></a></h4></div>
			<div class="vc_tta-panel-body">
			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>You may have taken the time to speak with a current Woof Gang Bakery franchisee in order to gather some initial information about purchasing a franchise. Getting to know a store owner allows you to discuss the direction and goals of the company, talk openly about the pet industry, and go into more depth about your local market.</p>
					<p>At this point, most people either have genuine interest in Woof Gang Bakery or have decided that is it not for them. For those who have a genuine interest, it’s time for the corporate office to send a franchise application to see if you are qualified.</p>
					<p><strong>Step 1:</strong> Fill out a franchise application to see if you are qualified to purchase a franchise. Fax or email your application to the attention of Pam Evans. She will contact you within 7-10 business days for review.</p>
					<p>In the application review process, we want to learn about you and your reasons for wanting to own a Woof Gang Bakery location. Some of the right reasons can be: Wanting to be your own boss, tiring of traveling, wanting your family to work together, or just loving pets and quality service. It might be as simple as visiting a Woof Gang Bakery, talking with the owners, and wanting the same thing for yourself.</p>
					<p><strong>Step 2:</strong> Upon being qualified, you will be sent our Franchise Disclosure Document (FDD). You are required to sign <em>Contract C</em> and return it to us, showing that you have received the FDD. You will then be invited to Orlando to attend Discovery Day at the Woof Gang Bakery Corporate Office.</p>
					<p>Discovery Day is an opportunity for prospective franchisees to meet the corporate office team. It is a day spent at the office to get a feel for the corporate culture, as well as each department of the organization that supports our franchisees.</p>
					<p>Despite the assumption that a Discovery Day is solely for the benefit of the potential franchisee, Woof Gang Bakery also uses the occasion to develop first impressions of prospective franchisees and to informally assess their suitability for the business.</p>
					<p>By the time you attend Discovery Day, you have walked through a well-defined process. You have spent time on the telephone with a franchise representative, and possibly the president. You have reviewed the FDD and validated information with existing franchisees.</p>
					<p><strong>Step 3:</strong> Plan with the corporate office the date and arrangements for your Discovery Day. You will enjoy 1 night of hotel stay on us! Discovery Day starts at 9am at the corporate office. You will spend time with the franchise support team, and then you will have a tour of a few of our Woof Gang Bakery locations.</p>
					<p>Remember to make this a fun experience; you may end your Discovery Day as a Woof Gang Bakery Franchisee!</p>
				</div>

			</div>

			</div>
		</div>
			<div class="vc_tta-panel" id="1460304411238-db453e1d-9e53" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1460304411238-db453e1d-9e53" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-graduation-cap"></i><span class="vc_tta-title-text">The Next Steps</span></a></h4></div>
			<div class="vc_tta-panel-body">
			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>Potential franchisees have an important decision to make: Is purchasing a franchise the right choice for me?</p>
					<p><strong>Step 4:</strong> If the answer is yes, your next course of action will include sending your completed FDD and initial franchise fee to the corporate office.</p>
					<p>Once you are a Woof Gang Bakery franchisee, you will be sent the pre-opening timetable &amp; obligations, which are outlined in the Operations Manual. Next, your pre-opening marketing materials will be sent to you. Initial stock purchasing will begin with guidance from the Vendor Relations department. The last task to do before you open up shop is to complete your training.</p>
				</div>

			</div>

			</div>
		</div>
			<div class="vc_tta-panel" id="1460304792503-54b18394-1a32" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1460304792503-54b18394-1a32" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-flag-checkered"></i><span class="vc_tta-title-text">Grand Opening</span></a></h4></div>
			<div class="vc_tta-panel-body">
			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>We have a corporate team devoted to assisting with store openings. We will help you with materials and other resources that you can use to build up community awareness and excitement for your grand opening.</p>
					<p>During the minimum two-week soft opening period, Corporate will assist with the grand opening date and finalizing the details for the big day!</p>
				</div>

			</div>

			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
			<div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>

			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>Want to save for later? Download your own <strong>Franchise Process &amp; Timeline</strong>.</p>
				</div>

			</div>

			<a href="http://woofgangbakery.com/wp-content/uploads/2016/04/Franchise-Process-Timeline.pdf" class="btn-shortcode dt-btn-l dt-btn default-btn-color default-btn-hover-color default-btn-bg-color default-btn-bg-hover-color pulse animate-element animation-builder" target="_blank" id="dt-btn-2"><i class="fa icon-download-1"></i><span>Download</span></a></div>
		</div>
		</div>
		</div>

			</div>
			<!-- #content -->
			</div>
			<!-- .wf-container -->
			</div>
			<!-- .wf-wrap -->
			</div>
			<!-- #main -->
