<% @page_title = "Franchise FAQ's" %>
<% @page_description = "New Description" %>


	<div id="main" class="sidebar-right sidebar-divider-off"><!-- class="sidebar-none", class="sidebar-left", class="sidebar-right" -->


		<div class="main-gradient"></div>
		<div class="wf-wrap">
			<div class="wf-container-main">




			<div id="content" class="content" role="main">



					<div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space  vc_custom_1460166313739"  style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
<div
	class="vc_icon_element vc_icon_element-outer wpb_animate_when_almost_visible wpb_left-to-right vc_icon_element-align-center">
	<div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon fa fa-question-circle" style="color:#ec008c !important"></span></div>
</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner "><div class="wpb_wrapper"><q class="h3-size shortcode-pullquote wf-cell align-left wf-1"></p>
<h2 style="text-align: left;">Want to become a franchisee? Check out these common questions for answers.</h2>
<p></q></div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"  style="height: 70px" ><span class="vc_empty_space_inner"></span></div>
<div 	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Why Woof Gang Bakery?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">We want our franchisees to be successful! Woof Gang Bakery offers quality products and a unique concept that aligns with a growing, multi-billion dollar industry. Our stores are strategically positioned in upscale retail properties and we have an effective marketing program that creates awareness and drives business.</p>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">We provide extensive training to assist you with everything you need to know to operate your own successful Woof Gang Bakery.</p>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="673.9993800867455">We strive for success and will only award franchises to those who share that same drive and dedication.</p>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="168.49984502168655">To be successful in business, you have to enjoy the business you choose. If you love dogs, Woof Gang Bakery offers you the opportunity to combine your passion with the chance to run your own business in an exciting, growing industry.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div 	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What do I need to apply as a franchisee?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p dir="ltr" data-font-name="Helvetica" data-canvas-width="87.93728262073516">The key to continuing the success of Woof Gang Bakery and maintaining our mission is selecting the right people to join our team as franchise owners. We have multiple franchise owners who have diverse backgrounds and business experiences, however, many of our owners were once Woof Gang Bakery customers who were attracted by the quality of our products, our vision of service and our solid<br />
support infrastructure. A prospective franchisee must be willing to work hard, be committed to excellent customer service, be a team player and have the drive to succeed and control their own financial future.</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="624.9376186245912"></div>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="624.9376186245912">As we share our vision with others, we are looking for individuals who demonstrate the following:</p>
<ul>
<li>High degree of personal integrity</li>
<li>Dedication to upholding the Woof Gang Bakery mission</li>
<li>Entrepreneurial spirit</li>
<li>Proven ability to motivate and train others</li>
<li>Devote full-time best efforts to the day-to-day operation of a Woof Gang Bakery store</li>
<li>Complete a comprehensive training program and be proficient in all aspects of operating a Woof Gang Bakery store</li>
<li>Financial resources and the ability to manage them</li>
<li>Provide outstanding customer service</li>
<li>Active community participant</li>
</ul>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460164546005-438dd7a0-8cba'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Will I have to be involved in the business full-time?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p>The franchisee&#8217;s participation, supervision and their full and exclusive time in daily store operations is essential to building their business. For all partnerships, we require the general partner to participate personally in the direct operation of their Woof Gang Bakery store.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460164857367-f93a0334-0dcc'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What operational support does Woof Gang Bakery provide?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p dir="ltr" data-font-name="Helvetica" data-canvas-width="177.03744527612687">We understand that only through your success is the entire company successful. Our support services start prior to you becoming a Woof Gang Bakery franchisee. We will make sure that your market is right for a successful Woof Gang Bakery store. Then we will start with pre-opening support such as assistance in developing a business plan, site selection assistance, lease negotiation, equipment leases, store fixtures and opening inventory requirements.</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871"></div>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="35.769601066017145">Our support team is committed to providing the assistance that you need to get your business off to a smooth start and keep it performing productively. We will help you train your staff, stock and display your initial inventory, and recommend advertising programs to enhance your market presence. Within the first year of operation you will receive multiple store visits from a member of the support team. Plus, we will always be available should questions arise.</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871"></div>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">The Franchise Development Team works with the franchisees in the development of their market. Ultimately, like any small business, the franchisee is responsible for growing their enterprise. The franchise development team will assist and guide a franchisee in their pursuit of development. Along with enterprise training, Woof Gang Bakery provides established processes and technology that will assist in a franchisee&#8217;s pursuit to own a successful store.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div 	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What type of training do you provide?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p>Training is comprised of two segments that prepare franchisees on the operation of the store. The first segment is done in a training store. The final segment is done at your new store location with a Woof Gang Bakery field representative on hand to assist.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460168391320-55e4f672-ea12'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4> How many employees will I need?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p>Woof Gang Bakery stores are built on the concept that one person can easily manage daily operations, including opening, serving customers, baking treats, stocking, cleaning and closing. Of course, peak retail seasons can be bustling, so extra help to provide excellent customer service during those times is highly recommended.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460168562569-409a9b36-d035'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Does Woof Gang Bakery help with marketing?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p>We sure do! We understand the importance in creating awareness and building the brand image in each of the communities we serve. Marketing campaigns are developed to support the overall positioning of the Woof Gang Bakery brand. Marketing supports these objectives by assisting franchise owners with implementing their own local advertising, marketing, print and promotions programs. New marketing tools and concepts are made available to our franchisees as they are developed.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460168616300-efda8b86-ab75'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Do all franchises buy products from the same vendors?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p>Yes. One of the benefits of joining an established franchise company is that solid relationships are in place with food distributors, product vendors, printing companies, equipment suppliers and others. Our purchasing department negotiates services and price agreements with approved suppliers and distributors. You will be provided the systems and products that are identified as the approved core menu to create brand alignment and to leverage the purchasing power of our company.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460169167264-08a0062d-8736'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Do you assist with site selection?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p dir="ltr" data-font-name="Helvetica" data-canvas-width="289.39520862464906">We are ready to assist you in locating a site for your Woof Gang Bakery. We have developed site selection criteria you can use as a guideline in locating your new store. While we do not select your site for you, we will be available to consult with you and offer recommendations based on our own site selection experience. We will review your site choices and help you make an evaluation based on building criteria, market area, site characteristics and access.</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="289.39520862464906"></div>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="289.39520862464906">
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="182.4249654366875">We also have real estate guidelines in place:</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="173.44576516908649">
<ul>
<li>High visibility strip mall, approximately 600 to 3000 square feet.</li>
<li>Sources for strong foot traffic: trade area mix of offices and retail with surrounding upscale residential.</li>
<li>15,000 or more households with household income above $85,000.</li>
<li>Strong co-tenancy consisting of high-end retail, daily needs and/or lifestyle centers.</li>
<li>Minimum of 15,000 vehicles per day along the main frontage road.</li>
</ul>
</div>
</div>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460171453044-45a09a35-850c'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Do you offer advice on construction?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p>We will work with you to develop a layout to fit the particular characteristics of your site. Our construction personnel can visit your site and offer recommendations for necessary modifications. We can also assist you with remodeling enhancement programs, equipment specifications, source lists, document/permit review and design review.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460171531868-3d0f54e0-ae73'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What makes a Woof Gang Bakery Franchise the leader of the pack?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">Simply, we are the best at what we do. Following is an overview of what we offer:</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="22.742400677776335">
<ul>
<li>Treats cooked on site</li>
<li>Premium pet foods</li>
<li>Unique natural pet care products and merchandise</li>
<li>High repeat business</li>
<li>Ongoing franchisee support and training</li>
<li>Site selection assistance with demographic requirements and recommendations</li>
<li>Store design and construction support</li>
<li>Equipment procurement sources</li>
<li>Woof Gang Bakery® Recipe Book, complete with recipes, helpful tips and detailed instructions on preparing our exclusive line of gourmet treats</li>
<li>Grooming &amp; Self Service Grooming Stations</li>
<li>Established product suppliers and vendors</li>
<li>Effective marketing materials</li>
</ul>
</div>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460171708323-0b2c975d-91f4'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What does it cost to become a franchise owner?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><p dir="ltr" data-font-name="Helvetica" data-canvas-width="542.5350561688036">The approximate investment range for opening a Woof Gang Bakery store is between $100,600 to $179,900. For additional details on the investment range of a single store, please refer to the investment section in the Franchise Disclosure Document.</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="546.3180962815474"></div>
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="648.651539331321">This information appears in Item 7 of our Franchise Disclosure Document issued on January 4, 2012. You should review that Franchise Disclosure Document for a full discussion of this and other information.</p>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460172824194-db35d432-455b'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Is it possible to operate multiple Woof Gang Bakery stores?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><div dir="ltr" data-font-name="Helvetica" data-canvas-width="687.6742604942887">In addition to operating multiple stores through an Area Development Agreement, a franchisee may operate additional units through single franchise agreements once a successful track record has been established.</div>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460172860860-d6a87935-5057'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What are the ongoing fees?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><div dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">A 5% monthly royalty.</div>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div id='1460176259108-ae3c9c3e-d6e6'	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>Where is the brand expanding?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><div dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">Woof Gang Bakery continues to develop throughout America. Our expansion plans are quite ambitious and include many of the top U.S. markets. Consult with the corporate office to see what type of opportunities are in your market.</div>
</div>
</div>
<div class="vc_empty_space"  style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
<div 	class="vc_toggle dt-style vc_toggle_arrow vc_toggle_color_default  vc_toggle_size_lg   pulse animate-element dt-style">
	<div
		class="vc_toggle_title"><h4>What is the next step?</h4><i class="vc_toggle_icon"></i></div>
	<div
		class="vc_toggle_content"><div dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="89.63008267118452">The Woof Gang Bakery franchise is successful only if you, our franchisee is successful. Our franchise opportunity is available for consideration to individuals who meet certain financial and personal requirements.</p>
<div dir="ltr" data-font-name="Helvetica" data-canvas-width="4.092160121955871">
<p dir="ltr" data-font-name="Helvetica" data-canvas-width="206.1977661451721">If you feel that you follow the same vision that we do and would like to learn more, please complete and submit the franchise request form on www.WoofGangBakery.com. Once we review your information, we will send additional information to you about joining the Woof Gang Bakery &amp; Grooming family.</p>
</div>
</div>
</div>
</div>
<div class="ult-spacer spacer-5bbe2bd899aec" data-id="5bbe2bd899aec" data-height="40" data-height-mobile="40" data-height-tab="40" data-height-tab-portrait="" data-height-mobile-landscape="15" style="clear:both;display:block;"></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Not finding what you want? Reach out directly through our <a title="Contact Us" href="/contact-us/">Contact Us</a> page.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-spacer spacer-5bbe2bd8b6224" data-id="5bbe2bd8b6224" data-height="15" data-height-mobile="15" data-height-tab="15" data-height-tab-portrait="" data-height-mobile-landscape="5" style="clear:both;display:block;"></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Want to save for later? Download your own copy of the <strong>FAQs</strong>.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><a href="http://woofgangbakery.com/wp-content/uploads/2016/04/WGBFranchiseQandA.pdf" class="btn-shortcode dt-btn-l dt-btn default-btn-color default-btn-hover-color default-btn-bg-color default-btn-bg-hover-color pulse animate-element animation-builder" target="_blank" id="dt-btn-1"><i class="fa icon-download-1"></i><span>Download</span></a></div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">

		</div>
	</div>
</div></div></div></div>




</p></q></div></div></div></div></div></div></div></div>
