<% @page_title = "Franchise Process" %>
<% @page_description = "New Description" %>



<div class="franchise-header">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<h2>Join Our Team &amp; Become Part of the Furriest, Friendliest Franchise</h2>
				<h1>Woof Gang Bakery Franchise Process</h1>
				<!-- <h3>Over 100 stores nationwide</h3> -->
			</div>
		</div>
	</div>
</div>
<div class="abs-franch">
	<%= image_tag('adobe-team.png', class: 'img-abs', alt: '')%>
</div>



<div class="full-sec">
	<div class="inside">
		<ul class="uk-tab-bottom" uk-tab>
			<p class="bmargin0">Select a step from the list below to learn more about our process. </p>
			<li><a>1. Researching Woof Gang Bakery</a></li>
			<li><a>2. Investment Details: Starting Up a New Woof Gang Bakery</a></li>
			<li><a>3. Purchasing an Existing Woof Gang Bakery</a></li>
			<li><a>4. Discovery Day</a></li>
			<li><a>5. The Next Steps</a></li>
			<li><a>6. Grand Opening</a></li>
		</ul>

		<div class="process-img">
			<%= image_tag('bowls', class: 'img-responsive', alt: '') %>
		</div>

		<ul class="uk-switcher">
			<li class="step research">
				<h3>Researching Woof Gang Bakery</h3>

				<p>Am I a good candidate?</p>
				<ul class="paw">
					<p>Capitalizing on the Pet Industry’s $64 billion industry, Woof Gang Bakery is an innovative concept seeking franchisees who meet the following criteria:</p>
					<li>Passion for being part of Woof Gang Bakery</li>
					<li>Desire to work and manage your store</li>
					<li>Prior experience owning or managing a business</li>
					<li>Willingness to be involved in day-to-day operations or have an experienced operations partner</li>
					<li>Willingness to follow Woof Gang Bakery training and operational standards</li>
					<li>Primary residence within 10 miles of the store</li>
					<li>Commitment to ethical business practices</li>
					<li>$500,000 net worth</li>
					<li>$100,000 liquidity</li>
				</ul>
			</li>

			<li class="step investment">
				<h3>Investment Details: Starting Up a New Woof Gang Bakery</h3>

				<p>The initial franchise fee is $35,000.<br>
				Franchise agreement initial term is 10 years.</p>
				<ul class="paw">
					<p>Capital requirements of applicants include:</p>
					<li>$100,000 in liquid, unencumbered cash (cash and securities, not including retirement accounts)</li>
					<li>Additional resources and/or the ability to borrow or acquire the balance needed to open a Woof Gang Bakery</li>
				</ul>

				<div class="clearfix"></div><br>
				<a class="woof-link" href="http://woofgangbakery.com/wp-content/uploads/2016/04/Franchise-Process-Timeline.pdf">Download</a>
				<div class="clearfix"></div><br>

				<p>The total cost of investment for one store will be approximately $100,600 &#8211; $179,900, depending on the real estate site selected.</p>
				<p>Franchisees can expect to pay a monthly royalty fee, which is 5% of gross monthly sales. In addition, franchisees will contribute monthly to the National Advertising Fund as follows: 1% of gross monthly sales for annual revenues up to $500,000, or 0.5% of gross monthly sales for annual revenues exceeding $500,000.</p>
				<p>The average time from signing a franchise agreement to opening your doors can be up to four months. Securing a location can be the biggest variable to this time period. We recommend 1,000 to 2,500 square feet for your Woof Gang Bakery. Our stores average 1,488 square feet.</p>

				<ul class="paw">
					<p>Start-up &amp; initial training support include:</p>
					<li>Site selection</li>
					<li>Lease negotiation</li>
					<li>Layout and design</li>
					<li>Equipment search</li>
				</ul>
			</li>

			<li class="step purchasing">
				<h3>Purchasing an Existing Woof Gang Bakery</h3>

				<ul class="paw">
					<p>The purchase of an existing franchise can offer distinct advantages over a startup franchise operation:</p>
					<li>The current revenue stream of an existing franchise has value and provides an advantage versus a brand new franchise.</li>
					<li>Sometimes, a new franchisee brings a fresh enthusiasm and creativity that will translate into additional sales</li>
					<li>An existing franchise is already equipped, staffed, and in operation</li>
					<li>Buying a franchise can save time and may save money</li>
					<li>For those who seek a franchise in a particular geographic area, a franchise resale may be the best option in cases where new franchise territories are limited</li>
				</ul>

				<p>Contact us today if you are interested in learning which stores are currently for sale.<br>
				Please be aware that purchasing an existing store will incur a transfer of ownership fee.</p>
			</li>

			<li class="step discovery">
				<h3>Discovery Day</h3>

				<p>You may have taken the time to speak with a current Woof Gang Bakery franchisee in order to gather some initial information about purchasing a franchise. Getting to know a store owner allows you to discuss the direction and goals of the company, talk openly about the pet industry, and go into more depth about your local market.</p>

				<p>By this point, most people either have genuine interest in Woof Gang Bakery or have decided that is it not for them. For those who have a genuine interest, it’s time for the corporate office to send a franchise application to see if you are qualified.</p>

				<div class="dstep">
					<p><strong>Step 1:</strong><br>
					Fill out a franchise application to see if you are qualified to purchase a franchise. <b>Fax or email your application to the attention of Pam Evans.</b> She will contact you within 7-10 business days for review.</p>

					<p>In the application review process, we want to learn about you and your reasons for wanting to own a Woof Gang Bakery location.
					Some of the right reasons can be: Wanting to be your own boss, tiring of traveling, wanting your family to work together, or just loving pets and quality service. It might be as simple as visiting a Woof Gang Bakery, talking with the owners, and wanting the same thing for yourself.</p>
				</div>

				<div class="dstep">
					<p><strong>Step 2:</strong><br>
					Upon being qualified, you will be sent our Franchise Disclosure Document (FDD). You are required to sign <span class="it">Contract C</span> and return it to us, showing that you have received the FDD. You will then be invited to Orlando to attend Discovery Day at the Woof Gang Bakery Corporate Office.</p>

					<p>Discovery Day is an opportunity for prospective franchisees to meet the corporate office team. It is a day spent at the office to get a feel for the corporate culture, as well as each department of the organization that supports our franchisees.</p>

					<p>Despite the assumption that a Discovery Day is solely for the benefit of the potential franchisee, Woof Gang Bakery also uses the occasion to develop first impressions of prospective franchisees, and to informally assess their suitability for the business.</p>

					<p>By the time you attend Discovery Day, you have walked through a well-defined process. You have spent time on the telephone with a franchise representative, and possibly the president. You have reviewed the FDD, and validated information with existing franchisees.</p>
				</div>

				<div class="dstep">
					<p><strong>Step 3:</strong><br>
					Plan the date and arrangements for your Discovery Day with the corporate office. You will enjoy 1 night of hotel stay on us! Discovery Day starts at 9am at the corporate office. You will spend time with the franchise support team, and then you will have a tour of a few of our Woof Gang Bakery locations.</p>

					<p>Remember to make this a fun experience! You may end your Discovery Day as a Woof Gang Bakery Franchisee!</p>
				</div>
			</li>

			<li class="step next">
				<h3>The Next Steps</h3>

				<p>Potential franchisees have an important decision to make: <b>Is purchasing a franchise the right choice for me?</b></p>

				<p>If the answer is yes, then you move on to <strong>Step 4:</strong> <br>Sending your completed FDD and initial franchise fee to the corporate office.</p>

				<p>Once you are a Woof Gang Bakery franchisee, you will be sent the pre-opening timetable &amp; obligations, which are outlined in the Operations Manual. Next, your pre-opening marketing materials will be sent to you. Initial stock purchasing will begin, with guidance from the Vendor Relations department. The last task to do before you open up shop is to complete your training.</p>
			</li>

			<li class="step grand">
				<h3>Grand Opening</h3>
				<p>We have a corporate team devoted to assisting with store openings. We will help you with materials and other resources that you can use to build up community awareness and excitement for your grand opening.</p>

				<p>During the minimum, two-week soft opening period, Corporate will assist with the grand opening date and finalizing the details for the big day!</p>
			</li>
		</ul>
	</div>
</div>
