<% @page_title = "Franchise Inquires" %>
<% @page_description = "New Description" %>


<div class="franchise-header">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<h2>Join Our Team &amp; Become Part of the Furriest, Friendliest Franchise</h2>
				<h1>Woof Gang Bakery Franchise Inquiries</h1>
				<!-- <h3>Over 100 stores nationwide</h3> -->
			</div>
		</div>
	</div>
</div>
<div class="abs-franch">
	<%= image_tag('adobe-team.png', class: 'img-abs', alt: '')%>
</div>


<div class="full-sec inq">
	<div class="inside">

			Fields marked with an * are required
			First Name *

			Last Name *

			Email *

			Phone

			Address

			City

			State

			Zip

			Do you have retail experience?

			Yes

			No

			Please provide a few details about your background:

			What state do you want to open your store in?

			What city do you wish to open your store in?

			Cash available to invest:

			If you are awarded a franchise when will you be able to sign an agreement?

			Less than 3 months

			3 to 6 months

			Up to 12 months
			How did you hear about us?

			I agree that all of the above information is true. *

			What is thirteen minus 6? *
			<br>
			The submission of this application does not obligate the applicant to become a franchisee of Woof Gang Bakery nor does it obligate us to offer you a franchise.
			<br>



			For general inquires, comments and questions, please contact our corporate office:
			Woof Gang Bakery Corporate
			7575 Dr. Phillips Blvd, Suite 275
			Orlando, FL 32819
			P: 407-355-9210
			F: 877-554-1020
			info@woofgangbakery.com
	</div>
</div>
