<% @page_title = "Grooming" %>
<% @page_description = "New Description" %>

<!-- <div class="ipage-header opink simple left">
	<div class="inside">
		<h1>Grooming</h1>
	</div>
</div> -->


<div class="pup-header inline">
	<div class="inside med2">
		<div class="full">
			<div class="tbox">
				<h1>Woof Gang Grooming</h1>

				<p>
					We believe that regular, thorough grooming is an essential element in every dog’s health and well-being.
					Our spa menu includes a great selection of healthy and luxurious treatments that will leave your dog or cat’s coat, skin, teeth, and nails will looking, smelling and feeling incredible.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="services-list">
	<div class="inside med">

		<div class="serve-box one">
			<div class="text">
				<h4>Certified, Experienced Groomers</h4>
				<p>
					<!-- Our spa menu includes a tail-wagging selection of luxurious, healthy spa treatments.
					Your dog or cat’s coat, skin, teeth, and nails will look, smell and feel better. -->
					Woof Gang groomers are among the best in the industry. They always go out of their way to make your pet feel comfortable and safe.
					Our groomers treat your furry family members like their own, helping to keep them in optimal hygiene and looking fabulous.
				</p>

				<h4>Tail-Wagging Products</h4>
				<p>
					Our spa products will help soothe and restore even the "ruffest" coat to its natural beauty.
					We also offer a wide range of special products to accommodate your pet’s needs, including hypo-allergenic and medicated options.
				</p>
			</div>
			<div class="img-box"><%= image_tag('adobe-cut.jpg', class: 'img-responsive sb-img') %></div>
		</div>

		<div class="serve-box">
			<div class="img-box"><%= image_tag('adobe-bath.jpg', class: 'img-responsive sb-img') %></div>
			<div class="text">
				<p>
					Prices vary for full grooms, and depend on the size, breed, and condition of your dog.
					Additional services are available for an extra fee.
				</p>
				<p>
					Feel free to contact us for more information about how our dog spas can benefit both you and your dog.
					Contact your local store to set up a grooming consultation, or stop by and meet with one of our groomers. We know you will see the difference.
				</p>
			</div>

		</div>
	</div>
</div>
