<% @page_title = "Ruff" %>
<% @page_description = "New Description" %>

<!-- Franchisees -->
<!-- Training & Support -->
<!-- The Next Steps -->
<!-- Real Estate -->


<div class="hs1-hero">
	<div class="inside">
		<%= image_tag('adobe-gold.jpg', class: 'img-fluid') %>
		<div class="text-over">
			<h1>Woof Gang Bakery &amp; Grooming</h1>
			<!-- <h2>Join The Fluffiest, Friendliest Franchise</h2> -->
		</div>
	</div>
</div>

<div class="hs-franchise">
	<div class="inside med2">
		<div class="text">
			<h2 class="bmargin0">Join The Fluffiest, Friendliest Franchise</h2>
			<h3 class="tmargin0">Shouldn't every day be "bring your dog to work day?"</h3>

			<p>Woof Gang Bakery was founded in 2007, and has since grown into a multi-state franchise with national expansion opportunities.
				The simple combination of outstanding service, quality products, a great management team, and our franchisees has given Woof Gang Bakery the right recipe for success.</p>

				<!-- <p class="two">Our approach to franchising is very simple: Successful franchising is totally built upon successful franchisees. We award franchise agreements and accept locations based on quality, not quantity. Our leadership philosophy is based upon the belief that we should direct, not dominate, the franchise system and that our franchisees should have a voice and participate in that direction.</p> -->
		</div>

		<div class="blocks">
			<div class="fblock opp">
				<p>Franchise Opportunity</p>
			</div>

			<div class="fblock invest">
				<p>Investment Details</p>
			</div>

			<div class="fblock faq">
				<p>Franchise FAQ's</p>
			</div>

			<div class="fblock inq">
				<p>Franchise Inquiries</p>
			</div>
		</div>
	</div>
</div>

<!-- <div class="hs2-franchise">
	<div class="inside med">
		<div class="image">
			<%= image_tag('bernie.png', class: 'img-fluid') %>
		</div>

		<div class="text">
			<h3>Shouldn't every day be "bring your dog to work day?"</h3>

			<p>Woof Gang Bakery was founded in 2007, and has since grown into a multi-state franchise with national expansion opportunities.
				The simple combination of outstanding service, quality products, a great management team, and our franchisees has given Woof Gang Bakery the right recipe for success.</p>

			<p class="two">Our approach to franchising is very simple: Successful franchising is totally built upon successful franchisees. We award franchise agreements and accept locations based on quality, not quantity. Our leadership philosophy is based upon the belief that we should direct, not dominate, the franchise system and that our franchisees should have a voice and participate in that direction.</p>
			<p class="two">Our approach to franchising is very simple. Successful franchising is totally built upon successful franchisees. We award franchise agreements, and accept locations based on quality not quantity. Not all applicants, but the right applicants. Not all sites, but the right sites. Our leadership philosophy is based upon the belief that we should direct, not dominate the franchise system, and that our Franchisees should have a voice and participate in that direction.</p>
		</div>
	</div>
</div> -->

<div class="hs4-locations">
	<div class="inside med2">
		<h4>Over 100 Locations Nationwide</h4>
		<div class="btn-hlf">
			<%= link_to "Find One Near You", locations_path, class: 'woof-link' %>
		</div>
	</div>
</div>


<div class="hs3-services">
	<div class="inside med2">


		<div class="service groom">
			<p>Grooming</p>
		</div>

		<div class="service retail">
			<p>Retail</p>
		</div>

		<div class="service ss-groom">
			<p>Self-Service<br> Grooming</p>
		</div>

		<div class="service daycare">
			<p>Doggie Daycare</p>
		</div>

		<div class="service vet">
			<p>Veterinary Clinic</p>
		</div>
	</div>
</div>


<!--

Grooming
We believe that regular, thorough grooming is an essential element in every dog’s health and well-being. Our groomers will help keep your dog in optimal hygiene and looking fabulous at the same time.

Self Service Grooming
No more making a mess in your bathroom, or chasing your dog around the yard with a hose. Use our supplies and facilities and skip the cleanup. All you need to bring is the dog.

Doggie Day Care
Our monitored and clean Doggie Day Care facilities are staffed with trained individuals who put your dog’s safety above all else. And our safe atmosphere provides individual attention to all of your pets to ensure their needs are always met.

Veterinary Clinic
Woof Gang Bakery is unveiling its first veterinary clinic within its newest store in Boca Raton, Florida. Led by Woof Gang Bakery’s head veterinarian, Dr. Barry Wander.
 -->
