<% @page_title = "Pet Grooming Locations" %>
<% @page_description = "Woof Gang Bakery has over 200 locations in the U.S. Use our map to find a location near you." %>

<div class="ipage-header">
	<div class="inside narrow">
		<h1>Our Locations</h1>
		<h2>Use the map below to find a location near you.</h2>
	</div>
</div>

<div class="full-search">
	<div class="inside lg">
		<store-locator-app app_id="b3747e-3879f4-b82cb9-528c5a-0746a8"></store-locator-app>
	</div>
</div>
