<% @page_title = "Alt Home" %>
<% @page_description = "New Description" %>

<div class="home">
	<div class="hs1-hero">
		<div class="inside">
			<%= image_tag('pets-2.jpg', class: 'img-fluid') %>
			<div class="text-over">
				<h1>Woof Gang Bakery &amp; Grooming</h1>
			</div>
		</div>
	</div>

	<div class="hs2-franchise">
		<div class="inside med2">
			<div class="image">
				<%= image_tag('bernie.png', class: 'img-fluid') %>
			</div>

			<div class="text">
				<h3>Shouldn't every day be <br><b>"bring your dog to work day?"</b></h3>
				<p>Woof Gang Bakery was founded in 2007, and has since grown into a multi-state franchise with national expansion opportunities.
					The simple combination of outstanding service, quality products, a great management team, and our franchisees has given Woof Gang Bakery the right recipe for success.</p>
			</div>
		</div>
	</div>

	<div class="hs-franchise">
		<div class="fancy-title">
			<h2>Join The Fluffiest, Friendliest Franchise</h2>
		</div>

		<div class="inside med2">
			<div class="text">
			</div>

			<div class="blocks">
				<div class="fblock opp">
					<p>Franchise Opportunity</p>
				</div>

				<div class="fblock invest">
					<p>Investment Details</p>
				</div>

				<div class="fblock faq">
					<p>Franchise FAQ's</p>
				</div>

				<div class="fblock inq">
					<p>Franchise Inquiries</p>
				</div>
			</div>
		</div>
	</div>


	<div class="hs4-locations">
		<div class="inside med2">
			<h4>Over 100 Locations Nationwide</h4>
			<div class="btn-hlf">
				<%= link_to "Find One Near You", locations_path, class: 'woof-link' %>
			</div>
		</div>
	</div>


	<div class="hs3-services">
		<div class="inside med2">
			<div class="intro">
				<h3>Woof Gang does it all</h3>
				<p>We offer a number of services to help keep your pets healthy and spoiled!
				 Contact your local Woof Gang Bakery to find out which services are available in your area.</p>
			</div>

			<div class="service groom"><p>Grooming</p></div>

			<div class="service mid">
				<div class="service ss-groom"><div class="full"><p>Self-Service<br> Grooming</p></div></div>
				<div class="service vet"><p>Veterinary<br> Clinic</p></div>
				<div class="service retail"><p>Retail</p></div>
			</div>

			<div class="service daycare"><p>Doggie<br> Daycare</p></div>

			<!-- <div class="left">
				<div class="service groom"><p>Grooming</p></div>
				<div class="service retail"><p>Retail</p></div>
			</div>

			<div class="mid">
				<div class="service ss-groom"><div class="full"><p>Self-Service<br> Grooming</p></div></div>
				<div class="service vet"><p>Veterinary<br> Clinic</p></div>
				<div class="service daycare"><p>Doggie<br> Daycare</p></div>
			</div> -->

		</div>
	</div>
</div>
