<% @page_title = "Our Locations (new)" %>
<% @page_description = "Woof Gang Bakery has over 110 locations in the U.S. Use our map to find a location near you." %>

<div class="ipage-header">
	<div class="inside narrow">
		<h1><%= @page_title %></h1>
		<h2>Use the map below to find a location near you.</h2>
		<h3><%= request.location.ip %></h3>
	</div>
</div>


<div class="full-search">
	<div class="inside">
		<!-- <div class="top">
			<h1>Woof Gang Bakery Blog</h1>
			<% if user_signed_in? && current_user.admin? %>
		    <button class="admin-uk wl-uk uk-float-right" type="button"><span  uk-icon="icon: settings;"></span></button>
		    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .wl-uk;">
	  			<%= link_to "Create New Post", new_post_path, class: 'woof-link' %>
	      </div>
			<% end %>
		</div> -->
		
		<!-- Rocket Google -->
		<!-- <div id='storerocket-widget' data-storerocket-filters="" style='width:100%;' data-storerocket-env='p' data-storerocket-id='jaKpDxopdR'><p style='text-align:center;font-size:13px;padding:10px;'>Store locator is loading from StoreRocket <a target='_blank' href='https://storerocket.io' style='font-size:13px;'>Store Locator Software</a>..</p></div><script>(function(){var a=document.createElement('script');a.type='text/javascript';a.async=!0;a.src='https://cdn.storerocket.io/js/widget.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);}());</script> -->


		<!-- Stockist -->
		<div data-stockist-widget-tag="u4148">Loading store locator</div>
		<script>
		  (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
		  k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
		  })(document,'script','//stockist.co/embed/v1/widget.min.js');
		</script>
		<!-- End Stockist.co widget -->

		<br>
	</div>
</div>








