<% @page_title = "Our Locations (new)" %>
<% @page_description = "Woof Gang Bakery has over 110 locations in the U.S. Use our map to find a location near you." %>

<div class="ipage-header">
	<div class="inside narrow">
		<h1>Resource Page</h1>
	</div>
</div>


<div style="padding:40px 0;" class="full">
	<div class="inside">
		<!-- < if user_signed_in? && current_user.admin? %> -->
			<!-- <= link_to "Download CSV", estates_path(format: "csv"), class: 'woof-link dl' %> -->
		<!-- < end %> -->
	</div>
</div>








