<% @page_title = "Retail" %>
<% @page_description = "New Description" %>


<div class="page-header">
	<div class="inside med">
		<div class="tbox">
			<h1>Your Neighborhood Pet Store</h1>
			<h2>Woof Gang Bakery is committed to providing outstanding service and quality products to the local community.</h2>
			<!-- We are the leading specialty retailer of pet food, pet supplies and professional pet grooming in North America, with more than 100 locations across the U.S.</h2> -->
		</div>
		<%= image_tag('gourmetbakedtreats.png', class: 'img-responsive hd-img') %>
	</div>
</div>

<div class="services-list">
	<div class="inside med">
		<div class="serve-box one">
			<div class="img-box"><%= image_tag('woof10.jpg', class: 'img-responsive sb-img') %></div>
			<div class="text">
				<ul class="paw small">
					<li>We are the leading specialty retailer of pet food, pet supplies and professional pet grooming in North America, with more than 100 locations across the U.S.</li>
					<li>Woof Gang Bakery is passionate about providing proper nutrition for your furry friends.</li>
					<li>We believe that the best nutrition comes from healthy, natural ingredients.</li>
					<li>We are the leader in raw, frozen diets, kibble, canned and dehydrated dog and cat food.</li>
				</ul>
			</div>
		</div>

		<div class="banner">
			<div class="full">
				<p>Woof Gang Bakery also carries a variety of unique, fun, and fashionable doggie items, as well as pet food products.
					We have a huge selection of toys and accessories, and a wide range of doggie spa products.
				</p>
			</div>
		</div>

		<div class="serve-box two">
			<div class="text">
				<p>Brands, quantity and sizes vary by location, please contact your local Woof Gang Bakery for specifics.</p>
				<%= image_tag('brands.png', class: 'img-responsive') %>
			</div>

			<div class="img-box">
				<%= image_tag('toy-sec.jpg', class: 'img-responsive') %>
				</div>
		</div>

	</div>
</div>
