<% @page_title = "Self-Service Grooming" %>
<% @page_description = "New Description" %>

<div class="pup-header inline">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<h1>Self-Service Grooming</h1>
			</div>
		</div>
	</div>
</div>

<div class="full-sec">
	<div class="intro">
		<p>Woof Gang takes the hassle &amp; mess out of bath time by providing a modern, spa-like atmosphere for you to bathe your dog!
			No more making a mess in your bathroom, or chasing your dog around the yard with a hose.
			Use our supplies and facilities, and skip the cleanup.
		</p>
		<div class="inside bb-less"><div class="bone-border"><%= image_tag('bone.png', class: 'img-responsive icon', alt: '') %></div></div>
	</div>
</div>

<div class="cols-sec"><div class="fw">
	<div class="inside">
		<div class="left">
			<div class="cs-bx one">
				<h4>Benefits for You</h4>
				<p>
					We provide all the tools to make your dog look and smell great. All you need to provide is the dog!
					Our self-service grooming allows you to have a one-on-one experience with your dog, and leave the mess with us.
				</p>
			</div>

			<div class="cs-bx two">
				<h4>Benefits for Them</h4>
				<p>
					Having a healthy coat benefits your dog in so many ways.
					By maintaining good grooming habits, you are doing far more than just showing off that beautiful fur.
					You are also giving your dog the gift of good health!
				</p>
			</div>
		</div>

		<div class="right">
			<h4>Amenities Include:</h4>
			<ul class="paw">
				<li>Shampoo & Conditioner</li>
				<li>Variable Speed Warm Dryers</li>
				<li>No Bending or Kneeling</li>
				<li>User-Friendly Set-Up, Including Ramps</li>
				<li>Towels</li>
				<li>Brushes</li>
				<li>Warm Water</li>
				<li>Aprons</li>
			</ul>
		</div>
	</div>
</div></div>

<div class="full">
	<div class="inside">
		<div class="disc-banner">
			<div class="text">
				<h4>Self-Service Grooming is not offered at all of our locations. Stores offering Self-Service Grooming:</h4>

				<%= link_to "/locations/woof-gang-bakery-grooming-aberdeen" do %>
				<p>Woof Gang Bakery & Grooming <br> <span>Aberdeen</span></p>
				<% end %>

				<%= link_to "/locations/woof-gang-bakery-grooming-cary" do %>
				<p>Woof Gang Bakery & Grooming <br> <span>Cary</span></p>
				<% end %>

				<%= link_to "/locations/woof-gang-bakery-grooming-fayetteville" do %>
				<p>Woof Gang Bakery & Grooming <br> <span>Fayetteville</span></p>
				<% end %>
			</div>
		</div>
	</div>
</div>


