<% @page_title = "Self Service Grooming" %>
<% @page_description = "New Description" %>

<div class="ipage-header opink simple left">
	<div class="inside">
		<h1>Self Service Grooming</h1>
	</div>
</div>


<div class="services-list">
	<div class="inside med">
		<div class="serve-box ss-groom">
			<div class="img-box"><%= image_tag('grooming.jpg', class: 'img-responsive sb-img') %></div>

			<div class="text">
				<p>
					We take the hassle &amp; mess out of bath time by providing a modern, spa-like atmosphere for you to bathe your dog!
					No more making a mess in your bathroom, or chasing your dog around the yard with a hose.
					Use our supplies and facilities, and skip the cleanup.
				</p>
			</div>
		</div>

		<div class="serve-box">
			<div class="text">
				<p>
					Having a healthy coat benefits your dog in so many ways.
					By maintaining good grooming habits, you are doing far more than just showing off that beautiful fur.
					You are also giving your dog the gift of good health!
				</p>
				<p>
					We provide all the tools to make your dog look and smell great. All you need to provide is the dog!
					Our self service grooming allows you to have a one-on-one experience with your dog, and leave the mess with us.
				</p>
			</div>

			<div class="img-box"><%= image_tag('grooming.jpg', class: 'img-responsive sb-img') %></div>
		</div>

		<div class="serve-box">
			<div class="img-box"><%= image_tag('grooming.jpg', class: 'img-responsive sb-img') %></div>

			<div class="text">
				<p>Amenities:</p>
				<ul>
					<li>Shampoo & Conditioner</li>
					<li>Towels</li>
					<li>Brushes</li>
					<li>Variable Speed Warm Dryers</li>
					<li>Warm Water</li>
					<li>Aprons</li>
					<li>No Bending or Kneeling</li>
					<li>User-Friendly Set-Up, Including Ramps</li>
				</ul>
			</div>

				<!-- <p>Stores with Self Service Grooming:<br>
					Woof Gang Bakery & Grooming Aberdeen<br>
					Woof Gang Bakery & Grooming Cary<br>
					Woof Gang Bakery & Grooming Fayetteville
				</p> -->
			</div>

		</div>
	</div>
</div>
