<% @page_title = "Wellness Clinic" %>
<% @page_description = "Woof Gang Bakery offers veterinary services at select locations." %>

<div class="services-layout vet">
	<div class="serv-slider inline-show">
		<div class="inside med2">
			<div class="il-slideshow"><%= image_tag('ext-boca.jpg', class: 'img-responsive ', alt: 'Woof Gang Bakery, Boca Raton location exterior') %></div>

			<div class="title"><%= image_tag('plogo-clinic.png', class: 'img-responsive srv-logo', alt: 'Woof Gang Bakery, wellness clinic logo')%></div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med2-def">
	  	<div class="text">
				<h4>Our veterinary clinic locations offer the following services:</h4>

				<ul>
					<li>Diagnostics</li>
					<li class="sm-right">Surgery</li>
					<li class="right">Prescription Pet Foods</li>
					<li>Microchipping</li>
					<li>Pharmacy</li>
					<li class="right">Nutritional counseling</li>

					<li>Laboratory</li>
					<li class="sm-right">Radiology</li>
					<li class="right">Parasite Prevention and Control</li>
					<li>Dental Care</li>
					<li>Prophylaxis</li>
					<li class="right">International and interstate health certificates for travel</li>
					<li>Immunizations</li>
					<li class="sm-right">Wellness Exams</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="locations-disc">
		<div class="inside med2">
			<h4>Veterinary services are offered only at select locations.</h4>
			<div class="btn-hlf">
				<%= link_to "View Locations", "/tags/veterinary-clinic", class: 'woof-link' %>
			</div>
		</div>
	</div>

	<div class="list-box alt">
		<div class="inside med2-def">
			<div class="sl-hlf">
				<div class="sl1">
					<h4>Meet the Doctor</h4>
					<p>Florida native, Dr. Barry Wander is the franchise owner and head veterinarian of <br class="xl">Woof Gang Bakery, Grooming and Vet Clinic Boca Raton.</p>

					<p>
						Dr. Wander attended the University of Florida, where he earned his bachelor’s degree in animal science, and a master’s degree in animal nutrition.
						In 1987, he opened Wander Animal Hospital. Dr. Wander has practiced veterinary medicine for 27 years, with a special interest in Dermatological diseases, and Pediatric and Geriatric Medicine.
						He is dedicated to the local community, and to providing unparalleled service and quality products for customers and their four-legged friends.
					</p>
				</div>

				<div class="sl2"><%= image_tag('dogtor.jpg', class: 'img-responsive inside med2', alt: 'Dog in scrubs') %></div>
			</div>
		</div>
	</div>
</div>
