<% @page_title = "Veterinary Clinic" %>
<% @page_description = "New Description" %>

<!-- <div class="ipage-header opink simple left">
	<div class="inside">
		<h1>Veterinary Clinic</h1>
	</div>
</div> -->

<div class="pup-header inline">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<h1>Woof Gang<br>Veterinary Clinic</h1>
			</div>
		</div>
	</div>
</div>


<div class="services-list">
	<div class="inside med">
		<div class="serve-box vet">
			<div class="text">
				<h3>Veterinary Services</h3>
				<ul class="paw">
					<li>Diagnostics</li>
					<li>Surgery</li>
					<li>Prescription Pet Foods</li>
					<li>Microchipping</li>
					<li>Pharmacy</li>
					<li>Laboratory</li>
					<li>Radiology</li>
					<li>Dental Care</li>
					<li>Prophylaxis</li>
					<li>Immunizations</li>
					<li>Parasite Prevention and Control</li>
					<li>Nutritional counseling</li>
					<li>Wellness Exams</li>
					<li>International and interstate health certificates for travel</li>
				</ul>

				<!-- <p>Veterinary Clinic Locations:<br>
				Woof Gang Bakery, Grooming and Vet Clinic<br>
				7050 W. Palmetto Park Rd, Suite 21<br>
				Boca Raton, FL 33433<br>
				561-447-7966</p> -->
			</div>

			<div class="img-box">
				<%= image_tag('rivers.png', class: 'img-responsive sb-img') %>
			</div>
		</div>

		<div class="serve-box tonly">
			<div class="inner">
				<h3>Meet the Doctor</h3>
				<p>Florida native, Dr. Barry Wander is the franchise owner and head veterinarian of Woof Gang Bakery, Grooming and Vet Clinic Boca Raton.</p>

				<p>
					Dr. Wander attended the University of Florida, where he earned his bachelor’s degree in animal science, and a master’s degree in animal nutrition.
					In 1987, he opened Wander Animal Hospital. Dr. Wander has practiced veterinary medicine for 27 years, with a special interest in Dermatological diseases, and Pediatric and Geriatric Medicine.
					He is dedicated to the local community, and to providing unparalleled service and quality products for customers and their four-legged friends.
				</p>
			</div>
		</div>
	</div>
</div>
