<% @page_title = "Veterinary Clinic" %>
<% @page_description = "New Description" %>

<div class="pup-header inline">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<h1>Woof Gang<br>Veterinary Clinic</h1>
			</div>
		</div>
	</div>
</div>

<div class="top-list">
	<div class="inside med">
		<div class="text">
			<div class="title">
				<!-- <h3>Veterinary Services</h3> -->
				<h3 class="sm">Our Veterinary Clinic Locations Offer the Following Services:</h3>
				<!-- <p class="disclaim">*Please note that veterinary services are not offered at all locations. Contact your local Woof Gang Bakery for an up-to-date list of services.</p> -->
			</div>
			<ul class="paw small one">
				<li>Diagnostics</li>
				<li>Surgery</li>
				<li>Prescription Pet Foods</li>
				<li>Microchipping</li>
				<li>Pharmacy</li>
			</ul>

			<ul class="paw small two">
				<li>Laboratory</li>
				<li>Radiology</li>
				<li>Dental Care</li>
				<li>Prophylaxis</li>
				<li>Immunizations</li>
			</ul>

			<ul class="paw small last">
				<li>Nutritional counseling</li>
				<li>Wellness Exams</li>
				<li>Parasite Prevention and Control</li>
				<li>International and interstate health certificates for travel</li>
			</ul>
		</div>

		<div class="img-box">
			<%= image_tag('adobe-dogtor.png', class: 'img-responsive sb-img') %>
		</div>
	</div>
</div>

<div class="doc-box">
	<div class="inside lg">
		<div class="doc-info">
			<h3>Meet the Doctor</h3>
			<p>Florida native, Dr. Barry Wander is the franchise owner and head veterinarian of Woof Gang Bakery, Grooming and Vet Clinic Boca Raton.</p>

			<p>
				Dr. Wander attended the University of Florida, where he earned his bachelor’s degree in animal science, and a master’s degree in animal nutrition.
				In 1987, he opened Wander Animal Hospital. Dr. Wander has practiced veterinary medicine for 27 years, with a special interest in Dermatological diseases, and Pediatric and Geriatric Medicine.
				He is dedicated to the local community, and to providing unparalleled service and quality products for customers and their four-legged friends.
			</p>
		</div>

		<div class="info-box">
			<h4>Veterinary Clinic Locations:</h4>
			<p class="name">Woof Gang Bakery, Grooming &amp; Vet Clinic</p>
			<p class="info">
			7050 W. Palmetto Park Rd<br>
			Suite 21<br>
			Boca Raton, FL 33433</p>
			<p class="info">561-447-7966</p>
			<p class="info">bocaraton@woofgangbakery.com</p>
				<!-- <p class="disclaim">*Please note that veterinary services are not offered at all locations. Contact your local Woof Gang Bakery for an up-to-date list of services.</p> -->
		</div>
	</div>
</div>
