<% @page_title = "Wellness Clinic" %>
<% @page_description = "New Description" %>

<div class="services-layout vet">
	<!-- <div class="serv-slider inline-show">
		<div class="inside narrow">
			<div class="il-slideshow">
				<%= image_tag('dogtor-bg.png', class: 'img-responsive wc-header') %>
			</div>

			<div class="title"><%= image_tag('wgb-wellness.png', class: 'img-responsive srv-logo', alt: '')%></div>
		</div>
	</div> -->

	<div class="statement">
		<div class="inside med">
	  	<div class="logo-bg"><%= image_tag('wgb-wellness.png', class: 'img-responsive srv-logo', alt: '')%></div>
	  	<div class="text">
				<!-- <p>Our veterinary clinic locations offer the following services:</p> -->
				<h4>Meet the Doctor</h4>
				<p>Florida native, Dr. Barry Wander is the franchise owner and head veterinarian of Woof Gang Bakery, Grooming and Vet Clinic Boca Raton.</p>

				<p>
					Dr. Wander attended the University of Florida, where he earned his bachelor’s degree in animal science, and a master’s degree in animal nutrition.
					In 1987, he opened Wander Animal Hospital. Dr. Wander has practiced veterinary medicine for 27 years, with a special interest in Dermatological diseases, and Pediatric and Geriatric Medicine.
					He is dedicated to the local community, and to providing unparalleled service and quality products for customers and their four-legged friends.
				</p>
			</div>
		</div>
	</div>

	<div class="list-box">
		<div class="inside">
			<p>Our veterinary clinic locations offer the following services:</p>
			<ul class=" xsmall one">
				<li>Diagnostics</li>
				<li>Surgery</li>
				<li>Prescription Pet Foods</li>
				<li>Microchipping</li>
				<li>Pharmacy</li>

				<li>Laboratory</li>
				<li>Radiology</li>
				<li>Dental Care</li>
				<li>Prophylaxis</li>
				<li>Immunizations</li>

				<li>Nutritional counseling</li>
				<li>Wellness Exams</li>
				<li>Parasite Prevention and Control</li>
				<li>International and interstate health certificates for travel</li>
			</ul>
		</div>
	</div>


	<!-- <div class="top-list">
		<div class="inside med">
			<div class="text">
				<div class="title">
					<h3 class="sm">Our veterinary clinic locations offer the following services:</h3>
					<p class="disclaim">*Please note that veterinary services are not offered at all locations. Contact your local Woof Gang Bakery for an up-to-date list of services.</p>
				</div>
				<ul class="paw xsmall one">
					<li>Diagnostics</li>
					<li>Surgery</li>
					<li>Prescription Pet Foods</li>
					<li>Microchipping</li>
					<li>Pharmacy</li>
				</ul>

				<ul class="paw xsmall two">
					<li>Laboratory</li>
					<li>Radiology</li>
					<li>Dental Care</li>
					<li>Prophylaxis</li>
					<li>Immunizations</li>
				</ul>

				<ul class="paw xsmall last">
					<li>Nutritional counseling</li>
					<li>Wellness Exams</li>
					<li>Parasite Prevention and Control</li>
					<li>International and interstate health certificates for travel</li>
				</ul>
			</div>

			<div class="img-box">
				<%= image_tag('dogtor.jpg', class: 'img-responsive sb-img') %>
			</div>
		</div>
	</div>-->

	<div class="doc-box">
		<div class="inside lg">
			<div class="info-box">
				<h4>Veterinary Clinic Locations:</h4>
				<p class="name">Woof Gang Bakery, Grooming &amp; Vet Clinic</p>
				<p class="info">
				7050 W. Palmetto Park Rd<br>
				Suite 21<br>
				Boca Raton, FL 33433</p>
				<p class="info">561-447-7966</p>
				<p class="info">bocaraton@woofgangbakery.com</p>
			</div>

			<div class="doc-info">
				<h3>Meet the Doctor</h3>
				<p>Florida native, Dr. Barry Wander is the franchise owner and head veterinarian of Woof Gang Bakery, Grooming and Vet Clinic Boca Raton.</p>

				<p>
					Dr. Wander attended the University of Florida, where he earned his bachelor’s degree in animal science, and a master’s degree in animal nutrition.
					In 1987, he opened Wander Animal Hospital. Dr. Wander has practiced veterinary medicine for 27 years, with a special interest in Dermatological diseases, and Pediatric and Geriatric Medicine.
					He is dedicated to the local community, and to providing unparalleled service and quality products for customers and their four-legged friends.
				</p>
			</div>
		</div>
	</div>
</div>





<!-- instructions -->
	<!-- No rotator.
	Logo: Woof Gang Wellness Clinic
	All copy stays “as is”. Within the copy on the page, keep all references to “veterinary” and do not change page copy to wellness.
	The change to Wellness is for headers and tabs only.
	Ok to use this particular cutout “doctor” dog.
  -->
