<% @page_title = "Wellness Clinic" %>
<% @page_description = "New Description" %>

<div class="services-layout vet">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow>
				<ul class="uk-slideshow-items">
					<li><%= image_tag('clinic.jpg', class: 'img-responsive ', alt: '') %></li>
				</ul>
			</div>

			<div class="title"><%= image_tag('wgb-wellness.png', class: 'img-responsive srv-logo', alt: '')%></div>
		</div>
	</div>

	<!-- <div class="statement">
		<div class="inside med2">
	  	<div class="text">
	  		<h1>Woof Gang Bakery <br class="xl-br"> Veterinary Clinic</h1>
				<p>Our veterinary clinic locations offer the services listed below.</p>
			</div>
		</div>
	</div> -->

	<div class="list-box alt">
		<div class="inside med2-def">
			<div class="left">
				<p>Our veterinary clinic locations offer the following services:</p>
				<ul class=" xsmall one">
					<li>Diagnostics</li>
					<li>Surgery</li>
					<li>Prescription Pet Foods</li>
					<li>Microchipping</li>
					<li>Pharmacy</li>

					<li>Laboratory</li>
					<li>Radiology</li>
					<li>Dental Care</li>
					<li>Prophylaxis</li>
					<li>Immunizations</li>

					<li>Nutritional counseling</li>
					<li>Wellness Exams</li>
					<li>Parasite Prevention and Control</li>
					<li>International and interstate health certificates for travel</li>
				</ul>
			</div>

			<div class="sl-hlf">
				<!-- <div class="sl1">
					<h4>Veterinary Clinic Locations:</h4>
					<p class="name">Woof Gang Bakery, Grooming &amp; Vet Clinic</p>
					<p class="info">
					7050 W. Palmetto Park Rd<br>
					Suite 21<br>
					Boca Raton, FL 33433</p>
					<p class="info">561-447-7966</p>
					<p class="info">bocaraton@woofgangbakery.com</p>
				</div> -->

				<div class="sl1">
					<h4>Meet the Doctor</h4>
					<p>Florida native, Dr. Barry Wander is the franchise owner and head veterinarian of Woof Gang Bakery, Grooming and Vet Clinic Boca Raton.</p>

					<p>
						Dr. Wander attended the University of Florida, where he earned his bachelor’s degree in animal science, and a master’s degree in animal nutrition.
						In 1987, he opened Wander Animal Hospital. Dr. Wander has practiced veterinary medicine for 27 years, with a special interest in Dermatological diseases, and Pediatric and Geriatric Medicine.
						He is dedicated to the local community, and to providing unparalleled service and quality products for customers and their four-legged friends.
					</p>
				</div>

				<div class="sl2"><div class="inside narrow"><%= image_tag('dogtor.jpg', class: 'img-responsive inside med2', alt: '') %></div></div>
			</div>
		</div>
	</div>


	<div class="locations-disc">
		<div class="inside med2">
			<h4>Veterinary services are offered only at select locations.</h4>
			<div class="btn-hlf">
				<%= link_to "View Locations", "/tags/veterinary-clinic", class: 'woof-link' %>
			</div>
		</div>
	</div>
</div>
