<% @page_title = "Create a New Blog" %>
<% @page_description = "" %>


<div class="form-pagetop">
  <div class="title-left">
    <h1><%= @page_title %></h1>
  </div>

  <div class="form-sec">
    <%= render 'form' %>
  </div>
</div>
