<% @page_title = "Edit Shop" %>

<div class="ipage-header">
	<div class="inside narrow">
		<div class="full">
			<h1><%= @page_title %></h1>
		</div>
	</div>
</div>


<div class="full-sec">
	<div class="inside">
		<div class="full-btn">
			<%= link_to("[ Cancel and Return ]", shops_path, :class => 'back-link inline') %>
			<%= link_to "Delete This Shop", shop_path(@shop.id), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "woof-link btn-danger" %>
		</div>
		<!-- <hr> -->
		<%= render 'form' %>
	</div>
</div>
