<% @page_title = "Create a New Shop" %>
<% @page_description = "New Description" %>

<div class="ipage-header inline">
	<div class="inside narrow">
		<div class="full">
			<h1><%= @page_title %></h1>
		</div>
	</div>
</div>


<div class="full-sec">
	<div class="inside">
		<%= render 'form' %>
		<%= link_to("[ Cancel and Return ]", shops_path, :class => 'back-link inline') %>
	</div>
</div>
