<% @page_title = "Media & Press Inquiries" %>
<% @page_description = "Fill out the form on this page to reach out to Woof Gang Bakery's media relations team." %>


<div class="full-sec" id="it-wrap" uk-grid>
	<div class="intro-text">
		<div class="full in-itext" style="z-index: 90;" uk-sticky=" bottom: #it-wrap;">
			<%= image_tag('appa.jpg', class: 'img-responsive img-fw', alt: 'Dog on counter at Woof Gang Bakery store') %>
			<%= image_tag('appa-mob.jpg', class: 'img-responsive img-mob', alt: 'Mobile version of dog on counter at Woof Gang Bakery store') %>
		</div>
	</div>

	<div class="form-side">
		<h1 class="aria-hidden"><%= @page_title %></h1>
		<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrbQKGW5HRZI4gic?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="1465" style="background: transparent; border: 0px solid #ccc;"></iframe>
  </div>
</div>
