<li>
	<%= link_to fb_path, target: '_blank' do %>
	<span class="" uk-icon="icon: facebook; ratio: 1.5"></span>
	<% end %>
</li>

<li>
	<%= link_to insta_path, target: '_blank' do %>
	<span class="" uk-icon="icon: instagram; ratio: 1.5"></span>
	<% end %>
</li>

<li>
	<%= link_to twitter_path, target: '_blank' do %>
		<span class="" uk-icon="icon: twitter; ratio: 1.5"></span>
	<% end %>
</li>

<li>
	<%= link_to in_path, target: '_blank' do %>
	<span class="" uk-icon="icon: linkedin; ratio: 1.5"></span>
	<% end %>
</li>

