<% @page_title = "Contact Us" %>
<% @page_description = "New Description" %>

<div class="pup-header inline">
	<div class="inside ">
		<div class="full">
			<div class="tbox">
				<h1>Contact Us</h1>
				<!-- <h2>Check with your local Woof Gang Bakery to make sure a specific service is offered at that location.</h2> -->
				<h3>If you need to contact the store regarding a grooming appointment, please visit our locations page to contact the store directly for an immediate response.</h3>
			</div>
		</div>
	</div>
</div>

<div class="full-contact">
	<div class="inside">
		For general inquires, comments and questions, please contact our corporate office:

		Woof Gang Bakery Corporate Office
		7575 Dr. Phillips Blvd, Suite 275
		Orlando, FL 32819
		407-355-9210
		F: 877-554-1020

		Monday-Friday: 8am-5pm

		Got a great product?
		Contact our Vendor Relations

		<%= render 'form' %>

	</div>
</div>
