<% @page_title = "Franchise Inquires" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="inquiries">
	<div class="inside">
		<div class="over">
      <p class="disclose">The submission of this application does not obligate the applicant to become a franchisee of Woof Gang Bakery, nor does it obligate us to offer you a franchise.</p>
      <hr>
			<p>For general inquires, comments and questions, please <%= link_to('click here to fill out our corporate contact form', contact_path, class: 'text-link') %>, or contact our corporate office directly:</p>

			<div class="contact-info">
				<p>7575 Dr. Phillips Blvd,<br> Suite 275<br>
				Orlando, FL 32819</p>

				<p>P: 407-355-9210<br>F: 877-554-1020</p>
			</div>
		</div>

		<div class="form-side">
	    <%= render 'form' %>
	  </div>
	</div>
</div>
