<% @page_title = "Become a Woof Gang Bakery Franchisee" %>
<% @page_description = "Are you interested in becoming a Woof Gang Bakery franchisee? Fill out our franchise inquiry form today for more information." %>


<div class="ctaHeader inq" id="image-wrap">
	<div class="formBox">
		<h1>Request Franchising Information</h1>
		<script type="text/javascript" src=https://form.jotform.com/jsform/222214770102037></script>
  </div>
</div>

<div class="franchise-layout fl1">
	<div class="landing-layout">
		<div class="box one">
			<div class="inside med2-def">
				<div class="image">
					<%= image_tag('inquiries.jpg', class: 'img-responsive img1', alt: 'Woof Gang Bakery store interior') %>
					<%= image_tag('inquiries1.jpg', class: 'img-responsive img2', alt: 'French bulldog visiting a Woof Gang Bakery opening') %>
				</div>

				<div class="text">
					<p>For general inquires, comments and questions, please <%= link_to('click here to contact our corporate office directly.', contact_path, class: 'text-link') %></p>
				</div>
			</div>
		</div>
	</div>
</div>