<div class="franchise-header">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<!-- <h2>Join Our Team &amp; Become Part of the Furriest, Friendliest Franchise</h2> -->
				<h2>Join the Woof Gang Franchise Team</h2>
				<h1><%= @page_title %></h1>
			</div>
		</div>
	</div>
</div>
<div class="abs-franch">
	<%= image_tag('team-pup.png', class: 'img-abs', alt: 'Woof Gang Bakery Team Mascot photo')%>
</div>
