<div class="franchise-head v2">
	<div class="inside med">
		<!-- 998x500 -->
		<%= image_tag('fp-placeholder-long.jpg', class: 'img-responsive feat', alt: 'Woof Gang Bakery wrapped suv') %>

		<div class="text">
			<h2>Become a Woof Gang Bakery Franchisee</h2>
			<h1><%= @page_title %></h1>
		</div>
		<div class="seal"><div class="sicon"></div></div>
	</div>
</div>
