<div class="franchise-hfull v3">
	<div class="inside lg">
		<div class="image">
			<%= image_tag('bull-st-narrow.jpg', class: 'img-responsive', alt: '') %>
		</div>

		<div class="text">
			<div class="full">
				<h2>Become a Woof Gang Bakery Franchisee</h2>
				<h1><%= @page_title %></h1>
			</div>
		</div>
	</div>
</div>

