<div class="franchise-head v4">
	<div class="inside lg">
		<%= image_tag('fp-placeholder-nrw.jpg', class: 'img-responsive', alt: '') %>

		<div class="text">
			<h2>Become a Woof Gang Bakery Franchisee</h2>
			<h1><%= @page_title %></h1>
		</div>
	</div>
</div>
