<div class="franch-header v1">
	<div class="inside lg">
		<div class="full">
			<div class="text">
				<h2>Become a Woof Gang Bakery Franchisee</h2>
				<h1><%= @page_title %></h1>
			</div>
		</div>
	</div>
</div>

<!-- <div class="franch-header">
	<div class="inside lg">
		<div class="uk-height-medium uk-background-cover uk-flex" uk-parallax="bgy: -100" style="background-image: url(/assets/bull-st.jpg);">
	    -- <div class="tbox uk-text-center uk-margin-auto-vertical"> --
	    <div class="tbox">
				<h2>Become a Woof Gang Bakery Franchisee</h2>
				<h1><%= @page_title %></h1>
			</div>
	  </div>
	</div>
</div>
 -->
