<% @page_title = "Franchise Approval Process" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header2' %>

<div class="franchise-layout fl2 approval">
	<div class="statement">
		<div class="inside med2-def">
			<h3>We’ve broken the approval process down into <span>four simple steps.</span></h3>
		</div>
	</div>

	<div class="col">
		<div class="inside med2-def">
			<div class="full one">
				<h4>Step 1: Your Inquiry</h4>
				<ul>
					<li>Complete online application via the <%= link_to 'franchise inquiry form', franchise_inquiries_path, class: 'text-link' %></li>
					<li>Invitation to complete a full application</li>
				</ul>
			</div>

			<div class="full two">
				<h4>Step 2: Your Application</h4>
				<ul>
					<li>First telephone interview</li>
					<li>Do your homework</li>
					<li>Financials submitted</li>
					<li>Executive interview</li>
				</ul>
			</div>

			<div class="clearfix"></div>

			<div class="full three">
				<h4>Step 3: Discovery Day</h4>
				<ul>
					<li>Spend the day at Woof Gang Bakery HQ in Orlando, Florida</li>
					<li>Understand what your responsibilities are as a franchisee</li>
					<li>Meeting and interacting with staff who will train and support your franchise</li>
					<li>A full understanding of the Woof Gang Bakery brand and culture</li>
					<li>Receive and review Franchise Disclosure Documents</li>
				</ul>
			</div>

			<div class="full four">
				<h4>Step 4: Final Steps</h4>
				<ul>
					<li>Franchise agreement signed</li>
					<li>Site approved and lease signed</li>
					<li>Financing secured</li>
					<li>Training completed</li>
					<li>Open your store</li>
				</ul>
			</div>

			<!-- <div class="image-nrw"><%= image_tag('corner-img.jpg', class: 'img-responsive', alt: '') %></div> -->
		</div>
	</div>
</div>
