<% @page_title = "Franchisees" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="intro-row">
	<div class="inside med2">
		<h3>The key to continuing the success of Woof Gang Bakery, and maintaining our mission, is selecting the right people to join our team as franchise owners. Each of our franchisees is unique, but they are all motivated and enthusiastic. They share the characteristics that drive the company:<br>
		<span>a love for pets, dedication to quality service, and determination to build a successful business.</span></h3>
	</div>
</div>

<div class="fr-details one">
	<div class="inside med2">
		<div class="image">
			<%= image_tag('weim.png', class: 'img-responsive', alt: '') %>
		</div>

		<div class="text">
			<ul class="profile">
				<h4>Our franchisees have diverse backgrounds and business experience.</h4>
				<li><span>Owner-Operator:</span>
					<br>Hands-on operator; no previous business experience necessary.</li>

				<li><span>Corporate Refugee:</span>
					<br>Former corporate professionals/executives, first-time entrepreneur; some relative experience in business and management.</li>

				<li><span>Professional Franchisee:</span><br>
					<!-- Experienced Empire Builders: Multi-brand/multi-unit franchisee looking for next big thing, strong existing management team, infrastructure and financial resources to develop a large market quickly, affinity with mature franchise business and leading with professional leadership. -->

					Experienced, multi-brand franchisee ready for a new opportunity; franchise professional with strong management team in place; existing infrastructure and resources to establish a large market quickly.
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="fr-details two">
	<div class="inside med2">
		<div class="text">
			<ul class="paw small">
				<h4>Ideal Franchisee Candidates:</h4>
				<hr class="tmargin0">
				<li>Pet lover</li>
				<li>Professional skills: sales, personnel management and training, and customer service.</li>
				<li>Business and/or Management experience (preferred, not required)</li>
				<li>Enthusiastic about our vision, our franchise opportunities, and getting involved in a growing industry.</li>
			</ul>
		</div>

		<div class="image">
			<%= image_tag('frenchie.png', class: 'img-responsive', alt: '') %>
		</div>

	</div>
</div>



	<!-- Many of them were once Woof Gang Bakery customers who were attracted by the quality of our products, our vision of service, and our solid support infrastructure.
	A prospective franchisee must be willing to work hard, be committed to excellent customer service, be a team player with a drive to succeed, and control their own financial future.
	 -->
