<% @page_title = "Franchise Opportunity" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec">
	<div class="inside">
			A remarkably high demand exists for the pet products and services offered by Woof Gang Bakery. According to the American Pet Products Association, more than 97 million U.S. households own at least one dog or cat. Americans will spend more than $60 billion this year on pet supplies and care.

			Woof Gang Bakery is an innovative concept seeking franchisees who meet the following criteria:

			•	Passion for being part of Woof Gang Bakery
			•	Desire to work and manage your store
			•	Prior experience owning or managing a business
			•	Willingness to be involved in day-to-day operations or have an experienced operations partner
			•	Willingness to follow Woof Gang Bakery training and operational standards
			•	Primary residence within 10 miles of the store
			•	Commitment to ethical business practices
			•	$500,000 net worth
			•	$100,000 liquidity


			REQUEST INFORMATION FOR A FRANCHISE --- link to application/inquiry form


			Purchasing an Existing Woof Gang Bakery

			The purchase of an existing franchise can offer distinct advantages over a startup franchise operation:
			•	The current revenue stream of an existing franchise has value and provides an advantage versus a brand-new franchise.
			•	Sometimes, a new franchisee brings a fresh enthusiasm and creativity that will translate into additional sales.
			•	An existing franchise is already equipped, staffed, and in operation
			•	Buying a franchise can save time and may save money.
			•	For those who seek a franchise in a particular geographic area, a franchise resale may be the best option in cases where new franchise territories are limited.
			We are happy to let you know of any stores that are currently for sale.
			Please be aware that purchasing an existing store will incur a transfer of ownership fee.
	</div>
</div>
