<% @page_title = "Next Steps" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="overview">
	<div class="inside">

		<div class="list-intro">
			<h3>If you are interested in becoming a member of the Woof Gang Bakery pack, read through the steps listed below.</h3>
			<ul>
				<li><a href="#form" uk-scroll>1. Complete Franchise Inquiry Form</a></li>
				<li><a href="#call" uk-scroll>2. Introductory Call</a></li>
				<li><a href="#apply" uk-scroll>3. Complete Franchise Application</a></li>
				<li><a href="#fdd" uk-scroll>4. Review Franchise Disclosure Document</a></li>
				<li><a href="#follow" uk-scroll>5. FDD Follow-Up</a></li>
				<li><a href="#day" uk-scroll>6. Discovery Day</a></li>
				<li><a href="#sign" uk-scroll>7. Signing the Agreement</a></li>

			</ul>
		</div>
	</div>
</div>

<div class="steps-desc">
	<div class="inside narrow">
		<hr>
		<div id="form"></div>
		<div class="step">
			<span>1.</span>
			<div class="dets">
				<h4>Complete Franchise Inquiry Form</h4>
				<p><%= link_to "Click here", franchise_inquiries_path %> to view and complete our Franchise Inquiry Form.
				One of our representatives will contact you within one business day of receiving your form.</p>
			</div>
		</div>

		<div id="call"></div>
		<div class="step fr">
			<span>2.</span>
			<div class="dets">
				<h4>Introductory Call</h4>
				<p>
				This is our chance to learn more about each other.
				We will go deeper into the Woof Gang Bakery opportunity, and answer any questions you may have.
				We will also discuss your business background, motivation and interest, and location considerations.</p>
			</div>
		</div>

		<div id="apply"></div>
		<div class="step">
			<span>3.</span>
			<div class="dets">
				<h4>Complete Franchise Application</h4>
				<p>This is your first serious step for moving forward. It also gives us a more expansive view into your financials and background.</p>
			</div>
		</div>

		<div id="fdd"></div>
		<div class="step fr">
			<span>4.</span>
			<div class="dets">
				<h4>Review Franchise Disclosure Document</h4>
				<p>Once we receive your Franchise Application, we will send you our Franchise Disclosure Document (FDD), which you will sign to become a Franchisee. Essentially, the FDD explains your legal responsibilities as Woof Gang Bakery owner, and the relationship between the Franchisor (Woof Gang Bakery), and the Franchisee (you).</p>
			</div>
		</div>

		<div id="follow"></div>
		<div class="step">
			<span>5.</span>
			<div class="dets">
				<h4>FDD Follow-Up</h4>
				<p>Your Woof Gang Bakery representative will contact you to schedule a time to discuss any questions you may have after reviewing your FDD.</p>
			</div>
		</div>

		<div id="day"></div>
		<div class="step fr">
			<span>6.</span>
			<div class="dets">
				<h4>Discovery Day</h4>
				<p>You will spend the day with our franchise support team, at our office in Orlando, FL, having a paws on learning experience!</p>
			</div>
		</div>

		<div id="sign"></div>
		<div class="step">
			<span>7.</span>
			<div class="dets">
				<h4>Signing the Agreement</h4>
				<p>If we decide you make a great Woof Gang Bakery Franchisee candidate, we will send you a formal written offer, which will include your assigned territory.</p>
			</div>
		</div>
	</div>
</div>
