<% @page_title = "Franchise Opportunity" %>
<% @page_description = "New Description" %>

<!-- SAME STATS FROM THE SAME ASSOCIATION
	networth/liquidity listed in criteria is different than new details on investment page
-->

<%= render 'franchise_pages/franch-header' %>

<div class="fran-op">
	<div class="inside">
		<div class="intro center">
			<h3>A remarkably high demand exists for the pet products and services Woof Gang Bakery offers.
			According to the American Pet Products Association, <span>more than 97 million U.S. households own at least one dog or cat. Americans will spend more than $60 billion this year on pet supplies and care.</span></h3>
		</div>
	</div>

	<div class="full top">
		<div class="inside med2">
			<div class="big">
				<p>Woof Gang Bakery is an innovative concept seeking franchisees who meet the following criteria:</p>
				<!-- <p>Woof Gang Bakery is an innovative concept seeking franchisees who meet the criteria listed on this page.</p> -->
				<div class="inside">
					<%= link_to 'Request Franchise Information', franchise_inquiries_path, class: 'woof-link' %>
				</div>
			</div>

			<ul class="paw blue lt small">
				<li>Passion for being part of Woof Gang Bakery</li>
				<li>Desire to work and manage your store</li>
				<li>Prior experience owning or managing a business</li>
				<li>Willingness to be involved in day-to-day operations or have an experienced operations partner</li>
				<li>Willingness to follow Woof Gang Bakery training and operational standards</li>
				<li>Primary residence within 10 miles of the store</li>
				<li>Commitment to ethical business practices</li>
				<li>$500,000 net worth</li>
				<li>$100,000 liquidity</li>
			</ul>
		</div>
	</div>


	<div class="banner">
		<div class="inside">
			<h3>Interested in Purchasing an Existing Woof Gang Bakery?</h3>
		</div>
	</div>

	<div class="full btm">
		<div class="inside">
			<div class="tbox">
				<p class="semi">The purchase of an existing franchise can offer distinct advantages over a startup franchise operation:</p>
				<ul class="paw small ltr">
					<li>The current revenue stream of an existing franchise has value and provides an advantage versus a brand-new franchise.</li>
					<li>Sometimes, a new franchisee brings a fresh enthusiasm and creativity that will translate into additional sales.</li>
					<li>An existing franchise is already equipped, staffed, and in operation</li>
					<li>Buying a franchise can save time and may save money.</li>
					<li>For those who seek a franchise in a particular geographic area, a franchise resale may be the best option in cases where new franchise territories are limited.</li>
				</ul>
				<p>We are happy to let you know of any stores that are currently for sale.<br>
				Please be aware that purchasing an existing store will incur a transfer of ownership fee.</p>
			</div>

			<div class="image">
				<%= image_tag('dark-ext.jpg', class: 'img-responsive', alt: '') %>
			</div>
		</div>
	</div>
</div>
