<% @page_title = "Franchisees" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec">
	<div class="inside">
		Our owners are motivated and passionate. Each one is different, but each one shares a common trait: loving pets, caring about quality service and desire to grow a successful business.

		FRANCHISEE PROFILE
		•	Owner-Operator: No previous business experience necessary, hands-on operator.
		•	Corporate refugee/displaced executive: Previous corporate professionals & executives, first-time entrepreneur, some relative business and management experience
		•	Experienced Empire Builders: multi-brand/multi-unit franchisee looking for next big thing, strong existing management team, infrastructure and financial resources to develop a large market quickly, affinity with mature franchise business and leading with professional leadership.
		DESIRED BACKGROUND OF IDEAL CANDIDATES
		•	Transferrable management/business experience or background is preferred, but not required.
		•	Skills include: sales, management of personnel, training and customer service.
		•	Pet lover.
		•	Passionate about a new business opportunity, the industry and the projected growth and demand that’s coming
		TESTIMONIALS
	</div>
</div>
