<% @page_title = "Franchisees" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec xtr">
	<div class="inside">
		<h3>Each of our franchisees is unique, but they are all motivated and enthusiastic, and they share the characteristics that drive the company:<br>
			<!-- are motivated and enthusiastic about the work they are doing. Each of our owners is unique, but they share common attributes that drive the company:<br> -->
		<span>a love for pets, a dedication to quality service, and a desire to grow a successful business.</span></h3>


		<!--<h3>Our owners are motivated and passionate. Each one is different, but each one shares a common trait:<br>
		<span>loving pets, caring about quality service, and desire to grow a successful business.</span></h3> -->

		<h4>Franchisee Profile:</h4>
		<ul class="profile">
			<li><span>Owner-Operator:</span>
				<br>No previous business experience necessary, hands-on operator.</li>

			<li><span>Corporate Refugee:</span>
				<br>Former corporate professionals &amp; executives, first-time entrepreneur, some relative business and management experience</li>
			<!-- /displaced executive -->

			<li><span>Experienced Empire Builders:</span><br>
				Multi-brand/multi-unit franchisee looking for next big thing, strong existing management team, infrastructure and financial resources to develop a large market quickly, affinity with mature franchise business and leading with professional leadership.
			</li>
		</ul>

		<div class="clearfix"></div><br>

		<ul class="paw">
			<h4>Desired Background of Ideal Candidates:</h4>
			<li>Transferrable management/business experience or background is preferred, but not required.</li>
			<li>Skills include: sales, management of personnel, training and customer service.</li>
			<li>Pet lover.</li>
			<li>Passionate about a new business opportunity, the industry and the projected growth and demand that’s coming</li>
		</ul>

		<!-- <p>TESTIMONIALS?</p> -->
	</div>
</div>
