<% @page_title = "Next Steps" %>
<% @page_description = "New Description" %>
<div class="franchise-steps">


	<div class="overview">
		<div class="inside">
			<div class="process-img"><%= image_tag('bowls', class: 'img-responsive', alt: '') %></div>

			<div class="list-intro">
				<h3>If you are interested in becoming a member of the Woof Gang Bakery pack, read through the steps listed below.</h3>
				<p><b>THIS PAGE WORKED WITH NO CONTENT, AND BROKE WITH FULL CONTENT. TEST 3.</p>
			</div>
		</div>
	</div>
