<% @page_title = "Next Steps" %>
<% @page_description = "New Description" %>

<div class="franchise-steps">
	<%= render 'franchise_pages/franch-header' %>

	<div class="overview">
		<div class="inside">
			<div class="process-img"><%= image_tag('bowls', class: 'img-responsive', alt: '') %></div>

			<div class="list-intro">
				<h3>If you are interested in becoming a member of the Woof Gang Bakery pack, read through the steps listed below.</h3>
				<ul>
					<li><a href="#form" uk-scroll>1. Complete Franchise Inquiry Form</a></li>
					<li><a href="#call" uk-scroll>2. Introductory Call</a></li>
					<li><a href="#apply" uk-scroll>3. Complete Franchise Application</a></li>
					<li><a href="#fdd" uk-scroll>4. Review Franchise Disclosure Document</a></li>
					<li><a href="#follow" uk-scroll>5. FDD Follow-Up</a></li>
					<li><a href="#day" uk-scroll>6. Discovery Day</a></li>
					<li><a href="#sign" uk-scroll>7. Signing the Agreement</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
