<% @page_title = "Investment Details" %>
<% @page_description = "New Description" %>



<%= render 'franchise_pages/franch-header' %>

<div class="full-sec idets">
	<div class="inside med">
		<div class="intro">
			<p>
				The Woof Gang Bakery investment range may vary based on these factors:
				<span>specific geographic area, square footage of location, optional equipment and design features, and landlord contributions.</span>
			</p>
			<%= image_tag('sm-bones.jpg', class: 'img-responsive', alt: '') %>
			<%= image_tag('sm-bones-short.jpg', class: 'img-responsive mobile', alt: '') %>
		</div>

		<ul class="inv">
			<li><span>Initial term is 10 years.</span></li>
			<li><span>Investment Range:</span><br> $236,875 – $540,900
				<br><span class="print">This includes franchise fee of $39,900, additional fees and recommended working capital per Item 7 in Franchise Disclosure Document.</span>
			</li>
			<li><span>Financing:</span><br> Preferred lenders provide up to 70%</li>
			<li><span>Minimum Liquidity:</span><br> $150,000 (we recommend $200,000)</li>
			<li><span>Minimum Net Worth:</span><br> $1M (we will consider lower net worth, based on liquidity)</li>
			<li><span>Royalty Fee:</span><br> 6% of monthly gross sales (includes National Marketing Fee)</li>
		</ul>
	</div>
</div>
