<% @page_title = "Investment Details" %>
<% @page_description = "New Description" %>



<%= render 'franchise_pages/franch-header' %>

<div class="full-sec">
	<div class="inside">
			The current investment to open a Woof Gang Bakery varies by total square footage of site, optional equipment and store design features, specific geographic area and landlord contributions.

			•	Investment Range: $236,875– $540,900 (includes franchise fee of $39,900, additional fees and recommended working capital per Item 7 in Franchise Disclosure Document)
			•	Financing: Preferred lenders provide up to 70% financing
			•	Minimum Liquidity: $150,000 ($200,000 recommended)
			•	Minimum Net Worth: $1M (lower would be considered based on liquidity)
			•	Royalty Fee: 6% of monthly gross sales (includes National Marketing Fee)
			•	Initial term is 10 years.
	</div>
</div>
