<% @page_title = "Next Steps" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec">
	<div class="inside">
			COMPLETE FRANCHISE INQUIRY FORM
			Please complete our Franchise Inquiry Form to receive additional information. A Woof Gang Bakery representative will be in touch with you within one business day.
			INTRODUCTORY QUALIFYING CALL
			During your first call you will further discuss the Woof Gang Bakery opportunity and cover a few key topics, including your motivation, business background and territory of interest. They will be happy to answer any additional questions you have.
			FILL OUT FRANCHISE APPLICATION
			Returning your profile to your representative tells us that you are serious about the opportunity and it gives us a clear picture of your financials and background.
			RECEIVE FRANCHISE DISCLOSURE DOCUMENT (FDD)
			Upon receipt of your confidential financial profile; you will receive our Franchise Disclosure Document. The FDD further defines the relationship between us - the Franchisor and you - the Franchisee. It contains the legal responsibilities involved in owning a Woof Gang Bakery and it is what you will sign to become a Franchisee.
			FDD FOLLOW-UP
			After receiving and reviewing your FDD, your representative will schedule a time to go over any questions that you may have.
			DISCOVERY DAY!
			Held at our office in Orlando, FL. You will also spend the entire day meeting the franchise support team and have a paws on learning experience.
			SIGNING THE AGREEMENT
			If we feel that you are a great Franchisee candidate, we will send you a formal written offer including the assigned territory.
	</div>
</div>
