<% @page_title = "Franchise Questions" %>
<% @page_description = "New Description" %>

<div class="franchise-faqs">
	<%= render 'franchise_pages/franch-header' %>
	<div class="top-row">
		<div class="inside">
			<!-- <div class="top-img">
				<%= image_tag('ride', class: 'img-responsive', alt: '') %>
			</div> -->

			<div class="ttext">
				<h3>Do you have questions about becoming a Woof Gang Bakery franchisee?<br>
				Read through our list of FAQ's below to learn more. If your question isn't answered on this page, <%= link_to 'click here', contact_path, class: 'text-link' %> to contact us for more information.</h3>
				<p><b>THIS PAGE WORKED WITH NO CONTENT, AND BROKE WITH FULL CONTENT. TEST 3.</p>
				<!-- <p>Want to save for later? Download your own copy of the <strong>FAQs</strong>.</p> -->
			</div>
		</div>
	</div>
</div>
