<% @page_title = "Franchise Questions" %>
<% @page_description = "New Description" %>

<div class="franchise-faqs">
	<%= render 'franchise_pages/franch-header' %>

	<div class="faq-tabs">
		<div class="inside">

			<ul class="bottom">
				<li><a>Why Woof Gang Bakery?</a></li>
				<li><a>What do I need to apply as a franchisee?</a></li>
				<li><a>Will I have to be involved in the business full-time?</a></li>
				<li><a>What operational support does Woof Gang Bakery provide?</a></li>
				<li><a>What type of training do you provide?</a></li>
				<li><a>How many employees will I need?</a></li>
				<li><a>Does Woof Gang Bakery help with marketing?</a></li>
				<li><a>Do all franchises buy products from the same vendors?</a></li>
				<li><a>Do you assist with site selection?</a></li>
				<li><a>Do you offer advice on construction?</a></li>
				<li><a>What makes a Woof Gang Bakery the leader of the pack?</a></li>
				<li><a>What does it cost to become a franchise owner?</a></li>
				<li><a>Is it possible to operate multiple Woof Gang Bakery stores?</a></li>
				<li><a>What are the ongoing fees?</a></li>
				<li><a>Where is the brand expanding?</a></li>
				<li><a>What is the next step?</a></li>
			</ul>

		</div>
	</div>
</div>
