<% @page_title = "Real Estate" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec xtr">
	<div class="inside one">
		<h3>
			Since opening our first store in 2007, Woof Gang Bakery has expanded our pack to more than 100 locations nationwide.
			A prime location is one of the most important components of any Woof Gang Bakery store, so we have developed guidelines to help with site selection.
		</h3>

		<div class="full mid">
			<%= image_tag('wilmington-exterior.jpg', class: 'img-responsive ext', alt: 'Woof Gang Bakery, store exterior')%>
			<div class="content">
				<ul class="paw small">
					<p>Use the following criteria to help you find the perfect location for your Woof Gang Bakery store.</p>

					<li>
						<b>Square Footage:</b>
						1,200 – 2,500 square feet</li>

					<li>
						<b>Retail Space:</b>
						Free standing, end cap, or in-line units</li>

					<li>
						<b>Ideal Co-Tenants:</b>
						High-end retail, service-oriented businesses, and grocery stores or other daily needs </li>

					<li>
						<b>Sources for Strong Foot Traffic:</b>
						Trade area mix of offices and retail, with close proximity to upscale residential areas (average household income above $70,000)</li>

					<li>
						<b>Surrounding Residential Areas:</b>
						Population density of 15,000+ households</li>

					<li>
						<b>Grooming Permissions:</b>
						Grooming permitted, or allowed with special permit</li>
				</ul>
				<!-- <p>Think you've sniffed out the perfect site for the next Woof Gang Bakery location? Tell us about it!<br>Send all the details you can get your paws on (including: square footage, other tenants, zoning classification, photos, etc...) to: <a class="text-link">Cara@woofgangbakery.com</a></p> -->
			</div>
		</div>

		<div class="banner">
			<div class="text">
				<h4>Think you've sniffed out the perfect site for the next Woof Gang Bakery location?</h4>
				<p>Send all the details you can get your paws on (including: square footage, other tenants, zoning classification, photos, etc...) to: <a class="text-link">Cara@woofgangbakery.com</a></p>
			</div>
		</div>
	</div>
</div>
