<% @page_title = "Real Estate" %>
<% @page_description = "New Description" %>

<!-- 2, 4 = X -->
<%= render 'franchise_pages/franch-header2' %>

<div class="franchise-layout fl2 real-estate">
	<div class="statement">
		<div class="inside med2-def">
			<h3>A prime location is one of the most important components of any Woof Gang Bakery store, so we have developed guidelines to help with site selection.
				<br><span>Use the following criteria to find the perfect location for your Woof Gang Bakery store.</span></h3>
		</div>
	</div>


	<div class="col">
		<div class="inside med2-def">
			<div class="full one">
				<h4>Ideal Space:</h4>
				<ul class="">
					<li>1,200 to 4,000 square feet</li>
					<li>Free standing, end cap, or in-line units</li>
					<li>Glass frontage 60 square feet minimum</li>
					<li>Rear door delivery</li>
					<li>Grooming permitted, or allowed with special permit</li>
				</ul>
			</div>

			<div class="full two">
				<h4>Typical Lease Terms:</h4>
				<ul class="">
					<li>Minimum 5+5 year lease term, to match franchise terms</li>
					<li>Standard vanilla shell delivery</li>
					<li>Tenant improvement allowance</li>
					<li>Free rent period during construction</li>
					<li>Exclusive use protection</li>
					<li>Assignability provision to support long-term viability</li>
				</ul>
			</div>

			<div class="full three">
				<h4>Demographics:</h4>
				<ul class="">
					<li>Co-tenants: High-end retail, service-oriented businesses,<br class="xl"> grocery stores and other daily needs</li>
					<li>Sources for strong foot traffic: Trade area mix of office and<br class="xl"> retail, with surrounding residential</li>
					<li>Average household income: $70,000+</li>
					<li>Surrounding Residential Areas: Population density of<br class="xl"> 15,000+ households</li>
				</ul>
			</div>

			<div class="image-nrw">
				<%= image_tag('sign-narrow.jpg', class: 'img-responsive', alt: '') %>
			</div>
		</div>
	</div>



	<div class="banner-disc">
		<div class="inside med-def">
			<h4>Do you have available property that may be a perfect fit for a Woof Gang Bakery? <br>Click the button to submit a site for consideration.</h4>
			<div class="btn-hlf">
				<%= link_to 'Real Estate Submissions', real_estate_submissions_path, class: 'woof-link' %>
			</div>
		</div>
	</div>
</div>
