<% @page_title = "Real Estate" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec">
	<div class="inside">
		Outstanding real estate is a key factor to success. Since opening in 2007, Woof Gang Bakery has grown to more than 100 locations across the United States.
		Have a site that you think would be ideal for a Woof Gang Bakery location? Please review the following criteria for consideration:
		•	1,200 – 2,500 square feet
		•	End-cap, free-standing or in-line space
		•	Preferred co-tenants include grocery, daily needs, and other service related businesses
		•	Strong residential population density – 15,000 or more households
		•	Sources for strong foot traffic: trade area mix of offices and retail with surrounding upscale residential
		•	Above average household income above $70,000
		•	Grooming use allowed by right or by way of Special Use Permit.
		Please send as much information as possible including photographs, square footage, zoning classification, co-tenants, etc. to:
		Cara@woofgangbakery.com
		Cara Allen
	</div>
</div>
