<% @page_title = "Test Page" %>
<% @page_description = "" %>

<div class="ctaHeader" id="image-wrap">
	<div class="formBox">
		<h1>Request Franchising Information</h1>
		<script type="text/javascript" src=https://form.jotform.com/jsform/222214770102037></script>
  </div>
</div>
