<% @page_title = "Training & Support" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="ts1">
	<div class="inside med2">
		<p class="top">Woof Gang Bakery has assembled an experienced, talented, and dedicated team to lead our efforts.<br>
		Our Executive and Operations staff have a wealth of experience in retail, marketing and franchise support.</p>

		<ul class="paw blue xsmall one">
			<li>Site selection and lease negotiation</li>
			<li>Construction, layout and design</li>
			<li>Vendor and distribution sourcing/purchasing</li>
			<li>Product research and development</li>
			<li>Point of sale software</li>
		</ul>

		<ul class="paw blue xsmall two">
			<li>Operation and sales training</li>
			<li>Marketing guidance – grand opening planning</li>
			<li>Monthly franchise accounting analysis</li>
			<li>Franchisee resource page</li>
			<li>National conferences in Orlando and Las Vegas.</li>
		</ul>
	</div>
</div>

<div class="support-list">
	<div class="inside">
		<div class="left">
			<h4>Sampling of Our Support Services:</h4>
			<!-- <li>A comprehensive training program that blends hands on training for everyone, from operating partners to new employees.</li> -->
			<p>Woof Gang Bakery incorporates a comprehensive training program that blends hands on training for everyone, from operating partners to new employees.</p>
		</div>

		<div class="right">
			<ul class="">
				<li class="tli"><span>Management Tools</span><br> Our management tools will facilitate ordering, scheduling, and contain an ideal cost program to help manage your costs.</li>
				<li class="tli"><span>Training Manuals</span><br> Our Manuals take you from A-Z -- from securing real estate, to opening and marketing your store.</li>
				<div class="clearfix"></div>
				<li><span>Management Team</span><br>Our management team will keep you posted on all operations, marketing, purchasing, and other current events involving Woof Gang Bakery.</li>
				<li><span>Support Team</span><br> Our Support team will be on site throughout the entire process, to help you successfully launch your store.</li>
			</ul>
		</div>
	</div>
</div>

<div class="ts-last">
	<div class="inside med">
		<div class="left">
			<%= image_tag('woof-bone.jpg', class: 'img-responsive', alt: '') %>
		</div>

		<div class="right">
			<p>We have also partnered with the best companies and suppliers to provide products and resources such as:</p>
				<ul>
					<li>Phillips Feed & Pet Supply</li>
					<li>Central Garden & Pet Company</li>
					<li>Pet Food Ltd</li>
					<li>Wholesale Pet</li>
				</ul>
			<p>These companies provide our franchisees with high quality products, solutions, and services to assist in the operations of our stores, and deliver a high level of guest satisfaction.</p></div>
		</div>
	</div>
</div>



<!-- <div class="inside">
	<ul class="paw">
		<p class="top">Sampling of Our Support Services:</p>
		<li>A comprehensive training program that blends hands on training for everyone, from operating partners to new employees.</li>
		<li>Our management tools will facilitate ordering, scheduling, and contain an ideal cost program to help manage your costs.</li>
		<li>Our Manuals take you from A-Z -- from securing real estate, to opening and marketing your store.</li>
		<li>Our management team will keep you posted on all operations, marketing, purchasing, and other current events involving Woof Gang Bakery.</li>
		<li>Our Support team will be on site throughout the entire process, to help you successfully launch your store.</li>
	</ul>
</div> -->
