<% @page_title = "Training Support" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="full-sec">
	<div class="inside">
		Woof Gang Bakery has assembled an experienced, talented, and dedicated team to lead our efforts. Our Executive and Operations staff have a wealth of experience in retail, marketing and franchise support.

		•	Site selection and lease negotiation
		•	Construction, layout and design
		•	Vendor and distribution sourcing/purchasing
		•	Product research and development
		•	Point of sale software
		•	Operation and sales training
		•	Marketing guidance – grand opening planning
		•	Monthly franchise accounting analysis
		•	Franchisee resource page
		•	National conferences in Orlando and Las Vegas.

		Sampling of our support services:

		•	A comprehensive training program that blends hands on training for everyone from operating partners to new employees.
		•	Our management tools will facilitate ordering, scheduling, and contains an ideal cost program to help manage your costs.
		•	Our Manuals takes you from A-Z, from securing real estate to opening and marketing your store.
		•	Our management team will keep you posted on all operations, marketing, purchasing, and other current events involving Woof Gang Bakery.
		•	Our Support team will be on site throughout the entire process to help you successfully launch your store.

		We have also partnered with the best companies and suppliers to provide products and resources such as: Phillips Feed & Pet Supply, Central Garden & Pet Company, Pet Food Ltd, and Wholesale Pet. These companies provide our franchisees with high quality products, solutions, and services to assist in the operations of our stores and deliver a high level of guest satisfaction.
	</div>
</div>
