<% @page_title = "Real Estate Submissions" %>
<% @page_description = "Do you have available property that may be a perfect fit for a Woof Gang Bakery? Fill out our real estate form to submit a site." %>

<div class="full-sec" id="it-wrap" uk-grid>
	<div class="intro-text">
		<div class="full in-itext" style="z-index: 90; padding-bottom:0px;" uk-sticky=" bottom: #it-wrap;">
			<%= image_tag('miliona.jpg', class: 'img-responsive img-fw', alt: 'Woof Gang Bakery store exterior') %>
			<%= image_tag('miliona-mob.jpg', class: 'img-responsive img-mob', alt: 'Woof Gang Bakery store exterior - mobile version') %>
		</div>
	</div>

	<div class="form-side">
		<div class="full">
			<h1><%= @page_title %></h1>
			<p class="bmargin0">Do you have available property that may be a perfect fit for a Woof Gang Bakery?<br class="xl"> Submit a site for consideration.</p>
		</div>
    <%= render 'form' %>
  </div>
</div>
