<% @page_title = "Vendor Relations" %>
<% @page_description = "Got a great product? Submit details on your product to Woof Gang Bakery Vendor Relations." %>


<div class="full-sec" id="it-wrap" uk-grid>
	<div class="intro-text">
		<div class="full in-itext" style="z-index: 90; padding-bottom:0px;" uk-sticky=" bottom: #it-wrap;">
			<%= image_tag('vendor.jpg', class: 'img-responsive img-fw', alt: 'Puppy sniffing bones at Woof Gang Bakery') %>
			<%= image_tag('vendor-mob.jpg', class: 'img-responsive img-mob', alt: 'Puppy sniffing bones at Woof Gang Bakery - mobile version') %>
		</div>
	</div>

	<div id="form-b" class="form-side">
		<h1><%= @page_title %></h1>
		<p class="bmargin0">Got a great product? Submit details on your product to Woof Gang Bakery Vendor Relations.</p>
	  <%= render 'form' %>
	</div>
</div>
