<% @page_title = "Vendor Relations" %>
<% @page_description = "Got a great product? Submit details on your product to Woof Gang Bakery Vendor Relations." %>


<div class="full-sec" id="it-wrap" uk-grid>
	<div class="intro-text">
		<div class="full in-itext" style="z-index: 90; padding-bottom:0px;" uk-sticky=" bottom: #it-wrap;">
			<%= image_tag('vendor.jpg', class: 'img-responsive img-fw', alt: 'Puppy sniffing bones at Woof Gang Bakery') %>
			<%= image_tag('vendor-mob.jpg', class: 'img-responsive img-mob', alt: 'Puppy sniffing bones at Woof Gang Bakery - mobile version') %>
		</div>
	</div>

	<div id="form-b" class="form-side">
		<h1 class="aria-hidden"><%= @page_title %></h1>
	  	<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrE1uC42zEOHt9gg?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="2478" style="background: transparent; border: 0px solid #ccc;"></iframe>
	</div>
</div>
