<% @page_title = "Edit Post" %>
<% @page_description = "" %>


<div class="ipage-header opink simple">
	<div class="inside">
	  <div class="title-left">
	    <h1><%= @page_title %></h1>
	  </div>
	</div>
</div>

<div class="full-sec">
	<div class="inside med">
    <%= render 'form' %>
	</div>
</div>
