$f9: #f9f9f9;
$f8: #f8f7f7;
// #f9f7f3
$f0: #f0f0f0;
$f3: #f3f3f3;
$f2: #f2f2f2;
$fa:#faf7f7;
$df: #dfdfdf;
$white: #fff;
$black: #000;
$red: #ff0000;
$cream: #fbfaf7;

$pink: #ec008c;
$opink:#fff7f9;
$pink7: #f05bae;
$lpink:#fef2f9;
$dpink: #17000e;
$brown:#7a1501;
$tbrown:#300800;
$compb: #008cec;
$compt:#00b5a5;
$compg:#01667a;

$lbrown:#eae6e5;

$semi: 400;
$border: 1px solid $f0;
// $helv: "Helvetica Neue";
// $helv2: "Helvetica Neue Mid";
$helv: "Helvetica Neue", Helvetica, Arial, sans-serif;
$pop: $helv;
$body: $helv;
