$f7: #f7f7f7;
$f0: #f0f0f0;
$f3: #f3f3f3;
$f2: #f2f2f2;
$df: #dfdfdf;
$white: #fff;
$black: #000;
$pink: #ec008c;
$brown:#7a1501;
// 791609
$red: #ff0000;

$border: 1px solid $f0;
$lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
