@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700|Poppins:300,400,500,600|Quicksand:400,500,700');
@import "mixins";
@import "variables";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {max-width: 556px;}
  @media (min-width: 768px) {max-width: 748px;}
  @media (min-width: 992px) {max-width: 972px;}
  @include bp(dt) {max-width: 1180px;}
  @include bp(ph) {max-width: 90%;}
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  &.full{
    margin-right: 0;
    margin-left: 0;
  }
}


body {
  margin:0;
	line-height: 1.5em;
  font-family: $muli;
  @include sec-default();
  // padding:0 50px;
  // .page-body {background-color: $f9;}


  h1, h2, h3, h4, h5, p, li, a {color: $tbrown; line-height: 1.5em;font-family: $muli;
    &.bmargin0 {margin-bottom: 0;}
    &.pop{font-family: $pop;}
    &.quick {font-family: $quick;}
    &.pink {color: $pink;}
    &.brown {color: $brown;}
    &.compb {color: $compb;}
    &.compt {color: $compt;}
    &.compg {color: $compg;}
    &.strong {font-weight: bold;}
    &.semi {font-weight: $semi;}
  }
  p{font-size: 17px;}
  h1{font-size: 2rem; font-weight: bold;}
  h2{font-size: 1.75rem;}

}
.bmargin0 {margin-bottom: 0;}
.tmargin0 {margin-top: 0;}

.text-center {text-align: center;}

.visually-hidden {
  @include visuallyHidden();
}

.img-responsive {max-width: 100%; height: auto; display:block;}
ul{margin:0;}
li {list-style-type: none;}

a {
  &:focus,
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
}



// forms //
.msg-bx {@include sec-default();
  .alert{font-weight: bold; padding: 7px 20px;
    &.alert-notice { background-color: rgba(0,146,13, .2); color: $black;}
    &.alert-alert {background-color: $red; color: $white; }
  }
}
.notice {color: $red;}

.panel.panel-danger.err {width:90%; @include center-block();
  h4.panel-title {background-color: rgba($red, .8); color: $white; @include tshadowl(rgba($black, .7)); margin-bottom:10px;padding-left: 10px;}
  li {color: $red; margin-bottom:5px; list-style-type: disc;}
}
.alert.alert-success {background-color: rgba(0,146,13, .2); color: $black;}


p.print {font-size: .9rem; margin-top: 7px; color: $compt;}
form{
  fieldset{border:0;}
  input, textarea,select {width:100%; height:30px;margin-top:3px; font-size: 15px; padding-left: 5px;}
  textarea{height: 100px;padding-top:3px;}
  label{font-size: 15px; color: $tbrown; font-weight: $semi}
  .form-group.submit{@include sec-default();
    input.send-message {width:15%; height:auto; background-color: $pink; font-size: 16px; color: $white; font-weight: $semi; padding: 8px 10px;}
  }
}
