@import "mixins";
@import "variables";



// franchise header
.franchise-head.v2 {@include sec-default(); position: relative; z-index: -1;
	padding: 40px 3% 0 3%; text-align: center;
  &::before{@include after(); height: 50%;
  	background-color: darken($opink, 1%);
  }
	.inside.lg {width:95%; }

  img {height: 500px; @include center-block();}

  .text {@include sec-default(); text-align: center; padding:30px 0 30px;}
  h1{text-transform: uppercase; letter-spacing: 1px;line-height: 1.4em; font-size: 1.8rem; margin:0;
  	// font-family: $pop;
  }
  h2{ font-size:1.2rem; margin-bottom: 0px; font-weight: 400;
  	// font-family: $pop; font-weight: 300;
  }
}


/////
.franchise-layout {@include sec-default(); padding: 50px 0;
	.statement {@include sec-default(); padding-bottom: 50px;
		h3{font-size: 1.35rem;text-align: center;
		 	span {color: $pink;}
		 	// &.thin {font-family: $pop;font-weight: 300; }
		}

		&.less {
			h3 {font-size: 1.2rem;}
		}
	}

	.franch-body {@include sec-default();
		h4{font-weight: $semi; margin-bottom: 5px; }
		p{margin-top:0;}
		.left, .right {display: inline-block; float: left; width:45%;}
		.right{float: right;}

		&.alt {
			.right, .left{width: 48%;}
			li{font-size: 17px;}
		}
	}

	.fb-tabs {
		@include sec-default(); background-color: $f8; padding:30px 0;
		.uk-tab li {
			a {font-size: 16px;  text-transform: none; color:$black;}

			&.uk-active a {border-color:$pink; font-weight: $semi;}
		}

		.uk-switcher{@include sec-default(); padding-top:25px;}
	}

	// h4 vertical
	.inline-info {
		.bod {width: 60%; float:right; margin-right: 5%}

		.full{padding:40px 0;}

		ul.paw li {
			&::before {width: 6px; height:6px; top:18px; left:0; background-color: rgba($pink, .6); background-image: none;
				top:8px;
			}
		}

		.full {
			position: relative; z-index: 0;
			@include sec-default(); padding: 60px 10%;

			p{margin-bottom: 30px;}
			p.text-right {text-align: right;}
			h4 {font-weight: normal;
				position: absolute; @include rotate(-90deg); width:220px; z-index: 1; bottom:140px;
			}
			&.one,&.three{background-color: rgba($f8, .5); }
			&.one h4 {bottom: 175px;}

			.content {width:80%; float: right;}
			h4{left:0;}
			&.one h4{bottom:200px}
			&.two h4{bottom:190px}
		  &.three h4{bottom:165px;}
			li{font-size: 16px;
				// font-weight: 300;
			}

			padding: 60px 5% 60px 18%;
			h4{left:18%; text-transform: uppercase; font-size: 1.2rem;}
			&.one h4{bottom:165px}
			&.two h4{bottom:145px}
		  &.three h4{bottom:135px;}
		}
	}

	// fw
	.col {@include sec-default();
		h4{font-weight: 500;  text-transform: uppercase; letter-spacing: .6px; margin-bottom: 10px;}
		// p{font-weight: 300;}

		.full, .image-nrw {margin-bottom: 70px;
			width:47%; display: inline-block;
			width:45%;
			float: left;
			&:nth-child(2n+2){float: right;}
			&.three {margin-top: 30px;}
			&.one, &.three {margin-left:3%; }
			&.two {margin-right: -2%;}
		}
		ul {padding-left: 20px;}
		li {margin-bottom: 7px; font-size: 16px; line-height: 1.7em;
			// font-weight: 300;
			position: relative; z-index: 0;
			margin-bottom: 5px;
			padding-left: 14px;
			&::before {@include before(); width:20px; height:1px; left: -20px; background-color: rgba($black, .2); top:14px;}
		}

		.image-nrw  {width:45%;
			position:absolute; margin-top:22%; right:0;
			height:270px; overflow: hidden;
		}
	}

	.lay-new {padding:50px 0 40px;
		hr {margin-top: 0; width:90%;}

		.full.dbl {
			h4{ font-weight: 500;text-transform: uppercase; letter-spacing: .3px; margin-bottom:5px;}
			li {font-size: 16px; margin-bottom: 5px; line-height: 1.7em;
				// font-weight: 300;
				position: relative; z-index: 0;padding-left: 5px;
				&::before {@include before(); width:15px; height:1px; left: -20px; background-color: rgba($black, .2); top:12px;}
			}

			.content, .image {display: inline-block; float: left;}
			.content {
				background-color: $white;
				width:45%;
				float: right;
			}
			.image{ width:45%;}


			&.one {margin-bottom: 100px;
				.content{float: none;  margin-left: 4%; margin-top: 5%;}
				.image{float: left; margin-left: 2%;}
			}

			&.two {
				p{width:90%;}

				.image {float: none; }
				.content {width:50%; float: left; margin-left: 2%; padding-left: 20px; margin-top:1%;}
			}
		}


		.left, .right {display: inline-block; float: left; width:49%;
			.full {padding-left: 20px;}
			li {font-size: 16px; margin-bottom: 5px; line-height: 1.7em;
				// font-weight: 300;
			}
			ul {padding-left: 15px; margin-bottom: 30px; }
			h4{ font-weight: 500; color: $pink; text-transform: uppercase; letter-spacing: .6px; margin-bottom: 10px;}
			.image {margin-bottom: 20px;}
		}
		.right {float: right; margin-top: 5%;}
	}
}

.training-support {
	.franch-head-layer {margin-bottom: 60px;}
	.fhl-text, .statement {display: inline-block; float: left; width:30%;}
	.fhl-text {margin-left: 13%; padding-right: 20px; border-right: $border;}
	.statement {float: none; margin-left: 1%; width:45%; text-align: left;
		padding-left: 15px;
		// margin-top:3%;
		h3{font-size: 1.1rem;
		 	span {color: $pink;}
		}
	}
}

.franchise_pages .page-body {
	ul, ul.paw {
    p {margin-bottom: 10px; font-weight: $semi; }

    @include bp(tb) {
			li {font-size: 16px;}
    }

    @include bp(tn) {
			li {font-size: 15px;}
    }
  }
}

.intro {width:77%;
	&.center {@include center-block();}
	&.sm{width:65%;}
	.woof-link{@include center-block();}
}

.franchising {
	.franchise-layout li {font-size: 16px; margin-bottom: 7px; text-transform: uppercase; letter-spacing: .5px;
		// font-weight: 300;
	}

	.landing-layout {@include sec-default(); padding:20px 0 80px;
		li{ position: relative; z-index: 0; padding-left: 10px;
			&::before {@include before(); width:15px; height:1px; left: -20px; background-color: rgba($black, .4); top:10px;}
		}

		.box{@include sec-default();}
		.box.one,.box.two, .box.long {
			.image, .text { float: left; width:40%; }
			.text {margin-top: 2%;}
			h3{ position: absolute;width:33%; font-size: 1.3rem;
				padding-right: 40px;
				margin-left: 3%;
				// font-weight: 300;
				span{color:$pink;}
			}
			.image {display: inline-block;width:60%; float: right;}
			.img1, .img2 {display: inline-block; float: right; position: relative; z-index: 0; border:7px solid $white;}
			.img1 {width:90%;}
			.img2 {width:55%; float: left; margin-top: -25%; margin-left: -16%}

			li{text-transform: none; letter-spacing: 0;}
		}
	}

	.content-layout {@include sec-default(); padding:40px 0 80px;
		li{text-transform: none; letter-spacing: 0;
			position: relative; z-index: 0; padding-left: 10px;
			&::before {@include before(); width:15px; height:1px; left: -15px; background-color: rgba($black, .3); top:11px;}
		}

		.full.fw {
			.image,.text {display: inline-block;width:45%; float: left;}
			.text {width:48%; float: right;}
			.woof-link{font-size:15px; width:50%; letter-spacing: .3px;
				margin-left: 8%;
				background-color: $pink;
			}

			&.one p, &.two p.sig,  &.three p.sig{font-size: 18px;font-weight: 400; letter-spacing: .3px; }

			&.one {
				.image{width:48%;}
				.text{margin-top:5%;}

				.woof-link {text-align: left; margin-left: 3%;
					// width:123%;
				}
			}

			&.two {margin-top: 80px;
				p{font-size: 16px; margin:5px 0 10px;
					// font-weight: 300;
				}
				p.sig{font-size: 18px; font-weight: 500; margin-bottom: 5px; margin-left: -15px;}
				.text {float: left; width:54%; padding-left:15px; margin-left:-5%;}
				.image {float: right; margin-top:8%;}
				ul{margin-top:25px;}
				li{margin-bottom: 13px;}
			}
		}
	}
}



//****** real estate *******//
.real-estate {}


//****** franchise faq *******//
.franchise-faqs {
  .top-row {@include sec-default(); padding: 100px 0 0px;
		h3 {font-size: 1.2rem; }
  	.ttext{@include center-block();width:65%; text-align: center;}
  }

  .faq-tabs{@include sec-default(); padding: 50px 0;
		.uk-tab-bottom, .uk-switcher {display: inline-block; float: left; width:40%;}
		.uk-tab-bottom {
			li{margin-bottom: 10px; margin-left: 0; padding-left: 0;}
			a{text-align: left; font-family: $body; font-weight: normal; color: $tbrown; font-size: 1rem; padding:0;}
		}

		.uk-tab>.uk-active::before {@include before(); width: 20px; height: 20px; left:-25px; @include sec-bgimage('comp-paw.png'); margin-top:3px;}
	  .uk-tab>.uk-active>a {border-top: 0; color: $compb; font-weight: $semi;}

		.uk-switcher {width:57%; float: right; background-color: $white;
			h4{border-bottom: 1px solid rgba($tbrown, .1); padding-bottom:4px; font-weight: $semi; font-size: 1.1rem;}
			p{font-weight: normal;}
			li{margin-left: 0;}
			.tab-img1{width:70%; @include center-block(); margin-top: 30px;}
		}
  }

  .faq-acc{@include sec-default(); display: none;
		h4{font-size: 16px; margin-bottom: 0;}
		.uk-accordion-content{border-top:1px solid rgba($tbrown,.1); margin-top:10px; padding-top: 10px;
		p{font-weight: normal; font-size: 15px;}
		}
  }

  @media (min-width:1600px) {
  	.faq-tabs .inside {width:70%;}
  }

  @media (max-width:1200px) {
  	.top-row {
	  	.ttext{width:80%;}
	  }

	  .faq-tabs {
	  	.inside{width:90%;}
	  	.uk-tab-bottom{width:43%;}
	  	.uk-switcher{width:55%;}
	  }
  }

  @include bp(tb) {
  	.top-row {padding: 70px 0 0px;
	  	.ttext{width:85%;}
	  	h3{font-size: 1.1rem}
	  }

	  .faq-tabs{
			.uk-tab-bottom{
				li a {font-size: 15px;}
			}

			.uk-switcher {
				h4{font-size:1rem;}
				p {font-size: 15px;}
			}
	  }
  }

  @include bp(tn) {
  	.top-row {padding: 50px 0 0px;
  		h3{font-size: 1rem;}
  	}

  	.bone-border {margin: 10px auto 30px;}

		.faq-tabs{display: none;}
		.faq-acc {display:block; padding-bottom: 30px;}
  }

  @include bp(pl) {
  	.top-row .ttext{@include sec-default();}
	}

	@include bp(oc) {
  	.faq-acc .inside.med{width: 85%;}
	}

	@include bp(sm) {
		.top-row {padding-top:20px;}
  	.faq-acc .inside.med{width: 94%;}
	}
}

//******** training **********//
.training-support {}


//****** franchise inquiries *******//
	// LOCATED IN STATIC_PAGES.SCSS WITH CONTACT PAGE
