@import "mixins";
@import "variables";



//****** franchise headers *******//
	// V1 -- static or parallax?
	// V2 -- tbox justify or hang off?
	// V2:V3 -- tbox white or opink?

// V1
.franch-header {@include sec-default(); text-align: center;
	.full{height:550px;@include sec-bgimage('bull-st.jpg'); background-position: center center;
		position: relative; z-index: 0;
		&::before{@include before(); background-color: rgba($black,.3);}

		.text {@include sec-default();margin-top:20%;}
	}

	.tbox {@include sec-default(); margin:auto !important;}

  h1,h2 {color:$white; @include tshadowl(rgba($black, .5)); margin:0px; font-weight: bold;}
  h1{text-transform: uppercase; letter-spacing: 1.5px;}
  h2{ font-size:1.5rem; line-height: 1.5em;}
}

// V2
.franchise-intro {@include sec-default();
	.full{@include sec-bgimage('bull-st-narrow.jpg'); background-position: bottom center; height:600px; position: relative;
		background-size: 95%;
		// box-shadow: 0px 4px 18px rgba($black, .2);
		h1{text-transform: uppercase;}
	}
	// position: relative; z-index: 0;
	// &::before{@include after(); width:40%; left:55%; height:100%; background-color: $pink; bottom:0;}
	// .image, .text {display: inline-block; float: left; width:85%; }

	.text {
		width:38%; padding:20px; text-align: center;
		// position: absolute; margin-left: -20%; text-align: right; margin-top:10%;
		position: absolute; bottom: 0; right:0; background-color: $opink;
		h2{font-size:1.2rem; margin:0;}
		h1{margin:0; }
	}

	.image{max-height:500px; overflow: hidden;}
}

// V3
.franchise-hfull{@include sec-default(); text-align: center;
	padding-bottom: 30px;
	.text, .image{position: relative; z-index: 1;}
	.image{height: 550px; overflow: hidden;}
	.text{width: 60%; @include center-block(); z-index: 2;}
	.full{background-color: $white; padding:15px 20px; margin-top:-107px;}
	h1,h2 {margin:0px; font-weight: bold;}
  h1{text-transform: uppercase; letter-spacing: 1.5px;line-height: 1.4em;}
  h2{ font-size:1.4rem; }
}





.franchise-layout {@include sec-default(); padding: 50px 0;
	.statement {@include sec-default(); padding-bottom: 50px;
		h3{font-size: 1.35rem;text-align: center;
		 	span {color: $pink;}
		}
	}

	.franch-body {@include sec-default();
		h4{font-weight: $semi; margin-bottom: 5px; font-family: $pop; }
		p{margin-top:0;}
		.left, .right {display: inline-block; float: left; width:45%;}
		.right{float: right;}
	}
}


.franchise_pages .page-body {
	ul, ul.paw {
    p {margin-bottom: 10px; font-weight: $semi; }
    li {margin-left:10px; font-size:17px;}

    @include bp(tb) {
			li {font-size: 16px;}
    }

    @include bp(tn) {
			li {font-size: 15px;}
    }
  }
}

.intro {width:77%;
	&.center {@include center-block();}
	&.sm{width:65%;}
	.woof-link{@include center-block();}
}



//****** franchise op *******//
.franchise-opportunity, .franchising {

	.full.top { padding: 40px 0 60px;
		.big, ul { display: inline-block; float: left; width: 35%; margin-left: 3%;}
		.big { margin-top:4%; text-align: center;
			p{font-size: 25px;@include sec-default();}
			hr{display: none;}
		}

		ul.paw {float:right; width:55%;
			li{margin-bottom: 10px;}
			li::before{left:-3px; top:4px;}
		}

		.woof-link{@include sec-default(); margin-top:15%;}
		.woof-link.xs-show{display: none;}
		.btn{@include sec-default(); color: $white; @include tshadowl(rgba($black, .3));padding: 14px 8px; margin-top: 20%;}
	}

	.banner {@include sec-default(); background-color: $pink; padding: 30px 0 15px; text-align: center;
		h3{color: $white; @include tshadowl(rgba($black, .3)); font-weight: bold; font-size:1.5rem;}
	}

	.full.btm {padding:50px 0;
		.inside {width:80%;}
		.tbox, .image {display: inline-block; float: left; width: 60%;}
		.image{float: right;width:37%;}
		.tbox {margin-top: 3%;}
		li{margin-bottom: 10px;}
	}


	@include bp(tb) {
		.fran-op {padding-top: 70px;}
		.intro{width:95%;}

		.full.top {padding: 10px 0 35px; background-size:12%;
			.inside.med2{width:80%;}
			.big { width: 35%; margin-left: 0;
				p{font-size: 20px;}
				.woof-link {font-size: 14px; padding: 10px 15px;}
			}

			ul.paw {width:60%; margin-left: 0; float: right;}
		}

		.banner {padding: 15px 0 0px;
			h3{font-size:1.35rem;}
		}

		.full.btm {padding:50px 0 20px;
			.inside {width:90%;}
			p{font-size: 16px;}
			.image{width:40%; }
			.tbox {width: 60%; margin-top: 0; padding-right: 20px;}
		}
	}

	@include bp(tn) {
		h3{font-size: 1.1rem;}
		.fran-op {padding-top: 55px;}

		.full.top {padding: 15px 0 25px; background-image:none;
			.inside.med2{width:85%;}
			.big { width: 35%; margin-top:7%;
				p{font-size: 18px;}
				.woof-link{margin-top:5%;}
			}

			ul.paw {width:60%;}
		}

		.banner {padding: 10px 0;
			h3{font-size:1.15rem;margin-bottom: 0px;}
		}

		.full.btm {padding:30px 0 20px;
			.inside {width:90%;}
			p{font-size: 15px; margin-bottom: 10px}
			.image{display: none; }
			.tbox {@include sec-default();padding-right: 0px;}
		}
	}

	@include bp(oc) {
		.fran-op {padding-top: 50px;}
		.intro{@include sec-default();}
		h3{font-size: 1rem; margin-bottom: 0;}

		.full.top {padding: 15px 0 25px; background-image:none;
			.inside.med2{width:85%;}
			.big {@include center-block(); width:90%; margin-top:0; border-top: 1px solid rgba($tbrown, .1); padding-top: 15px;
				p{font-size: 16px;}
				.woof-link{display: none; }
			}

			ul.paw {@include sec-default();margin-bottom: 15px;
				li{width: 85%; @include center-block();}
			}

			.woof-link.xs-show{display: block; margin-top: 0; width:50%; margin-left: 25%; font-size: 14px; padding:8px 20px;}
		}

		.banner h3{font-size:1rem;}

		.full.btm {padding:20px 0 10px;
			.inside {width:90%;}
			p{font-size: 15px; margin-bottom: 10px}
			.image{display: none; }
			.tbox {@include sec-default();padding-right: 0px;}
		}
	}

	@media (max-width:500px) {
		.abs-franch {display: none;}
		.fran-op {padding-top: 20px;}
	}

	@include bp(sm) {
		.full.top {
			.inside.med2{width:90%;}
			.big { width:97%;
				p{font-size: 15px;}
			}

			ul.paw li{width: 95%;}

			.woof-link.xs-show{width:70%; margin-left: 15%; }
		}
	}
}

//****** franchisees *******//
.franchisees {
	.intro-row{@include sec-default(); padding: 100px 0;text-align: center;
		h3 {font-size: 1.15rem;}
		span{ color: $pink; font-weight: $semi;}

		ul{width:50%; @include center-block(); text-align: left;}
		li {list-style-type: disc; color: $pink}
	}

	.fr-details{@include sec-default();
		.image, .text {display: inline-block; float: left; width:30%;}
		.text{float: right; width:67%; margin-top: 8%;}
		h4 {color: $compb; font-weight: $semi; font-size: 1.1rem; margin-bottom: 10px;}

		&.one {
			position: relative; z-index: 0; padding: 15px 0;
			&::before {@include after(); background-color: rgba($compt, .7);  bottom:0;}
			h4{color: $white; margin-top:10px;}
			.image {position: absolute; width:20%; top:-26%;}
			.text{width:70%; margin-top: 0; padding-top:0;}
		}

		&.two{
			padding:50px 0 55px;
			h4{font-size: 1.5rem; font-weight: bold;}
			.image{width:30%; float:right; margin-top: 2%;}
			.text{width:60%;float: left;padding-top:0; margin-top: 3%; margin-left: 5%;}
			ul.paw li{font-size: 18px; margin-bottom: 15px;}
		}
	}

	.profile {padding-left: 0;
		li{margin-bottom: 15px;
			span {font-weight: bold;}
		}
	}

	@include bp(su) {
		.fr-details{
			&.one {
				&::before {@include after(); background-color: rgba($compt, .7);  bottom:0;}
				.image {position: absolute; width:20%; top:-20%;
					img{position: relative; height: 450px;}
				}
				.text{width:70%; margin-top: 0; padding-top:0;}
			}

			&.two{padding:70px 0 35px;
				.image{width:25%;  margin-top: 0;}
			}
		}
	}

	@media (max-width: 1310px) {
		.intro-row {padding-bottom: 40px;}
		.fr-details{
			&.one{
				.text{width:85%;}
				.image{margin-left:-10%; top:-15%;}
			}
			&.two {padding-top: 30px;}
		}
	}

	@include bp(tb) {
		.intro-row {padding:65px 0 40px;
			.inside.med2{width:85%;}
		}

		.fr-details{
			h4 {font-size: 1rem;}

			&.one {padding-top:0;
				.image{top:-12%; width:22%;}
				.text{width:83%;
					li {margin-bottom: 10px;}
					li:last-child{margin-bottom: 0;}
				}
			}

			&.two{
				padding:50px 0 35px;
				h4{font-size: 1.3rem;margin-bottom: 5px }
				.image{width:25%; margin-top: 9%;}
				.text{width:65%;margin-top: 3%; margin-left: 0;}
				ul.paw li{font-size: 16px; margin-bottom: 10px;}
				hr{margin-bottom: 12px;}
			}
		}
	}

	@include bp(tn) {
		.intro-row {padding:50px 0 10px;
			.inside.med2{width:90%;}
			h3{font-size: 1rem;}
		}

		.fr-details{
			&.one {padding:10px 0 20px;
				.inside.med2{width:85%;}
				.image{display: none;}
				.text{@include sec-default();
					li {font-size: 15px;}
				}
			}

			&.two{
				padding:20px 0 35px;
				.inside.med{width:85%;}
				h4{font-size: 1.1rem; }
				.image{width:27%; margin-top: 9%;}
				.text{width:70%;margin-top: 3%;}
				ul.paw li{font-size: 15px; }
			}
		}
	}

	@include bp(oc) {
		.fr-details {
			&.two{
				padding:30px 0 20px;
				background-image: url(image_path('playful.png')); background-position: bottom right; background-repeat: no-repeat; background-size: 20%;
				.inside.med{width:90%;}
				h4{font-size: 1.1rem; }
				.image{display: none;}
				.text{width:85%;margin-top: 0;}
				ul.paw li{font-size: 15px; }
			}
		}
	}

	@include bp(sm) {
		.intro-row {padding:30px 0 0px;}
	}
}

//****** real estate *******//
.real-estate {}

//****** invest details *******//
.investment-details {
	.idets {padding: 100px 0 ;}
	.intro	{display: inline-block; width:45%; float:left; text-align: center;
		span {font-weight: bold;}
		img.mobile{display: none;}
	}
	ul.inv {
		display: inline-block; width:53%; float:right;
		li {margin-bottom:18px;
			&.left {float: left;}
			span{font-weight: $semi; color: $compb; font-size: 20px; }
			span.print {font-weight: normal; color: $tbrown; font-size:15px;}
		}
	}

	@include bp(su) {
		.idets .inside.med{width:1155px;}
		.intro {width: 48%; margin-left: 5%;}
		ul.inv{width:46%;}
	}

	@include bp(tb) {
		.idets {padding: 70px 0 20px;}
	}

	@include bp(tn) {
		.idets {padding: 50px 0 20px;}
		.inside.med{width:90%;}
		.intro	{width:50%;
			p {font-size: 15px}
		}
		ul.inv {width:50%;
			li {margin-bottom:13px; margin-left: 0;
				span{font-size: 16px; }
				span.print {font-size:14px;}
			}
		}
	}

	@include bp(oc) {
		.idets {padding: 50px 0 20px;}
		.inside.med{width:90%;}
		.intro	{width:90%; @include center-block();
			img{ @include center-block(); display: none;}
			img.mobile{@include sec-default();}
		}
		ul.inv {@include sec-default(); padding-top:20px;
			li {margin-bottom:13px; margin-left: 0;
				span{font-size: 16px; }
				span.print {font-size:14px;}
			}
		}
	}

	@include bp(sm) {
		.idets {padding: 30px 0 20px;}
	}
}

//****** franchise faq *******//
.franchise-faqs {
  .top-row {@include sec-default(); padding: 100px 0 0px;
		h3 {font-size: 1.2rem; }
  	.ttext{@include center-block();width:65%; text-align: center;}
  }

  .faq-tabs{@include sec-default(); padding: 50px 0;
		.uk-tab-bottom, .uk-switcher {display: inline-block; float: left; width:40%;}
		.uk-tab-bottom {
			li{margin-bottom: 10px; margin-left: 0; padding-left: 0;}
			a{text-align: left; font-family: $body; font-weight: normal; color: $tbrown; font-size: 1rem; padding:0;}
		}

		.uk-tab>.uk-active::before {@include before(); width: 20px; height: 20px; left:-25px; @include sec-bgimage('comp-paw.png'); margin-top:3px;}
	  .uk-tab>.uk-active>a {border-top: 0; color: $compb; font-weight: $semi;}

		.uk-switcher {width:57%; float: right; background-color: $white;
			h4{border-bottom: 1px solid rgba($tbrown, .1); padding-bottom:4px; font-weight: $semi; font-size: 1.1rem;}
			p{font-weight: normal;}
			li{margin-left: 0;}
			.tab-img1{width:70%; @include center-block(); margin-top: 30px;}
		}
  }

  .faq-acc{@include sec-default(); display: none;
		h4{font-size: 16px; margin-bottom: 0;}
		.uk-accordion-content{border-top:1px solid rgba($tbrown,.1); margin-top:10px; padding-top: 10px;
		p{font-weight: normal; font-size: 15px;}
		}
  }

  @media (min-width:1600px) {
  	.faq-tabs .inside {width:70%;}
  }

  @media (max-width:1200px) {
  	.top-row {
	  	.ttext{width:80%;}
	  }

	  .faq-tabs {
	  	.inside{width:90%;}
	  	.uk-tab-bottom{width:43%;}
	  	.uk-switcher{width:55%;}
	  }
  }

  @include bp(tb) {
  	.top-row {padding: 70px 0 0px;
	  	.ttext{width:85%;}
	  	h3{font-size: 1.1rem}
	  }

	  .faq-tabs{
			.uk-tab-bottom{
				li a {font-size: 15px;}
			}

			.uk-switcher {
				h4{font-size:1rem;}
				p {font-size: 15px;}
			}
	  }
  }

  @include bp(tn) {
  	.top-row {padding: 50px 0 0px;
  		h3{font-size: 1rem;}
  	}

  	.bone-border {margin: 10px auto 30px;}

		.faq-tabs{display: none;}
		.faq-acc {display:block; padding-bottom: 30px;}
  }

  @include bp(pl) {
  	.top-row .ttext{@include sec-default();}
	}

	@include bp(oc) {
  	.faq-acc .inside.med{width: 85%;}
	}

	@include bp(sm) {
		.top-row {padding-top:20px;}
  	.faq-acc .inside.med{width: 94%;}
	}
}

//******** training **********//
.training-support {}

//******** steps **********//
.steps, .franchise-steps {
	h3{font-size: 1.1rem; font-weight: $semi;}

	.overview{@include sec-default(); padding: 90px 0 40px;}
	.list-intro, .x-img {display:inline-block; width: 48%; margin-left: 3%; float:left;}
	.list-intro{padding-top:40px; float:right; width: 45%; margin-left: 0;
		li{font-size: 1em; margin-bottom: 10px; font-weight: $semi;}
	}

	.steps-desc{@include sec-default(); padding: 40px 0;
		@include sec-bgimage('bernie.png'); background-position: bottom left; background-size: 20%;
	}

	.step {width: 97%; float:left; display:block; margin-bottom:20px;
		&.fr{float: right;}
		span,.dets{display: inline-block; float: left; }
		span{width:4%; font-size: 50px; margin-top: 4%; color: $pink; }
		.dets {width:93%; float: right;}
		h4{font-weight: $semi; margin-bottom: 0; color: $compt;}
		p{margin-top: 5px;}
	}

	@include bp(su) {
		.overview .inside {width:1230px;}
	}

	@include bp(tb) {
		h3{font-size: 1rem; margin-bottom: 7px}

		.overview{ padding: 80px 0 20px;
			.inside {width:90%;}
		}
		.x-img {width: 50%; margin-left: 0; padding-right: 10px;}
		.list-intro{padding-top:0px; width: 48%;
			li a{font-size: 15px;}
		}

		.steps-desc{padding: 30px 0; background-size: 15%;
			.inside.narrow {width: 80%;}
		}
	}

	@include bp(tn) {
		h3{font-size: 15px;}
		.overview{ padding: 60px 0 20px;
			.inside {width:90%;}
			ul{padding-left:15px;}
		}
		.x-img {width: 45%; margin-top: 7%;}
		.list-intro{width: 54%;}

		.steps-desc{padding: 10px 0;
			background-image: none;
			.inside.narrow {width: 85%;}
		}

		.step {margin-bottom:0px;
			span{font-size: 45px; }
			h4{font-size: 1.1rem;}
			p{font-size: 15px;}
		}
	}

	@include bp(md) {
		.overview {padding: 60px 5% 20px;
			.inside {@include sec-default(); @include sec-bgimage('woof6.jpg'); background-size:32%; background-position: top left;}
		}
		.x-img {display: none;}
		.list-intro{width:65%; float: right;}
	}

	@include bp(oc) {
		.overview {padding: 50px 0 0px;
			.inside {@include sec-default(); background-image: none;}
		}
		.list-intro{width:85%; @include center-block();}

		.step {
			span{margin-left: -10px;}
		}
	}

	@include bp(sm) {
		.steps-desc	.inside.narrow {width:90%;}
		.step {margin-bottom:10px;
			span{font-size: 40px; margin-top: 4%; margin-left: 0; }
			.dets{padding-left:14px; float:right;}
		}

	}
}

//****** franchise inquiries *******//
	// LOCATED IN STATIC_PAGES.SCSS WITH CONTACT PAGE
