@import "variables";
@import "mixins";

.uk-navbar-nav {}
.uk-navbar-nav>li>a{ padding:0; min-height:auto; }
// display:block !important;

//*********************************//
//********** header inline *********//
//*********************************//
.inline-header {@include sec-default();background-color: $white; padding-bottom: 10px;
	.nb-logo, .navbar-nav,.uk-navbar-nav{display: inline-block; float: left; width: 25%;}
	.nb-logo {margin-left: 1%; background-color: $white; padding:10px 0 5px; margin-top:5px;}
	.navbar-nav,.uk-navbar-nav {float: right; width:70%; text-align: right; margin-top: 8%; margin-right: 2%;}

	li {display: inline-block; float: none; margin: 1% 0 0px 3%;
		a {font-family: $body; color: $tbrown; text-transform: none;
			color:$brown;
			font-size: 16px; font-weight: $semi;
		}
	}

	.uk-navbar-dropdown{ padding: 10px 5px 15px 10px;
		width:250px;
		background-color: $f8;
		.uk-nav.uk-navbar-dropdown-nav {text-align: left;}
		li {@include sec-default();
			a{font-weight: normal; font-size: 15px;}
		}
	}


	&.uk-navbar-sticky.uk-sticky-fixed {
		box-shadow: 0px 1px 1px rgba($black, .1);
		// border-bottom: 2px inset rgba($black, .1);
	}

	.above{width:25%; float:right; margin-right: 9%; padding: 5px 15px 7px; background-color: $pink;
		border-bottom-right-radius: 18px; border-bottom-left-radius: 18px;
	}
	.contact,.social{display:inline-block; float: left; color:$white; width:50%;
		span, a {color:$white; }
		img {height:12px; margin-right: 0px;}
		a {font-size: 14px;}
	}

	.social {padding-left: 0; float:right; text-align: right; margin-top: -2px;
		li {display:inline-block; float:none; margin: 0 .7%; width: 16px; height: 16px;}
	}

	.navbar-nav,.uk-navbar-nav {margin-top: 5%;}

	&.centered {background-color: $f8;padding-bottom: 20px;
		.navbar-center{ position: relative; z-index: 0;}
		.nb-logo{@include center-block(); background-color: transparent;}
		.uk-navbar-nav{@include sec-default(); text-align: center; margin-top: 20px; background-color: $white; padding:5px 0 10px;}

		.above {position: absolute; z-index: 1; left:70%;}
	}
}

.mobile-nav {display: none;}
.uk-nav-header{border-bottom: 1px solid rgba($tbrown, .1); font-weight: bold; margin-bottom: 10px}
.uk-offcanvas-bar.mobile {background: $fa; padding: 30px 10px 10px 30px;
	hr{@include sec-default();border-top: 1px solid rgba($tbrown, .1);}
	.uk-offcanvas-close.uk-close {color: $tbrown; top:10px;}
	.uk-nav, .uk-sub-nav{
		*>a {color:$tbrown;}
	}
	.uk-sub-nav li{padding-left: 15px;}
}

@include bp(dt) {
	.inline-header .above{width:22%;}
}

@include bp(tb) {
	.inline-header {
		.above{width:30%;}
		.nb-logo {width:28%; margin-left: 0;}
		.uk-navbar-nav {width:72%; margin-top: 5%; margin-right: 0;
			li {
				margin: 0 0 0px 3%;
				a{font-size: 15px;}
			}
		}
	}
}

@media (max-width:1024px) {
	.inline-header {
		position: relative !important;
		.above{@include sec-default(); border-radius:0; margin-bottom: 20px; padding: 5px 30px;
			position: fixed; z-index: 99; box-shadow: 0px 2px 2px rgba($black, .1);
		}
		.contact, .social, .mobile-nav {width: 30%; margin-top:3px;}
		.contact a {font-size: 13px;}
		.social { float:none; text-align: center; margin-left: 6%; margin-top: 2px;
			li{width:15px; height:15px;}
		}
		.mobile-nav { display: inline-block; float: right; margin-top: 0;
			.uk-button {padding: 5px 7px; float: right; line-height: 1em; }
			span {color:$white; }
		}

		.uk-navbar-nav {display: none;}
		.navbar-center{@include sec-default();}
		.nb-logo {padding: 0 0 10px; margin: 0; @include sec-default(); margin-top: 60px;}
		.logo {width:230px; @include center-block();}

	}
}

@include bp(tn) {
	.inline-header {
	}
}

@include bp(mb) {
	.inline-header {
	}
}

@include bp(ph) {
	.inline-header {
		.above {padding: 5px 15px;}
		// .nb-logo {width:250px; margin-left: 5%;}
		// .mobile-nav{margin-top: 10%; margin-right: 5%;}
	}
}

//*********************************//
//*********** footer ***********//
//*********************************//

.pre-foot{@include sec-default(); background-color: $pink; padding:20px 0 0; text-align: center;
	a, span,p{color: $white; font-size: 16px;}
	.contact-box {display: inline-block; float: none;
		margin:0 2%; width:30%; margin:0 1%;
		&.social{float: right;}
	}
	ul.social {padding-left:0;
		li {display: inline-block; float:none; margin: 0 1%; }
		span {color: $white; width:19px; height:19px;margin-top:6px;}
	}
}

.footer-level {
	@include sec-default(); padding: 30px 0 0;
	.sm-ft {display: none;}
	// .fbs {display: inline-block; float: left; padding: 10px 5px 10px 30px;
	// 	width: 24%; margin:0 0 0 1%;
	// 	border-right: 1px solid rgba($tbrown, .1);
	// 	&.fb4 {border-right: 0;}
	// }



	.fbs {display: inline-block; float: left;
		padding: 10px 5px 10px 30px;
		width: 24%; margin:0 0 0 1%;
		// border-right: 1px solid rgba($tbrown, .1);
		// &.fb4 {border-right: 0;}

		position: relative; z-index: 0;
		&::before{@include before(); background-color: rgba($tbrown, .1); width:1px; left:-2%;}

		&.fb1::before {display: none;}


	}

	h5{font-weight: bold; margin-bottom: 0;}
	ul{padding-left: 0;}
	li, a, p{font-size: 15px;}
	p span {font-weight: bold;}
	li{margin-bottom: 5px;}


	.btm {@include sec-default(); border-top: $border; padding:15px 0 8px; margin-top:15px;
		.copy, .hs {display: inline-block; float:left; width: 45%;}
		.hs {float: right; text-align: right;}
		p, a {font-size:13px; margin-bottom:0;}
	}
}

@media (max-width:1100px){
	.footer-level {
		.inside {width:90%;}
		.fbs{padding-left: 15px;
			&.fb1 {margin-left: 0; }
		}
	}
}

@include bp(tb) {
	.footer-level {
		padding-top:20px;
		.fbs {
			width: 24%; margin:0 0 0 1%;
			li, a, p{font-size: 15px;}

			&.fb1 {padding-left:0;}
		}
	}
}

@include bp(tn) {
	.footer-level {
		.full-ft {display: none;}
		.sm-ft {@include center-block(); width:55%; margin-top: 20px;
			.acc-li {border-bottom: $border; padding-bottom: 10px;}
			.uk-accordion-title h5 {font-weight: $semi;}
			.uk-accordion-content {border-top:1px solid rgba($pink, .3); padding-top:10px;
				li, a, p{font-size: 15px;}
			}
		}

		.btm {
			.copy {width:60%;}
			.hs {width:40%;}
		}
	}
}

@include bp(mb) {
	.footer-level {
		.sm-ft {width:90%;}
	}
}








