// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";

.inside{width: 85%; @include center-block();
  &.med {width:75%;}
  &.med2 {width:65%;}
  &.narrow {width:55%;}

  @include bp(tb) {
  	&.med {width:80%;}
	  &.med2 {width:75%;}
	  &.narrow {width:70%;}
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

hr{
	&.hlf {width: 50%;}
	&.less {width: 25%;}
}

.woof-link {@include link(30%, $white); background-color: $pink; @include tshadowl(rgba($black, .3));}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-sec{@include sec-default(); padding: 40px 0;
  &.less {padding:15px 0;}
  .inline-img {display: inline-block; float: none; width: 30%;}
}
.full{@include sec-default(); }

.page-body { @include sec-default(); }

.ipage-header { @include sec-default(); text-align: center;
  padding:40px 0;
  &.xtra {padding: 60px 0;}
  &.left{text-align: left;}
  &.cream { background-color: $f9;}
  &.pink { background-color: $pink;}
  &.opink { background-color: $opink;}
  &.simple{padding:15px 0 0px;
    h1 {font-size: 1.8rem;}
  }
}

#map {height:500px;}
//*********************************//
  //*********** home ***********//
//*********************************//
.home {
  .hs1-hero {@include sec-default();
    margin-bottom: 50px;
    // .inside {@include sec-default();height:600px; @include sec-bgimage('woof14.jpg');}
    .hero-img {position: relative; z-index: 0;}
    .text-over{position: relative; z-index: 1;
      width:90%; @include center-block(); background-color: $pink;
      text-align: center; padding:10px 0 1px;
      margin-top:-80px;
      h1, h2{color: $white; @include tshadowl(rgba($black, .2));}
    }
  }
}


//*********************************//
//*********** franchise ***********//
//*********************************//
.franchise {
  h1, h2, h3{margin:0;}

  .il-left, .il-right {display: inline-block; float: left; width: 48%;}
  .il-right {float: right;}

  .details {
    .fran-blk {display: inline-block; float: left; width: 30%; margin:10px 1.5%;}
    p {margin-top: 0;}
    p.tag{margin-bottom: 10px; font-weight: bold;}
  }
}


//*********************************//
//*********** locations ***********//
//*********************************//
.locations {
  .pagetitle, .admin-btns {display: inline-block; width: 40%; float:left;}
  .admin-btns {float:right;}

  .search-sec{width:35%; float: left; margin-bottom:30px;
    .form-control, .btn.btn-outline-secondary.search {display: inline-block; float: left;}
    .btn.btn-outline-secondary.search {float: right; width: 12%;
      background-color: lighten($pink, 10%); color: white; letter-spacing: 1px;
      @include sec-bgimage('search.png'); background-position: center center; background-size: 45%;
    }
  }

  .full.listings {margin-top: 50px;}
  .map {@include sec-default(); margin-bottom: 30px;}
  #map {height:300px;}

  .loclist{@include sec-default();}

  .location-bx {
    display: inline-block; width: 30%; float: left;
    margin:10px 1.5% 40px;
    color:$black;

    .cat {@include sec-default(); margin-bottom: 10px;
      &.name {font-weight: bold;}
      &.hours {margin-bottom: 0;}
    }
    span.addr2{@include sec-default();}
    .actions a {color: $red; font-weight: bold;}

  }


  .form-group {@include sec-default();}
  .forminfo {width: 30%; display: inline-block; float: none; margin:5px 1.5% 20px;}
  .form-control, .btn-outline-secondary.search {height: 45px; border-radius: 0;}
  .form-control {width:88%; font-size: 14px; color: $compg; padding-left: 7px; }
  .btn.woof-link {float:right; width:20%;}

  .btn-danger {display: inline-block; float: right; padding: 5px 15px; margin-left:10px;}
}

.pagination {@include sec-default(); text-align: center; margin-top: 10px;
  li {display: inline-block; float: none; margin: 0 6px;}
  li.active {font-weight: bold; text-decoration: underline;}
}


//*********************************//
//*********** users ***********//
//*********************************//
.registrations, .sessions {
  .page-body {@include center-block(); width:85%; padding-bottom: 50px;}
}

.blogs, .posts {
  .form-group {@include sec-default(); margin-bottom: 30px;
    textarea {height:200px;@include sec-default(); padding: 10px; margin-top: 5px; font-size: 14px;}

    &.title textarea {height:75px;}
  }

  .action.woof-link {display: inline-block; float: left; width:auto; padding: 10px 20px; margin-bottom: 30px; font-weight: 600;}
  .action.danger {float: right; background-color: $red;}
  .action.edit {background-color: $compt;}
  .action.back {background-color: $compg;}
}

.blogs.index, .posts.index  {
  h1, .woof-link {display: inline-block; width:80%; float: left;}
  .woof-link {float:right; width: 15%;}

  .blog-posts {
    h3.title {font-size: 1.3rem;}
    .post-gi {display: inline-block; float: left; width:45%; margin: 0 auto 15px;
      padding:100px 30px 30px; text-align: center;
      background-position: center center; background-size: cover; background-repeat: no-repeat;
      position: relative;z-index: 0;
      height:350px;
      &::before {@include before(); background-color: rgba($black, .1);}
      &:nth-child(2n+2) {float: right;}

      // .img-bg {position: absolute; z-index: 0; }
    }

  }
}


