// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Century Gothic

@import "mixins";
@import "variables";

.honey {position: absolute;left: -9999px;}

// .container 1180px;
.inside{width: 85%; @include center-block();
  // 1224px
  &.lg {width: 90%;}
  // 1296px
  &.alt {width: 80%;}
  // 1152px;
  &.med {width:75%;}
  // width: 1080px;
  &.med2 {width:65%;}
  // @include bp(xl) {&.med2 {width:936px;}}
  // @include bp(br) {&.med2 {width:75%;}}
  &.med3 {width:60%;}
  // 864px
  &.narrow {width:55%;}
  // 792px


  @include bp(xl) {
    &.med2-def{width: 940px;}
  }

  @include bp(tb) {
  	&.med {width:80%;}
	  &.med2 {width:75%;}
    &.med3 {width:70%;}
	  &.narrow {width:70%;}
  }
  @include bp(br) {
    &.med2-def {width:85%;}
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

hr{
	&.hlf {width: 50%;}
	&.less {width: 25%;}
}

.clearfix.btn {@include sec-default(); margin-top:20px;}

.woof-link {@include link(30%, $white); background-color: $pink; @include tshadowl(rgba($black, .3));}
.text-link{font-weight: $semi; color: $pink;
  &.blue{color: $compb;}
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-sec{@include sec-default(); padding: 40px 0;
  &.less {padding:15px 0;}
  &.xtr {padding:80px 0;}
  .inline-img {display: inline-block; float: none; width: 30%;}
}
.full{@include sec-default(); }

.title-line {
  width:50%; height:2px; background-color: $pink;
  margin:4px 0 20px;

  &.center{margin-left: auto; margin-right: auto;}
  &.less{width:25%;}
  &.sm{width:40px;}
}

.page-body { @include sec-default(); }

.ipage-header { @include sec-default(); text-align: center;
  padding:40px 0;
  &.xtra {padding: 60px 0;}
  &.left{text-align: left;}
  &.cream { background-color: $f9;}
  &.pink { background-color: $pink;}
  &.opink { background-color: $opink;}
  &.simple{padding:15px 0 0px;
    h1 {font-size: 1.8rem;}
  }
}

.pup-header {@include sec-default(); background-color: rgba($pink, .5);
  .full{@include sec-bgimage('peeking.png'); background-size: 50%; background-position: bottom center;
    padding-top:15px; background-color: $white;
    height:250px;
    position: relative;z-index: 0;&::before{@include before(); background-color: rgba($pink, .5);}
  }
  .tbox {width:50%;text-align: center; @include center-block();}

  h1{margin-bottom: 0px; color:$white; @include tshadowl(rgba($black, .2)); text-transform: uppercase;letter-spacing: 1px;}
  h2{margin-top:0; font-size:1.5rem; line-height: 1.1em;}

  &.inline {
    .full {background-position: bottom right; height:auto; padding:90px 0 30px;}
    .tbox{float: left;}
  }
}

#map {height:500px;}

ul.paw {padding-left: 0;
  li {position:relative; z-index: 0; padding-left: 20px; margin-bottom: 8px;
    &::before {@include before(); width: 40px; height: 40px; @include sec-bgimage('favicon.png');background-size: 40%; top:3px;}
  }

  &.blue li::before{background-image: url(image_path('comp-paw.png'));}
  &.teal li::before{background-image: url(image_path('compt-paw.png'));}
  &.grey li::before{background-image: url(image_path('grey-paw.png'));}
  &.ltr li::before{opacity: .5;}
  &.lt li::before{opacity: .3;}
  &.small li::before{background-size: 35%; top:6px;}
  &.xsmall li::before{background-size: 30%; top:6px;}
}

.uk-tab-bottom.uk-tab {margin-left:0;
  &::before {border-bottom:0;}
  a{font-family: $body; text-transform: none; font-size: 17px; font-weight: $semi;}
}

.pagination {@include sec-default(); text-align: center; margin-top: 0px;
  ul {padding-left: 0;}
  li {display: inline-block; float: none; margin: 0 6px;}
  li.active {font-weight: bold; text-decoration: underline;}
  a{font-size: 14px;}
}



.page {
  .left, .right {display: inline-block; width:45%; float: left;}
  .right {float: right;}
}

//*********************************//
//************* home **************//
//*********************************//
.home{
  .page-body {
    .title-line{margin-top: 20px; opacity: .3; width:15%;}
    h1{font-size: 1.1rem; text-transform: uppercase; color:$pink; letter-spacing: 10px; margin:0; font-weight: normal; }
    h2{ font-size: 1.4rem; background-color: $white; margin: 7px 0 0;
      // font-weight: 300;
    }
    h3, h4 {margin-bottom: 0;}
    h3{font-size: 1.3rem; font-weight: $semi;}
    p{font-size: 18px; margin-top:7px;
      // font-weight: 300;
    }
  }

  .full-show{
    .uk-slideshow-items {max-height: 620px; overflow: hidden;}
    .abs-img{position: absolute; bottom: 0; width:45%; margin-bottom: -43px;}
  }

  .nlay-intro {@include sec-default(); padding:80px 0;
    .text{width:53%; @include center-block();}

    &.franch{
      h4{font-weight: $semi;}
      .text{width:68%;}
      .text {border-left: 5px solid rgba($pink,.9); padding-left:40px;}
    }
  }

  .bg-sec {@include sec-default(); padding:70px 0 0px; margin-top:30px;
    position: relative; z-index: 0;
    &::before {@include before();@include sec-bgimage('woof10.jpg'); background-position: bottom left; width:60%;height:85%;}
    &::after {@include before(); background-color: rgba($pink7, .94); width:60%;height:85%;}

    .image, .text {display: inline-block; float: left; width:50%;}
    .text {width:40%; margin-left: 5%; padding: 60px 0 0 0;}
    .image{float: right;}
    p{color:$white;@include tshadowl(rgba($black,.4));}
  }

  .full.franch {padding:90px 0;
    h4,p{margin: 0;}
    h4{font-weight: bold; margin-bottom: 10px;}
    .text {border-left: 6px solid rgba($pink,.9); padding-left:40px;}

    .text.nrw {width:53%;@include center-block();}
  }

  .banner-locations{@include sec-default(); padding: 20px 0; text-align: center;
    @include sec-bgimage('treat-table.jpg');background-position: center center;
    position: relative; z-index: 0;
    &::before {@include after(); background-color: rgba($pink7, .8);}

    h4,.btn-hlf {display: inline-block; float: left; width:70%;}
    h4{font-size: 1.8rem; font-weight: bold; color: $white; @include tshadowl(rgba($black, .4)); margin-bottom: 0;
    }
    .btn-hlf {float: right; width:30%;margin-top: 10px;}
    .woof-link {background-color: $white; box-shadow: 0px 5px 8px rgba($black, .1); font-weight: bold; font-size: 1rem; color: $tbrown; text-shadow: none;}

    &.dark{
      background-image: url(image_path('corner-img.jpg'));
      &::before{background-color:rgba($tbrown,.89);}
      .woof-link {color:$pink;}
    }
  }

  .nlay-logos {@include sec-default(); padding:60px 0; text-align: center;
    h3{margin-top: 0;}

    .over {width:85%; @include center-block();margin-bottom: 20px;}
    .text {width:80%; @include center-block(); padding: 30px 0; background-color: $white; margin-top: -40px; position: relative;
      box-shadow: 0px -90px 10px rgba($black,.1);
    }

    .logo {width:250px;@include center-block();}
    .logos{text-align: center;}
    .serve-tl{display: inline-block; float: none; width:30%; margin: 10px 0 10px 3%;}
    .resort,.daycare{
      margin-top: 55px;
      .logo {width:320px;}
    }
  }


  @include bp(tb) {
    .hs4-locations{
      h4{font-size: 1.6rem;width:70%;}
      .btn-hlf {width:30%;margin-top: 6px;}
      .woof-link {font-size: 15px;}
    }
  }

  @include bp(tn) {
    .hs4-locations{
      h4{font-size: 1.4rem;width:70%;}
      .btn-hlf {width:30%;margin-top: 6px;}
      .woof-link {font-size: 14px;}
    }
  }
}


//*********************************//
//*********** locations ***********//
//*********************************//
.locations {
  .pup-header {
    background-color: rgba($compb,.9);
    .full {background-image: none;padding: 20px 0 15px;}
    .full::before {background-color: rgba($compb,.9);}
    .tbox {@include sec-default();}

    button.wl-uk{position:absolute; left: 80%; width:15%; margin-top: 60px;
      background-color: $white; color:$pink; border:1px solid rgba($pink, .3); text-shadow: none;
    }
    .uk-dropdown {width:45%; min-width: auto;background-color: $f9;
      .manu, .import {display: inline-block; width:40%; float:left;}
      .woof-link {@include sec-default(); margin: 6px 0;}
      .import {float: right; width:55%; background-color: $white; padding:15px 20px; border:$border;
        p{font-size: 16px; font-weight: $semi;}
        input[type="submit"] {background-color: $compb; height:auto; width:auto; padding:4px 25px;
          color: $white; @include tshadowl(rgba($black, .1)); float: right; font-size: 14px;
        }
        hr{margin-top: 10px;}
      }
    }
    h2{font-size: 1.3rem;}
  }

  .tag-icon {display: inline-block; float: left; width:30px;
    border: 0; background-color: transparent; margin-top:5px;
    height:30px;@include sec-bgimage('tag-groom.png'); background-size: 75%;

    &.veterinary-clinic {background-image: url(image_path('tag-vet2.png')); background-size:67%;}
    &.self-service-grooming {background-image: url(image_path('tag-ss.png'));}
    &.doggie-daycare {background-image: url(image_path('tag-daycare.png')); background-size: 67%;}
  }

  span.addr2{@include sec-default();}
  .actions, .actions a {color: $red; font-weight: bold;}
  .btn-row {@include sec-default(); margin:10px 0 20px;}
  .form-group {@include sec-default();}
  .forminfo {width: 30%; display: inline-block; float: none; margin:5px 1.5% 20px;}
  .form-control, .btn-outline-secondary.search {height: 45px; border-radius: 0;}
  .form-control {width:88%; font-size: 14px; color: $compg; padding-left: 7px; }
  .btn.woof-link {float:right; width:20%;}
  .btn-danger {display: inline-block; float: right; padding: 6px 15px; margin-left:10px; background-color: $red;}
  .loc-form input[type=submit] {height:auto; background-color: $compb;}

  &.show, &.edit, &.new {
    .pup-header .full {background-image: none; padding:40px 0 25px; text-align: center;}
  }

  &.edit, &.new {
    .loc-form {margin-top:40px;}
    .btn-danger {width:auto; padding: 5px 25px;}
    .back-link.inline {color: $red; font-weight: bold;}

    .forminfo.tags {
      select {height:130px; padding: 5px 0;}
      option {margin-bottom: 3px;padding: 1px 7px;}
    }

    @include bp(tb) {
      .pup-header .full {padding:20px 0;}
      h1 {font-size: 1.5rem;}
      .full-sec {padding:15px 0 30px;}

      .forminfo {@include sec-default(); margin:5px 0 20px;
      }
    }
  }
}

.locations.index {
  .btn-row {margin: 5px 0 10px;}
  .full-search {@include sec-default(); padding: 40px 0; background-color: $f9; padding-top:0;}
  .search-sec{
    @include sec-default();margin-bottom: 20px;
    .form-control, .btn-outline-secondary.search {display: inline-block; float: left;height:44px; }
    .form-control {width:90%; border:0; padding-left: 15px;font-family: $body; margin-top: 0; }
    .btn.btn-outline-secondary.search {width: 10%;margin-top:0;
      background-color: $pink; color: white; letter-spacing: 1px;
      @include sec-bgimage('search.png'); background-position: center center; background-size: 40%;
    }

    .searcher,.filter-box,.text {display: inline-block; width:35%; float: left;box-shadow: 0px 1px 4px rgba($black, .2);}
    // .searcher .form-control{}
    .text {padding:10px 15px;float: right; position: relative;z-index: 0;
      &::after{@include after(); background-color: $pink; width:11%; left:89%;}

      p,a{font-size: 14px;margin-bottom: 0; }
      span{float: right; color: $white; font-weight: bold;}
    }

    .filter-box {
      width: 25%; margin-left: 2.5%;
      .filter-uk {@include sec-default(); background-color: $white; color: $tbrown; cursor: pointer; padding: 10px 10px 10px 20px;
        text-align: left; font-size: 14px;
        position: relative;z-index: 0;
        &::after{@include after(); background-color: $pink; width:13%; left:87%;}

        span{float: right; margin-top: 2px; color:$white; }
      }
      .uk-dropdown{width:100%;text-align: left; margin-top: 0; border-top:1px solid rgba($tbrown, .1); padding:10px 12px;}
      .filter-tag{margin:5px 0;
        a{font-size: 14px;}
      }
    }
  }

  .full.listings {margin-top: 50px;}
  .map {@include sec-default(); margin-bottom: 20px;}
  #map {height:370px;margin-bottom: 6px;}
  .gm-style-iw {
    p{font-size: 14px; margin:8px 0;}
    p.email{margin-bottom: 12px;}
    .woof-link {font-size: 13px; padding: 7px 20px;}
  }

  .redo {@include sec-default();background-color: $compb; padding: 5px 25px;background-color: darken($compb, 20%);}

  .loclist{
    position: relative; z-index: 1; @include sec-default();
    margin-top: -60px;
    .inside {width:72%;@include center-block();}
  }

  .location-bx {
    display: inline-block; width: 31%; float: left;
    min-height: 290px;
    margin:10px 1% 40px;
    color:$tbrown; background-color: $white;
    padding: 15px 20px 0px 20px;
    box-shadow: 0px 4px 8px rgba($black, .1);
    a {color: $tbrown;}
    .sm-mail {display: none;}

    .cat {@include sec-default(); margin-bottom: 10px;
      font-size: 14px; line-height: 1.4em;
      &.name {font-weight: bold; border-bottom: 1px solid rgba($tbrown, .1); color:$pink; padding-bottom: 5px;}
      &.hours {margin-bottom: 0;}
      &.email {margin-bottom: 15px; border-bottom: 1px solid rgba($tbrown, .1); padding-bottom: 5px; font-size: 13px;}
      &.tags {border-bottom: 1px solid rgba($tbrown, .1); padding-bottom: 5px;
        span {font-weight: bold; width:100%;}
      }
    }
    // text-align: center;
    // cat.tags .tag-icon{float:none;}


    .woof-link {display: inline-block; width:auto; padding:6px 10px; text-align: center; font-size: 13.5px; color:$white;
      margin:0 0 5px; float: none; background-color: rgba($pink, .9); width:55%;
      letter-spacing: .2px;border:1px solid rgba($pink,.6);font-weight: $semi;
      &.dir {background-color: #3d0a00; float: right; width:44%;
         background-color:$white; color: $pink; @include tshadowl(rgba($black, .1)); font-weight: bold;

      }
    }
  }

  @media (max-width:1200px) {
    .search-sec{
      .filter-box .filter-uk{
        span {width:18px; height:18px; margin-top: 4px;}
        &::after {width:14%; left:86%;}
      }

      .text{
        span {width:17px; height:17px; margin-top:2px; padding-left: 1px;}
        &::after {width:12%; left:88%;}
      }
    }

    .loclist .inside {width:85%;}
    .location-bx {
      .fw-mail {display: none;}
      .sm-mail {display: block;}
    }
  }

  @include bp(tb) {
    .pup-header {
      .full {padding: 20px 0 15px;}
      h1{font-size: 1.7rem;}
      h2 {font-size: 1.2rem;}
      button.wl-uk{width:18%; margin-top: 40px; font-size: 15px;}
      .uk-dropdown{width:60%;
        .woof-link {padding:6px 15px; font-size:14px;}
      }
    }

    .search-sec{
      .inside.lg{width:95%;}

      .form-control {width:87%;}
      .btn.btn-outline-secondary.search {width: 13%;}

      .filter-box {
        .filter-uk {padding: 10px;
          &::after{width:15%; left:85%;}
        }
        a{font-size: 15px;}
      }

      .text {padding:10px;}
    }

    .loclist .inside {width:90%;}
    .location-bx {
      min-height: 352px;
      .woof-link {@include sec-default();
        &.dir {@include sec-default();}
      }
    }
  }

  @include bp(tn) {
    .pup-header {
      .full {padding: 20px 0 0px;}
      h1{font-size: 1.5rem;}
      h2 {font-size: 1rem;}
      button.wl-uk{position:relative; width: 25%; margin-top: 0px; margin-bottom: 15px; font-size: 14px; left:0; @include center-block();}
      .uk-dropdown {width:60%;}
    }
    .full-search {padding-bottom: 20px;}

    .search-sec{
      .inside.lg{width:98%;}
      .form-control {width:87%;}
      .btn.btn-outline-secondary.search {width: 13%;}

      .filter-box { margin-left: 1.5%;
        .filter-uk {
          &::after{width:18%; left:82%;}
        }
        a{font-size: 14px;}
      }

      .text {width:37%;padding:10px;}
    }

    .loclist .inside {width:80%;}
    .location-bx {
      min-height: 335px;
      width:48%; margin:10px 1% 20px;
    }

    .pagination { margin-top: 10px;}
  }

  @media (max-width: 767px) {
    .pup-header {
      .uk-dropdown {width:80%; left:10% !important; }
    }

    .search-sec{
      .inside.lg{width:85%;}
      .searcher {width:60%;}

      .filter-box { margin-left: 0; float: right; width:38%;
        .filter-uk {
          &::after{width:15%; left:85%;}
        }
        a{font-size: 14px;}
      }

      .text {width:60%; margin-top: 10px; float:none; margin-left: 20%;
        &::after {width:10%; left:90%;}
      }
    }

    .loclist .inside {width:85%;}
  }

  @include bp(mb) {
    .loclist .inside {width:90%;}
  }

  @include bp(oc) {
    .pup-header {
      .inside.narrow{width:85%;}
      button.wl-uk{ width: 40%; }
      .uk-dropdown {width:95%; left:5% !important; padding:15px;}
    }

    .search-sec{
      .inside.lg{width:95%;}
      .searcher {width:60%;}

      .filter-box { margin-left: 0; float: right; width:37%;
        .filter-uk {
          &::after{width:17%; left:83%;}
        }
        a{font-size: 14px;}
      }

      .text {width:75%; margin-left: 12.5%;
        &::after {width:10%; left:90%;}
      }
    }

    .location-bx{min-height: 355px;}

  }

  @media (max-width: 440px) {
    .search-sec {
      .inside.lg{width:85%;}
      .searcher, .filter-box, .text {@include sec-default(); margin-bottom: 10px; margin-left: 0;}
      .filter-box .filter-uk, .text {
        &::after {width:10%; left:90%;}
      }
    }
  }

  @include bp(sm) {
    .pup-header {
      .inside.narrow{width:95%;}
      .uk-dropdown {
        .manu, .import {@include sec-default();
          p{font-size: 15px; }
        }
        .manu{margin-bottom:15px;}
      }
    }

    .location-bx{@include sec-default(); min-height: auto;}
  }
}

.locations.show {
  h2{margin-bottom: 0;color:$white; @include tshadowl(rgba($black, .2)); text-transform: uppercase;letter-spacing: 1px; font-weight: $semi; font-size: 1.6rem;}
  h1{margin-top: 0px;color:$white; @include tshadowl(rgba($black, .2)); text-transform: uppercase;letter-spacing: 1px; font-weight: bold;}
  h3{font-size: 1.2rem; font-weight: bold; color:$pink; }
  .text-link{ color: $tbrown;}

  .cat {@include sec-default(); margin-bottom:10px;
    p{margin:0 0 5px; font-size:15px;}

    &.hours {
      p.hd{font-weight: bold; margin-bottom: 0px; color:$pink}
      p{line-height: 1.65em;}
    }

    &.tags {
      hr {width:85%}
      p.hd{font-weight: bold; margin-bottom: 10px; color: $pink}
      .tag-icon { width:30px;height:30px; margin-top: 0;}
    }
  }

  .location-page {@include sec-default();
    @include sec-bgimage('adobe-sneak.png'); background-size: 12%; background-position: bottom right; padding-bottom:80px;
    position: relative; z-index: 0; &::before {@include before(); background-color: $compb; height: 395px;}

    .title {@include sec-default(); text-align: center; padding: 50px 0 0px;}

    // .back-link, .dets, .admin-side {display: inline-block; float: left; width: 25%;}
    // .dets {width:50%;}
    .back-link, .dets, .admin-side {display: inline-block; float: left; width: 20%;}
    .dets {width:60%;}

    .back-link {padding-left: 20px;margin-top: 250px;
      .text-link {font-size: 16px;}
    }
    .admin-side{float:right;margin-top: 260px; padding-right: 20px;
      .actions {float: right;}
      .actions a{font-size: 15px; color:$white; background-color: $red; padding:10px 15px; font-weight: $semi;}
      .actions.coords{color:$red; font-weight: $semi; margin-top: 10px;}
    }

    .location-body {@include sec-default(); background-color: $white; box-shadow: 0px 1px 10px rgba($black, .2); padding-bottom: 20px;}
    .image{@include sec-default(); background-color: $f8;
      //img{width:50%; @include center-block();}
    }

    .location-dets {
      // width:75%;@include center-block();
      @include sec-default(); padding-top:20px;
      .inside.med{margin-left:11%;}

      hr.one{margin-top: 5px;}
      hr.two{margin-top: 15px;}
      .full.top {
        h3, .btn-row{display: inline-block; width:60%; float: left; padding-bottom: 0; margin-bottom: 0;}
        h3{margin-top: 12px;}
        .btn-row{width:25%; float: right;}
        .woof-link {width:auto;padding:5px 20px; font-weight: $semi;letter-spacing: .5px; font-size: 13px; background-color: $compb; float: right;}
      }
      .left, .right {display: inline-block; float: left; width:50%; }
      .right {float: right;width:50%; text-align: right;
        .tag-icon {float: right;}
      }
    }
  }

  @include bp(su) {
    .location-page {background-size:8%;
      .image img{@include center-block();}
    }
  }

  @media (max-width:1200px) {
    .location-page .location-dets {
      .inside.med{ width:80%;margin-left:8%;}
    }
  }

  @include bp(tb) {
    h2{font-size:1.4rem;}
    h1{font-size: 1.7rem;}

    .location-page{
      &::before {height:385px;}
      .back-link {padding-left: 10px;
        .text-link {font-size: 14px;}
      }
      .admin-side{padding-right: 10px;
        .actions a{font-size: 13px; padding:7px 20px;}
      }

      .location-dets{
        .inside.med{ width:85%;margin-left:6%;}
        .full.top {
          h3{width:65%; font-size: 1.1rem;}
          .btn-row{width:35%;}
        }

        .left.one, .right.one {@include sec-default(); text-align: left;}

        .left, .right {width:50%; }
        .right {float: right;width:50%; text-align: right;
          .tag-icon {float: right;}
        }
      }
    }
  }

  @include bp(tn) {
    h2{font-size: 1.25rem;}
    h1{font-size: 1.5rem;}

    .location-page {
      .title {padding:25px 0 0;}
      .back-link, .admin-side {width: 35%; margin:0px 0 10px; padding: 0;}
      .back-link {margin-left:7%;}
      .admin-side {margin-right: 7%;}

      .dets {width:85%; @include center-block();}
    }
  }

  @include bp(oc) {
    h2{font-size: 1.1rem;}
    h1{font-size: 1.35rem;}

    .location-page {
      .title {padding:15px 0 0;}
      .back-link, .admin-side {width: 40%; margin:0px 0 10px; padding: 0;}
      .back-link {margin-left:5%;}
      .admin-side {margin-right: 5%;}

      .dets {width:90%;}
      .location-dets{
        .full.top h3{font-size: 1rem;}
      }
    }
  }

  @include bp(sm) {
    .location-page{
      .location-dets{padding-top:10px;
        .full.top{text-align: center;
          h3, .btn-row{@include sec-default();
            .woof-link {float:none;}
          }
          hr.one {margin-top: 15px;}
        }
      }
    }
  }
}


//*********************************//
//*********** services ***********//
//*********************************//



//*********************************//
//*********** users ***********//
//*********************************//
.registrations, .sessions, .passwords {
  .ipage-header {background-color: rgba($pink, .8); text-align: left; padding:15px 0 0px;}
  h1{color: $white; @include tshadowl(rgba($black,.2)); margin:0;}
  .page-body .inside {width:50%;}

  form {
    .field {@include sec-default();margin-bottom: 25px;}

    .field.check {
      input[type="checkbox"], label {display: inline-block; float: left; width:auto;}
      label {margin-top: 6px; padding-left: 5px;}
    }

    input[type="submit"] {padding:7px 25px; background-color: $pink; text-align: center; color: $white; margin:5px 0 15px;
      @include tshadowl(rgba($black,.2));font-size: 15px; height:auto; font-weight: $semi; font-family: $body; width:auto;
    }

    .cancel {font-weight: $semi; color: $red; float: right;}
  }

  @include bp(tb) {
    h1{font-size: 1.5rem;}
    h2{font-size: 1.2rem;}
    .full-sec{padding:15px 0 30px;}
    .page-body .inside {width:80%;}
  }

  @include bp(tn) {
    h1{font-size: 1.3rem;}
    h2{font-size: 1rem;}
  }
}

.sessions.show {
  .page-body .inside {width:80%;}
  .left, .right {display: inline-block; float: left; width:45%;}
  .right {float: right;}

  h4{margin-bottom: 0; font-weight: bold; border-bottom: $border; padding-bottom:6px; color:$brown;}
  h3{margin:5px 0 10px; font-size: 1.3rem; font-weight: $semi;}
}


//*********************************//
//*********** posts ***********//
//*********************************//
.posts {
  .ipage-header {padding:30px 0 15px;
    background-color: rgba($pink, .7);
    h1{color:$white; @include tshadowl(rgba($black, .2)); font-size: 1.7rem;}
  }

  .blog-form {width:65%; @include center-block();}

  .form-group {
    @include sec-default(); margin-bottom: 30px;
    textarea {height:200px;@include sec-default(); padding: 10px; margin-top: 5px; }
    input, textarea {line-height: 1.4em; font-size: 14px;}
    &.title textarea {height:55px;}
    &.url, &.date {display: inline-block; float: left; width:35%; }
    &.url {width:63%; float: right;}
    &.image{border: 1px solid rgba($tbrown, .2); padding: 15px;
      input[type="file"] {font-size: 14px; padding-left: 0;}
    }
    .actions, p.rule{@include sec-default();}
  }
  .woof-link, input.submit {display: inline-block; float: left; min-height: auto; height:auto; font-family: $body; padding: 6px 15px; font-size: 15px; font-weight: $semi;}
  .woof-link.danger {float: right; background-color: $red;}
  .woof-link.cancel {float: right; background-color: transparent; color: $red; text-align: right; font-weight: bold; @include tshadowl(rgba($black, .1));}
  input.submit {background-color: $compb;}
}

.posts.edit, .posts.new {
  .form-group.title {margin-top: 30px;}
  .sub-actions {position: absolute; width: 15%; left:83%;
    .woof-link {@include sec-default(); margin-bottom:20px;}
  }

  @include bp(tb) {
    .full-sec {padding: 0;
      .inside.med{width:85%;}
    }
    .blog-form {@include sec-default();}

    .form-group.final {margin-bottom: 0px;}
    .sub-actions { position:relative; @include sec-default(); left:0;
      .woof-link{font-size: 14px; float: right; width:auto;}
    }
  }

  @include bp(tn) {
    .full-sec .inside.med{width:90%;}
  }
}

.posts.index  {
  .woof-link {float:right; width: 200px; background-color: $tbrown; position: absolute; left: 75%; margin-top: -50px; }

  .post-li {
    display: inline-block; float: left; width:31%; height:400px; margin: 10px 1% 30px;
    background-size: cover; background-position: top left; background-repeat: no-repeat; border: $border;
    position: relative; z-index: 0;
    &::before {@include before(); background-color: rgba($black, 0);}

    h3{color: $tbrown; font-weight: $semi; font-size: 15px;text-align: center;
      background-color: rgba($fa, .9); padding: 15px; width:100%; position: absolute; bottom:-20px;
    }

    .feat-img, .feat-content {display: inline-block; float: left; position: relative; z-index: 1;}
    .feat-img {
      max-height: 300px; overflow: hidden;
      border:1px solid rgba($tbrown,.1);
      width:75%;
    }
    .feat-content {background-color: $f8; padding: 20px; width:50%;
      margin-left: -25%; z-index: 2;
    }

    // &:first-child{width:45%;
    //   .feat-img, .feat-content {display: inline-block; float: left; width:40%;}
    //   .feat-content {width:50%}
    // }
  }

  @include bp(su) {
    .full-sec .inside {width:75%;}
  }

  @include bp(tb) {
    .ipage-header {padding:15px 0 0px;
      h1{font-size: 1.5rem;}
    }

    .full-sec .inside { width:90%; }
    ul {padding-left: 15px;}
    .post-li {width:32%; margin: 10px .5% 30px;}
  }

  @include bp(tn) {
    .ipage-header {padding:10px 0;
      h1{font-size: 1.3rem; margin:0;}
    }

    .full-sec {padding-top:20px;}
    ul {padding-left: 15px;}
    .post-li {width:45%; margin: 10px 2.5% 30px; height:300px;}
  }

  @include bp(oc) {
    .ipage-header h1{font-size: 1.2rem;}

    .full-sec {padding-top:20px;}
    ul {padding-left: 0;}
    .post-li {width:90%; float: none; margin: 10px auto 20px; @include center-block();
      min-height:180px; height:auto; background-color: $fa; padding: 30px 20px 20px ;
      h3{width:55%; position: relative; float: right; bottom:0; padding:0;}
      background-size:40%; background-position: center left;
    }
  }

  @include bp(sm) {
    .post-li {@include sec-default(); margin: 10px 0;
      min-height:180px;
    }
  }
}

.posts.show {
  .full-post {
    @include sec-default();padding:40px 0 60px;position: relative; z-index: 0;
    &::before {@include before(); background-color: $compb;background-color: rgba($pink, .7); height: 375px;}
    // &::before {@include before();@include sec-bgimage('treat-table.jpg'); height: 375px; z-index: -2; background-position: center center; }
    // &::after {@include before();background-color: rgba($pink7, .9); height: 375px;}


    h2{margin-bottom: 0;color:$white; @include tshadowl(rgba($black, .2)); text-transform: uppercase;letter-spacing: 1px; font-weight: $semi; font-size: 1.3rem;}
    h1{margin-top:0;color:$white; @include tshadowl(rgba($black, .2)); font-weight: bold; line-height: 1.4em; font-size: 1.7rem;}

    .title {@include sec-default(); text-align: center; margin-bottom: 15px;}

    .back-link, .dets, .admin-side {display: inline-block; float: left; width: 15%;}
    .dets {width:70%;}

    .back-link {padding-left: 15px;margin-top: 250px;
      .text-link {font-size: 16px; color:$tbrown;}
    }
    .admin-side{margin-top: 260px; padding-right: 15px; float: right;
      .actions {float: right; }
      .woof-link{width:auto; display: block; float: right; margin-bottom: 8px;}
      .woof-link.edit {background-color: $compt;}
      .actions a{font-size: 15px; color:$white; background-color: $red; padding:10px 15px; font-weight: $semi;}
    }

    .post-body {@include sec-default(); background-color: $white; box-shadow: 0px 1px 10px rgba($black, .2); padding: 20px;}
    .image, .post-content {display: inline;width:45%; }
    .image{float: left;padding-right: 30px;}
    .post-content {
      width:55%;
      p {font-size: 15px; margin:10px 0;}
      p.date{font-size: 14px; color: #666; margin:0px;}
    }
  }

  .recent-posts {@include sec-default(); padding: 40px 0; background-color: $f9;
    h3{border-bottom: 1px solid rgba($tbrown, .1); padding-bottom: 4px; font-size: 1.3rem; font-weight: $semi;}

    .rpost {display: inline-block; float: left;
      width:30%; margin: 0 1.5% 20px;
      &:nth-child(2) { margin-right:2%;}
      &:nth-child(3) {float: right; margin-left: 0;}
    }
    .rtitle, .image { @include sec-default(); font-size: 15px; color:$tbrown;}
    .rtitle{margin-top: 15px; text-align: center;}
    .image { height:250px; overflow: hidden;}
  }

  @include bp(su) {
    .full-post {
      &::before {height:340px;}
      .admin-side {padding-right:0;
        .woof-link {margin-right:15px;}
      }
    }

    .recent-posts {
      .inside{width:70%;}
    }
  }

  @media (max-width:1200px) {
    .full-post {
      .title .inside.med2 {width:75%;}
      .back-link {padding-right:5px; padding-left: 10px;
        .text-link{font-size: 15px;}
      }
      .admin-side{padding-left:5px; padding-right: 10px;
        .woof-link {font-size:15px;}
      }

      .image {padding-right: 20px;}
    }
  }

  @include bp(tb) {
    .full-post {padding-bottom: 30px;
      .title .inside.med2 {width:80%;}
      h1{margin-bottom: 0; font-size: 1.5rem;}

      .back-link,.admin-side{padding:0px 10px 10px; margin-top:0;width:45%; margin-left: 4%;}
      .admin-side{float: right; margin: 0 4% 0 0; padding-bottom: 0;
        .woof-link{border:1px solid rgba($white,.5);}
        .woof-link.danger{margin-right: 10px;}
      }
      .dets{width:90%;@include center-block();}
    }

    .recent-posts { padding: 25px 0;
      h3{font-size: 1.2rem; }
      .image {height:auto; overflow: visible;
        img{height:200px;@include center-block(); }
      }
    }
  }

  @include bp(tn) {
    .full-post {
      .title .inside.med2 {width:90%;}
      h1{font-size: 1.35rem;}
    }
  }

  @include bp(md) {
    .full-post h1{font-size: 1.2rem;}

    .recent-posts { padding: 20px 0;
      h3{font-size: 1.1rem; }
      .rpost {
        width:47%; margin: 10px 0;
        &:nth-child(2) { float:right; margin-right: 0;}
        &:nth-child(3) {display:none;}
      }
      .image img{height:150px;}
    }
  }

  @include bp(oc) {
    .full-post {
      .back-link .text-link{font-size:14px;}
      .admin-side{
        .woof-link.edit, .woof-link.danger{font-size:14px; margin-right:5px;}
      }
      .dets{width:95%;@include center-block();}
    }
  }
}


//*********************************//
//***** contact and inquiries *****//
//*********************************//
.contacts, .candidates {
  h1{margin-bottom: 10px}
  h3{font-size: 1.3rem; margin-top: 0;}

  .inquiries, .full-contact {@include sec-default();padding: 100px 0;

    .woof-link{background-color: $white; color:$pink; display: block; width:80%; margin-bottom: 20px;}
    .over, .form-side {display: inline-block; float: left; width:25%;position: relative;z-index: 1;}
    .over { z-index: 0; padding-right:20px;
      &::before {@include before(); background-color: rgba($compt, .8); height:120%; width:180%; left:-18%; top:-10%;}
    }

    .form-side{width: 74%; float:right;}
    h3{font-size: 1.3rem; margin-bottom: 0;}
    p.disclose{margin-top: 5px;}

    form{@include sec-default(); border: $border; box-shadow: 0px 3px 5px rgba($black, .1);
      position: relative;z-index: 0;
      &::before {@include before(); background-color: rgba($f9, .93);}
      &::after {@include before(); z-index: -2; @include sec-bgimage('bday-treats.jpg'); background-size: cover; background-position: top center;}

      .top{width:95%; @include center-block();}

      .form-group {width:45%; display: inline-block; float: left; margin: 0 2.5% 25px;
        &.submit{@include sec-default;}

        &.terms{
          input#candidate_terms,label{display: inline-block; float: left; width:5%;}
          label {width:93%; margin-top: 6px;}
        }
      }
    }
  }


  @include bp(tb) {
    .inquiries, .full-contact {
      h3{font-size: 1.1rem;}
      p{font-size: 15px;}
    }
  }
}

.contacts {
  .pup-header.inline {background-color: rgba($compt, .7);
    .full{padding-top:80px;
      background-size: 44%; background-position: bottom right;
      &::before {background-color: rgba($compt, .7);}
    }
  }

  .intro-sec {@include sec-default(); text-align: center; padding-top: 60px;}
  .full-contact {padding: 45px 0 60px;
    .over, .form-side { width:33%;}
    .over { padding:30px 20px 30px 45px;
      &::before {@include before(); background-color: rgba($compt, .7); width:150%; }
      h3{color: $white; font-weight: bold; @include tshadowl(rgba($black, .3)); margin-bottom: 6px;}
      p{padding-left: 7px; margin-top: 5px; font-weight: $semi;}
    }
    .form-side{width: 67%; margin-top: 5%;}
  }

  @include bp(tb) {
    .intro-sec {padding-top: 30px;}
    .full-contact {padding-top:10px;
      .inside{width:90%;}
      .over { padding: 20px 20px 20px 30px;}
    }
  }

  @include bp(tn) {
    .intro-sec .inside.narrow{width:85%;}
    .full-contact {padding-top:10px;
      .over, .form-side {@include sec-default();}
      .over { padding: 20px 20px 20px 30px;
        background-color: $fa;
        &::before{display: none;}

        h3{color: $compt; text-shadow: none; font-size: 1rem;}
        hr{display: none;}

        .is-box {display: inline-block; float: left; width:45%;
          &.one{margin-left: 7%;}
          &.two, &.three {float: right; }
        }
      }
    }
  }

  @include bp(oc) {
    .intro-sec {width:95%;
      p{font-size: 15px;}
    }
    .full-contact {
      .over { padding: 20px 20px 15px;
        .is-box {width:50%;
          &.one{margin-left: 0;}
          &.two, &.three {text-align: right;}
        }
      }
      form {padding-right:30px;
        .form-group {@include sec-default(); margin-bottom: 15px;
          &.submit {margin-bottom: 0;}
          input[type=submit] {width:auto; font-size: 15px; padding:7px 20px;}
        }
      }
    }
  }

  @include bp(ph) {
    .full-contact {
      .over { padding: 20px 20px 15px;
        hr{display: block;}
        .is-box {
          &.one, &.two, &.three {width:80%; @include center-block();text-align: left;}
        }
      }
      form {padding-right:15px;}
    }
  }

  @include bp(sm) {
    .full-contact {
      .over {
        .is-box {
          &.one, &.two, &.three {width:95%;}
        }
      }
    }
  }
}

.candidates {
  .inquiries .over {
    hr{opacity: .6;}
    .text-link {color: $white;}
    .contact-info {padding-left: 20px;
      p {color: $white;@include tshadowl(rgba($black, .2));}
    }
  }

  @include bp(tb) {
    .inquiries {padding-top: 50px;
      .over {text-align: center; width:75%; @include center-block(); margin-bottom: 20px;
        &::before {display: none;}
        hr {width:50%; @include center-block();}
        .text-link{color: $compt;}
        .contact-info p{display: inline-block; float: none; width:45%; color: $tbrown; text-shadow:none;}
      }

      .form-side {@include sec-default();}
      form {
        .form-group{
          &.terms{
            input#candidate_terms,label{width:3%;}
            label {width:93%;}
          }

          &.submit {margin-bottom: 0;}
        }
      }
    }
  }

  @include bp(tn) {
    .inquiries {padding: 40px 0 30px;
      .over {width:95%; margin-bottom: 10px;}

      .form-side {@include sec-default();}
      form {
        .form-group{
          width: 90%; @include center-block(); margin-bottom: 15px;

          &.submit {width: 90%; @include center-block();
            input{font-size: 15px; margin-top: 20px; width:auto; padding:7px 20px;}
          }
        }
      }
    }
  }

  @include bp(ph) {
    .inquiries { padding-top: 25px;
      .over {width:98%;
        .contact-info p{@include sec-default(); margin: 0px 0 20px;}
      }

      .form-side {@include sec-default();}
    }
  }
}

.location-select {margin-top:15px;}


.db-listing {
  @include sec-default(); margin-bottom: 30px;
  h4, p {margin:0;}
}


//*********************************//
//*********** updates ***********//
//*********************************//

.posts.edit, .locations.edit {
  .thumb {width:100px;}
  p.tsmall {margin-bottom: 5px; font-size: 14px;}
}


.locations{
  .loc-form {
    h3 {margin-bottom: 15px; font-size: 1.2rem; font-weight: bold; color:$black; text-transform: uppercase; letter-spacing: .7px;
      background-color:$f2; padding:15px;
    }
    input {font-size: 13px;}

    .forminfo {
      &.hours, &.tags {display:block;}
    }
  }

  .cat.soc{
    span.soc {margin-left: 7px; color: $black; width: 17px; height: 17px;}
  }



  .l1{display: inline-block; float: left; width:30%; margin-left: 3%;}
}
.locations.show .image.attach img{ max-height: 360px; @include center-block();}

.grooming,.retail {
  .uk-lightbox.uk-overflow-hidden.uk-lightbox-panel.uk-open {background-color: rgba($black,.8);}
  .uk-lightbox-items>*>* {max-width: 90%; max-height: 90%;}
}

.services-layout {@include sec-default();
  .inline-show {@include sec-default(); padding-top:40px;position: relative; z-index: 0;
    .il-slideshow, .title {display: inline-block; float: left; width: 78%;}
    .title {width:21%; float: right; padding: 150px 0 0;}
    h1{color:$brown; text-transform: uppercase; letter-spacing: .5px; font-size: 1.75rem;}

    &::before{@include before(); height: 420px;background-color: $opink;}
    .il-slideshow {border:7px solid $white; width:75%;}
    .title { padding-top: 120px;}
  }

  .statement {@include sec-default(); padding:70px 0;
    p, h1,h2 {display: inline-block; float: left; width:34%; }
    h1,h2{font-size: 1.7rem; margin-bottom: 7px; font-weight: $semi; color:$pink; padding-right:20px;border-right: 1px solid rgba($black,.3);}
    p {width:60%; float: right; margin-top: 0; }
  }

  .gallery-sec {@include sec-default(); padding:50px 0;
    position: relative; z-index: 0;
    &::before{@include before(); height:40%; background-color: $opink;}

    &.uniform{
      .gall-img {display: inline-block; float: left; width:50%; padding:10px;
        &:nth-child(2n+2) {float: right;}
      }
    }

    &.stagg{
      .left,.right {display: inline-block; float: left; width:49%;}
      .right{float: right; margin-top:50px;}
      .gall-img {@include sec-default(); margin-bottom: 20px;}
    }

    &.mason {
      .left, .right {display: inline-block; float: left;}
      .right {float: right;}
      .gall-img{margin-bottom: 15px;
        &.hlf {display: inline-block; float: left; width:49%;}
        &.hlf.two {float: right;}
      }

      .top{
        .left {width:50%;
          .gall-img.hlf{height:255px;}
        }
        .right{width:49%;}

      }
    }
  }

  .list-box{@include sec-default(); padding: 60px 0 40px;
    h4{font-size: 1.25rem; font-weight: 600; text-transform: uppercase; letter-spacing: .5px; margin: 0px; color:$black;}

    .left,.sl-hlf{display: inline-block; float: left; width:40%; width:37%;}
    .sl-hlf{width:62%; float: right;
      .sl1, .sl2 {@include sec-default();}
      .sl1{margin-bottom: 30px;}
      p{margin-top: 10px;}
    }

    ul{@include sec-default(); margin-top:15px; padding-left:15px;}
    li {@include sec-default(); font-size: 16px;
      margin:0 10px 10px; padding-left:15px;
      position: relative; z-index: 0;
      &::before {@include before(); width:10px; height: 1px; background-color: $pink; top:12px; left:-5px;}
    }
  }

  .locations-disc{@include sec-default(); padding: 20px 0;
    text-align: center;
    @include sec-bgimage('treat-table.jpg');background-position: center center;
    position: relative; z-index: 0;
    &::before {@include after(); background-color: rgba($pink7, .8);}
    h4,.btn-hlf {display: inline-block; float: left; width:75%;}
    h4{font-size: 1.2rem; font-weight: bold; color: $white; @include tshadowl(rgba($black, .4)); margin-bottom: 0;
    }
    .btn-hlf {float: right; width:25%; margin-top: 0px;}
    .woof-link {background-color: $white; box-shadow: 0px 5px 8px rgba($black, .1); font-weight: bold; font-size: 1rem; color: $tbrown; text-shadow: none;}
  }
}

.retail .services-layout{
  .statement{
    h1, h2 {width:37%;}
    p{width:59%;}
  }
}

.doggie-daycare .services-layout {
  .inline-show {
    &::before{height:470px;}
    .title {padding-top:50px;}
    .srv-logo{margin-top:50px;}
  }
  .statement { text-align: center;
    p{ width:50%;}
    h2{width:50%; border:0;}

    .full {position: relative;z-index: 0;
      // &::before{@include before(); width:1px; left: 48%;background-color: rgba($black, .2);}
    }


    .full.two {margin-top: 40px;
      // &::before{left:55%;}
      p { float: left; }
      h2 {float: none;
        // width:36%; border-right: 0; padding-left: 7%;
        // border-left: 1px solid rgba($black,.2);
      }
    }
  }

  .statement.alt-lay{text-align: left;
    position: relative;z-index: 0;
    &::before{@include before(); width:1px; left: 49.5%; height:80%; top:10%; background-color: rgba($black, .2);}
    p,h2,h1 {@include sec-default(); border:none;}
    .text {display: inline-block; width: 45%; float: left;}
    .text.two {float: right;}
  }
}

.services-layout.vet {
  .inline-show {
    &::before{height:350px;}
    .il-slideshow { height:auto; width:800px; margin-left:5%;
      // max-height: 400px;max-height: 560px;
      ul{height:auto;}
      // li{ max-height: 400px; max-height: 560px; overflow: hidden;}
    }

    .title {margin-right: 4%;}
  }

  .list-box{
    .left{ width:35%;}
    .sl-hlf {width:60%;}
  }
}


.estates,.vendors,.reporters{
  .page-body {background-color:$f9;
    // padding: 70px 100px;
    // @include sec-bgimage('woof10.jpg');
    // position: relative; z-index: 0; &::before{@include before(); background-color: rgba($black, .5);}

    // .full-sec{background-position: bottom left;
    //   @include sec-bgimage('appa.jpg'); background-size: 43%;
    //   @include sec-bgimage('woof10.jpg');background-size: 43%;
    //   box-shadow: 0 5px 40px rgba($black, .35);
    // }
  }
  .intro-text, .form-side{display: inline-block; float: left; width:40%;}
  .intro-text{width:35%; margin-top:5%; margin-left:5%;
    h1{font-size: 1.6rem; margin-bottom: 0;}
    p{margin-top:8px;}
  }
  .form-side {float:right; width:55%;}

  p.print{font-size: 14px; color: $red; float: right;}
  .form-group {margin-bottom: 25px; }
  label {color: #666; font-weight: normal; font-size: 14px;}

  input, textarea, select {border:0;color: #000; font-size: 14px; background-color: transparent;}
  select {font-family: $body; color:#666; margin-bottom: 15px;}


  .form-group {border-bottom: 2px inset rgba($black,.3); margin-bottom:20px;
    &.submit {border-bottom: 0;}
  }
}

.estates, .vendors{
  hr{@include sec-default();}
  h3 {@include sec-default();margin-bottom: 15px; font-size: 1.2rem; font-weight: bold; color:$black; text-transform: uppercase; letter-spacing: .7px; background-color:$f2; padding:15px;}
}

.vendors{
  .form-group.big_box, .form-group.category {padding-bottom:5px;
    label, input {display: inline-block; }
    input {width: 25px; margin:0 0px 0 30px; height:20px;}
    label.full{@include sec-default(); margin-top: 0; margin-bottom: 20px;}
  }
  .form-group.category br{line-height: 2.2em;}
}

.reporters{
  // .page-body{
    // padding: 70px 100px;
    // position: relative; z-index: 0;
    // &::before{@include sec-bgimage('woof10.jpg'); width:43%;}

    // @include sec-bgimage('woof10.jpg');
    // &::after{@include before(); background-color: rgba($black, .5); }
  // }

  .full-sec{background-position: bottom left;
    @include sec-bgimage('appa.jpg'); background-size: 43%;
    box-shadow: 0 5px 40px rgba($black, .15);
    background-color: $white;
  }

  .form-group {width:48%; display: inline-block; float: left;
    &:nth-child(2n+2) {float: right;}
    &.content{@include sec-default();}
  }
}

.estates {
  .full-sec {padding-top:0;}
  .form-side{float: right; padding-top:40px; margin-right:5%;}
  .intro-text{width:35%; margin-top:0; margin-left:0;
    height:90vh;
    position: fixed;z-index: 10;
    @include sec-bgimage('appa.jpg'); background-size: cover;
    box-shadow: 0 5px 40px rgba($black, .15);
    background-color: $white;
  }
}






