<% @page_title = "Create a New Location" %>
<% @page_description = "New Description" %>

<div class="full-sec">
	<div class="inside">
		<h1><%= @page_title %></h1>
		<%= render 'form' %>
	</div>
</div>
