<div class="disclaimer-pg">
	<div class="dpg-inner">
		<p>The information on this website is not intended as an offer to sell, or the solicitation of an offer to buy, a franchise. It is for information purposes only. If you are a resident of a U.S. state or a country that regulates the offer and sale of franchises, are receiving this message in one of those states or countries, and/or intend to operate a franchise in any of those states or countries, we will not offer you a franchise unless and until we have complied with any applicable pre-sale registration and/or disclosure requirements in the applicable jurisdiction. Franchise offerings are made by Franchise Disclosure Document only.</p>
		
		<p>Currently, the following states regulate the offer and sale of franchises: California, Hawaii, Illinois, Indiana, Maryland, Michigan, Minnesota, New York, North Dakota, Oregon, Rhode Island, South Dakota, Virginia, Washington, and Wisconsin. In New York, an offering of a franchise can only be made by a prospectus that has been previously filed and registered with the Department of Law of the State of New York. The application for registration of an offering prospectus or the acceptance and filing thereof by the Department of Law of New York law does not constitute approval of the offering or the sale of such franchise by the Department of Law or the attorney general of New York.</p>

		<p>This website has not been reviewed or approved by any federal or state governmental or regulatory agency (domestic or international).</p>
	</div>
</div>