<div class="dpg-inner">
	<div class="disclaimer-pg">
		<p><b>DISCLAIMER:</b> This franchising information is not intended as an offer to sell, or the solicitation of an offer to buy, a franchise. It is for information purposes only. The following states regulate the offer and sale of franchises. These states are California, Hawaii, Illinois, Indiana, Maryland, Michigan, Minnesota, New York, North Dakota, Oregon, Rhode Island, South Dakota, Virginia, Washington and Wisconsin. If you are a resident of one of these states or intend to operate a franchise in any of these states, we will not offer or sell you a franchise unless and until we have complied with any applicable pre-sale registration and/or disclosure requirements in your state. This offering of a franchise in New York can only be made by a prospectus that has been previously filed and registered with the Department of Law of the State of New York. The application for registration of an offering prospectus or the acceptance and filing by the Department of Law as required by the State of New York law does not constitute NY approval of the offering or the sale of such franchise by the Department of Law or the attorney general of New York. The California Department of Corporations has not reviewed or approved our website. Any complaints regarding the website or its contents may be made to <a href="http://www.corp.ca/gov" target="_blank">www.corp.ca/gov.</a> 
		This website has not been reviewed or approved by any federal or state governmental or regulatory agency (domestic or international).
		</p>
	</div>
</div>

