<div class="footer">
	<div class="inside">
		<div class="fbs fb1">
			<ul class="ft-menu">
				<%= render 'layouts/nav' %>

			<% if user_signed_in? && current_user.admin? %>
				<li><%= link_to "Admin Account", account_path %> </li>
			<% end %>
			</ul>
		</div>

		<div class="fbs fb2">
			<ul class="social">
				<%= render 'shared/social' %>
			</ul>
		</div>

		<div class="fbs fb3">
			<p>7575 Dr. Phillips Blvd<br> Suite 275<br>
			Orlando, FL 32819</p>

			<!-- <p>407-355-9210</p> -->
			<!-- F: 877-554-1020 -->
			<!-- <p>Monday-Friday: 8am-5pm</p> -->
		</div>
	</div>
</div>
