<div class="header-full">
	<header>
		<nav class="uk-navbar-container" uk-navbar>
	  	<div class="full-navrow">

		    <div class="mid-logo">
	    	  <%= link_to(image_tag('wg-logo1.png', class: 'img-responsive hlogo'), root_path )%>
	    	  <!-- <%= link_to(image_tag('wg-logo-long.png', class: 'img-responsive hlogo'), root_path )%>   -->
				</div>

		    <!-- <ul id="main-nav" class="site-nav"> -->
		    <ul id="main-nav" class="site-nav uk-navbar-nav">
		    </ul>

		  </div>
		</nav>
	</header>
</div>
